#desc.tab-pane.container.pt-2.active.desc{ "aria-labelledby" => "home-tab", role: "tabpanel" }
  .row.pt-5.justify-content-between
    %main.col-12.col-xl-9.pr-5.mb-4
      = markdown(provider.description)
      = render "providers/coverage", provider: provider
      = render "providers/related", provider: provider, related_services: related_services

    %sidebar.col-12.col-xl-3
      - provider_sidebar_fields.each do |group|
        - if display_detail?(group, provider)
          %h5= t(".sidebar.title.#{group[:name]}")
          = render "providers/sidebar/#{group[:template]}",
                    provider: provider,
                    fields: group[:fields],
                    type: group[:type] || "",
                    clazz: group[:clazz] || "",
                    nested: group[:nested] || ""
          -# TODO: refactor dynamic translation (above)
