.row
  .col-12.col-lg-9.row
    .col-12.col-sm-3.d-flex.img-service-detail
      - if local_assigns[:preview]
        = image_tag backoffice_service_logo_preview_path(service_id: service.id || "new"),
        class: "align-self-center img-fluid"
      - elsif provider.logo.attached? && provider.logo.variable?
        = image_tag provider.logo, class: "align-self-center img-fluid provider-header"
      - else
        = image_pack_tag("eosc-img.png", size: "180x120", class: "align-self-center img-fluid provider-header")
    .col-12.col-sm-9.service-details-header
      %h2.font-weight-bolder= provider.abbreviation
      %p.mb-1= provider.name
  .col-12.col-lg-3.text-center.vertical-center
    .vertical-center-inner.access-type
      = link_to _("Browse resources"),
                    services_path(providers: provider.id),
                    class: "btn btn-primary d-block mb-3", "data-e2e": "btn-browse-resource"
      - if user_signed_in? && policy(provider).data_administrator?
        = render "providers/header/drop_down_menu", provider: provider
.row.service-links
  .col-12.col-lg-9.row
    .col-12.col-sm-3
    .col-12.col-sm-9
      - provider_header_fields.filter_map do |group|
        - if group[:name] == "links"
          = render "providers/sidebar/simple_links",
                      provider: provider,
                      fields: group[:fields],
                      nested: group[:nested] || ""
      - provider_header_fields.filter_map do |group|
        - if group[:name] == "statuses"
          = render "providers/header/list",
                      provider: provider,
                      fields: group[:fields],
                      nested: group[:nested] || ""
  .col-12.col-sm-3.question-col
    - if local_assigns[:question] && !provider.public_contacts.empty?
      = render "providers/ask_question", provider: provider, question: question
