- content_for :title, @provider.name
- breadcrumb :provider, @provider

.container{ class: "#{"suspended" if @provider.suspended?}" }
  .pt-4.service-box-redesign.service-detail
    = render Presentable::HeaderComponent.new(object: @provider,
                          title: @provider.abbreviation,
                          subtitle: @provider.name,
                          comparison_enabled: @comparison_enabled,
                          preview: @provider.suspended? || local_assigns[:preview]) do |c|
      - c.buttons do
        = render "components/presentable/header_component/provider_buttons", provider: @provider

    = render "providers/tabs", provider: @provider

.tab-content.provider-view{ class: "#{"suspended" if @provider.suspended?}" }
  #desc.tab-pane.container.active.desc{ "aria-labelledby": "home-tab", role: "tabpanel" }
    .row.justify-content-between
      %main.col-12.col-xl-9.pr-4.pt-4{ "data-shepherd-tour-target": "service-about" }
        = render Presentable::DescriptionComponent.new(object: @provider,
                              question: @question,
                              preview: @provider.suspended? || local_assigns[:preview]) do |c|
          - c.description_panels do
            = render "providers/related", provider: @provider, related_services: @related_services
        = render "taggable/details_section", taggable: @provider
      %sidebar.col-12.col-xl-3{ "data-shepherd-tour-target": "service-classification" }
        .right-panel-links
          - if !@provider.public_contacts.empty? && (@question || @preview)
            = render "components/presentable/ask_question", question_link: new_question_link(@provider),
              question: @question,
              prompt: new_question_prompt(@provider),
              preview: @preview
          = render Presentable::LinksComponent.new(object: @provider, preview: @preview)
