#desc.tab-pane.container.pt-2.active.desc{ "aria-labelledby" => "home-tab", role: "tabpanel" }
  .row.pt-3.justify-content-between
    %main.col-12.col-xl-9.pr-5.mb-4

      = markdown(service.description)
      - if policy(service).order? && !offers.empty?
        = render "services/offers", offers: offers, service: service

    %sidebar.col-12.col-xl-3
      - if any_present?(service, :places, :languages)
        %h5 Places and languages
        %ul.list-group
          - if !service.places.blank?
            %li.list-group-item
              %span
                = service.places
          - if !service.languages.blank?
            %li.list-group-item
              %span
                = service.languages

      - if any_present?(service, :platforms)
        %h5 Related Infrastructures and Platforms
        %ul.list-group
          - service.platforms.each do |platform|
            %li.list-group-item
              %span
                = platform.name

      - if any_present?(service, :webpage_url, :helpdesk_url, :manual_url, :tutorial_url)
        %h5 Support
        %ul.list-group
          - if !service.webpage_url.blank?
            %li.list-group-item
              %span
                = link_to("Webpage", service.webpage_url)
          - if !service.manual_url.blank?
            %li.list-group-item
              %span
                = link_to("Manual", service.manual_url)
          - if !service.helpdesk_url.blank?
            %li.list-group-item
              %span
                = link_to("Helpdesk", service.helpdesk_url)
          - if !service.tutorial_url.blank?
            %li.list-group-item
              %span
                = link_to("Tutorial", service.tutorial_url)

      - if any_present?(service, :corporate_sla_url, :terms_of_use_url, :access_policies_url)
        %h5 Documents
        %ul.list-group
          - if !service.corporate_sla_url.blank?
            %li.list-group-item
              %span
                = link_to("Corporate SLA", service.corporate_sla_url)
          - if !service.terms_of_use_url.blank?
            %li.list-group-item
              %span
                = link_to("Terms of use", service.terms_of_use_url)
          - if !service.access_policies_url.blank?
            %li.list-group-item
              %span
                = link_to("Access policies", service.access_policies_url)

      - if any_present?(service, :restrictions)
        %h5 Service restrictions
        %ul.list-group
          - if !service.restrictions.blank?
            %li.list-group-item
              %span
                = service.restrictions

      - if any_present?(service, :phase)
        %h5 Service phase
        %ul.list-group
          - if !service.phase.blank?
            %li.list-group-item
              %span
                = service.phase
