#desc.tab-pane.container.pt-2.active{ "aria-labelledby" => "home-tab", role: "tabpanel" }
  .row.pt-3
    .col-8
      = markdown(service.description)
      = render "services/offers", offers: offers
    .col-4
      %h3 Places and languages
      %ul
        %li
          %span
            = service.places
        %li
          %span
            = service.languages
      %h3 Dedicated for
      %ul
        - service.dedicated_for.each do |dedication|
          %li
            %span
              = dedication
      %h3 Support
      %ul
        %li
          %span
            = link_to("Webpage", service.webpage_url)
        %li
          %span
            = link_to("Manual", service.manual_url)
        %li
          %span
            = link_to("Helpdesk", service.helpdesk_url)
        %li
          %span
            = link_to("Tutorial", service.tutorial_url)
      %h3 Some header
      %ul
        %li
          %span
            = link_to("Corporate SLA", service.corporate_sla_url)
        %li
          %span
            = link_to("Terms of use", service.terms_of_use_url)
        %li
          %span
            = link_to("Access policies", service.access_policies_url)
      %h3 Service restrictions
      %ul
        %li
          %span
            = service.restrictions
      %h3 Service phase
      %ul
        %li
          %span
            = service.phase
