#desc.tab-pane.container.pt-2.active.desc{ "aria-labelledby" => "home-tab", role: "tabpanel" }
  .row.pt-5.justify-content-between
    %main.col-12.col-xl-9.pr-5.mb-4

      = markdown(service.description)
      - if policy(service).order? && !offers&.empty?
        = render "services/offers", offers: offers, service: service

    %sidebar.col-12.col-xl-3.pl-5
      - Service::SIDEBAR_FIELDS.each do |group|
        - if any_present?(service, *group[:fields])
          %h5= t(".sidebar.title.#{group[:name]}")
          %ul.list-group
            = render "services/sidebar/#{group[:template]}", service: service, fields: group[:fields]
      - if current_user&.executive?
        %h5 Statistics
        %ul.list-group
          %li.list-group-item
            %span Total visits:
            %strong.text-dark= analytics[:views]
          %li.list-group-item
            %span Total redirections:
            %strong.text-dark= analytics[:redirects]
          %li.list-group-item
            %span Total occurrences in project:
            %strong.text-dark= service.project_items_count
          - if service.offers.orderable.present?
            %li.list-group-item
              %span Total orders:
              %strong.text-dark= service.project_items.orderable.size
