#desc.tab-pane.container.pt-2.active.desc{ "aria-labelledby" => "home-tab", role: "tabpanel" }
  .row.pt-5.justify-content-between
    %main.col-12.col-xl-9.pr-5.mb-4{ "data-shepherd-tour-target": "service-about" }

      = markdown(service.description)
      - if policy(service).order? && !offers&.empty?
        = render "services/offers", offers: offers, service: service

    %sidebar.col-12.col-xl-3{ "data-shepherd-tour-target": "service-classification" }
      - Service::SIDEBAR_FIELDS.each do |group|
        - if any_present?(service, *group[:fields])
          %h5= t(".sidebar.title.#{group[:name]}")
          = render "services/sidebar/#{group[:template]}",
                    service: service,
                    fields: group[:fields],
                    type: group[:type] || "",
                    nested: group[:nested] || ""
          -# TODO: refactor dynamic translation (above)
      - if current_user&.executive?
        %h5
          = _("Statistics")
        %ul.list-group
          %li.list-group-item
            %span
              = _("Total visits") + ":"
            %strong.text-dark= analytics[:views]
          %li.list-group-item
            %span
              = _("Total redirections") + ":"
            %strong.text-dark= analytics[:redirects]
          %li.list-group-item
            %span
              = _("Total occurrences in project") + ":"
            %strong.text-dark= service.project_items_count
          - if service.offers.order_required.present?
            %li.list-group-item
              %span
                = _("Total orders") + ":"
              %strong.text-dark= service.project_items.order_required.size

      %a.more-details{ href: service_details_path(service), "data-shepherd-tour-target": "service-more-about" }
        = _("More about")
        = service.name
        %i.fas.fa-long-arrow-alt-right
