.col-md-12.mb-2
  %h1.categories
    - unless params[:q].blank?
      %span Looking for:
      #{params[:q]}
    - else
      = category&.name || "Services"
  .col-md-12.mb-1
    - if category && params[:q].blank?
      %p.text-muted.mb-4.ml-1= category.description
  - if active_filters.present?
    .col-md-12.mb-3
      %p.mb-1 Active filters
      .active-filters
        - active_filters.each do |title, label, p|
          .filter-tag
            %span.text-muted
              #{title}:
            = label
            = link_to(p) do
              .fas.fa-times

        - if active_filters.present?
          .filter-tag.clear
            = link_to controller: controller.controller_name, action: action_name,
                    per_page: params[:per_page], sort: params[:sort] do
              %span Clear all filters
              .fa.fa-times
