.col-md-12.d-flex.align-items-stretch.bundle{ id: "bundle-#{bundle.id}" }
  .card.mb-5
    = render "services/bundles/description", bundle: bundle
    = render "services/bundle", bundled_offers: bundle.all_offers, parent: bundle.main_offer
    = render "services/offers/bundle_links",
       contact_email: bundle.contact_email || "",
       related_training: bundle.related_training_url || "",
       helpdesk_url: bundle.helpdesk_url || ""
    .card-button.text-center
      %label
        = link_to service_offers_path(bundle.service,
              customizable_project_item: { offer_id: bundle.main_offer.iid, bundle_id: bundle.iid }),
              "data-probe": "", "data-service-id": bundle.service.id, method: :put do
          %span.btn.btn-primary
            = _("Select bundle")
