.bundle-item.align-items-stretch{ id: "offer-#{offer.id}" }
  .card
    .card-body.d-flex.flex-row
      - if offer.service.logo.attached? && offer.service.logo.variable?
        .bundle-offer-pic.p-2
          = image_tag offer.service.logo.variant(crop: [0, 0, 84, 84])
      - else
        .bundle-offer-pic.p-2
          = image_pack_tag("eosc-img.png")
      .bundle-offer-desc.p-2
        %h4.card-title
          = offer.name
        .provided-by
          = _("Provided by #{offer.service.resource_organisation.name}")
      .bundle-offer-parameters.p-2
        .card-text{ "data-controller" => "paragraph" }
          = render "services/offers/bundle_parameters",
                technical_parameters: offer.attributes.map(&:to_json)
      .bundle-offer-order-type
        = t("offers.type.#{offer.order_type}")
