%dl.mb-0
  %dt.x-small
    %span
      = _("Provided by") + ":"
  %dd.x-small
    %mr-4= safe_join(resource_organisation_and_providers(service), ", ")
%dl.mb-0.research
  %dt.x-small
    %span
      = _("Scientific domain") + ":"
  %dd.x-small
    %mr-4= safe_join(scientific_domains_text(service), ", ")
%dl.mb-0.dedicated
  %dt.x-small
    %span
      = _("Dedicated for") + ":"
  %dd.x-small
    %mr-4= safe_join(dedicated_for_text(service), ", ")
%span.clearfix
