%dl.mb-0
  %dt.x-small
    %span
      = _("Organisation") + ":"
  %dd.x-small
    %mr-4= resource_organisation(service)
- unless service.providers?
  %dl.mb-0
    %dt.x-small
      %span
        = _("Provided by") + ":"
    %dd.x-small
      %mr-4= safe_join(providers(service), ", ")
%dl.mb-0.research
  %dt.x-small
    %span
      = _("Scientific domain") + ":"
  %dd.x-small
    %mr-4= safe_join(scientific_domains_text(service), ", ")
%span.clearfix
