%h5.mb-3.position-relative Filters
= form_tag "", method: :get, role: "search", class: "", "data-sync-query-form": "data-sync-query-form" do
  %p.font-weight-bold.mt-3 Provider location
  .row
    .col-md-10.offset-md-1
      .form-group
        %select#location.form-control.form-control-sm{ name: "location" }
          = options_for_select([["Any", ""], ["EU", "EU"]], params[:location])

  %p.font-weight-bold.mt-3 Provider
  .row
    .col-md-10.offset-md-1
      .form-group
        %select#provider.form-control.form-control-sm{ name: "provider" }
          %option{ value: "", selected: "selected" }
            Any
          = options_for_select(providers.map { |provider| [provider.name, provider.id] }, params[:provider])

  %p.font-weight-bold.mt-3 Rating
  .row
    .col-md-10.offset-md-1
      .form-group
        %select#rating.form-control.form-control-sm{ name: "rating" }
          = options_for_select([["Any", ""],
                                ["★+", "1"],
                                ["★★+", "2"],
                                ["★★★+", "3"],
                                ["★★★★+", "4"],
                                ["★★★★★", "5"]], params[:rating])

  %p.font-weight-bold.mt-3 Research Area
  .row
    .col-md-10.offset-md-1
      .form-group
        %select#research-area.form-control.form-control-sm{ name: "research_area" }
          %option{ value: "", selected: "selected" }
            Any
          = options_for_select(research_areas.map { |area| [area.name, area.id] }, params[:research_area])
  .row
    .col.pr-2
      %button#filter-submit.btn.btn-primary.mt-4.w-100{ type: "submit" }
        filter

