%h5.text-uppercase.underline-light.mb-2.pb-2
  Filters
.row
  .col-md-12
    - if controller.filters_on?
      .x-small.mb-3.mt-1
        = link_to controller: controller.controller_name, action: action_name,
                  per_page: params[:per_page], sort: params[:sort] do
          .fa.fa-times
          Clear all filters
= form_tag "", method: :get, role: "search", class: "filters", "data-sync-query-form": "data-sync-query-form" do
  %h6 Provider location
  .row
    .col-md-12
      .form-group
        %select#location.form-control.form-control-sm{ name: "location" }
          = options_for_select([["Any", ""], ["EU", "EU"]], params[:location])

  %h6 Providers
  .row
    .col-md-11.offset-md-1
      .form-group
        = multi_checkbox :providers, params[:providers], provider_options

  %h6 Related Infrastructures and platforms
  .row
    .col-md-11.offset-md-1
      .form-group
        = multi_checkbox :related_platforms, params[:related_platforms], related_platform_options

  %h6 For
  .row
    .col-md-11.offset-md-1
      .form-group
        = multi_checkbox :target_groups, params[:target_groups], target_groups_options
  %h6 Rating
  .row
    .col-md-12
      .form-group
        %select#rating.form-control.form-control-sm{ name: "rating" }
          = options_for_select(rating_options, params[:rating])

  %h6 Research Area
  .row
    .col-md-12
      .form-group
        %select#research-area.form-control.form-control-sm{ name: "research_area" }
          %option{ value: "", selected: "selected" }
            Any
          = options_for_select(research_areas, params[:research_area])
  - if tag_options.present?
    %h6 Tag
    .row
      .col-md-11.offset-md-1
        .form-group
          = multi_checkbox :tag, params[:tag], tag_options
  .row
    .col-md-12
      %button#filter-submit.btn.btn-primary.mt-4.w-100{ type: "submit" }
        Filter

