.panel-group{ id: "filters", role: "tablist", "aria-multiselectable": "true" }
  %h5.underline-light.mb-2.pb-2.mt-4
    .row
      .col-7.text-uppercase
        = _("Filters")

  = form_tag "", method: :get, role: "search", class: "filters", "data-controller": "filter",
    "data-filter-target": "form", "data-shepherd-tour-target": "overview_7" do
    - query_params.slice(:q, :sort, :per_page).each do |key, value|
      = hidden_field_tag key, value, "data-indelible": true if params[key].present?
    - filters.each do |filter|
      = render "services/filters/#{filter.type}", filter: filter
