.panel-group{ "id": "filters", "role": "tablist", "aria-multiselectable": "true" }
  %h5.underline-light.mb-2.pb-2.mt-4
    .row
      .col-7.text-uppercase
        Filters

  = form_tag "", method: :get, role: "search", class: "filters", "data-controller": "filter",
    "data-target": "filter.form" do
    = hidden_field_tag :q, params[:q] if params[:q].present?
    = hidden_field_tag :sort, params[:sort] if params[:sort].present?
    - @filters.each do |filter|
      = render "services/filters/#{filter.type}", filter: filter
