.media.border-0
  .media-body
    .row
      .col-12.col-lg-9.mb-4.row
        .col-12.col-sm-3.mb-4
          - if service.logo.attached?
            = image_tag service.logo.variant(resize: "180x120"), class: "align-self-center img-fluid"
        .col-12.col-sm-9
          %h2.font-weight-bolder= service.title
          %p.mb-1= service.tagline
          = render "services/categorization", service: service
          .row.mt-2
            .col
              = print_rating_stars(service.rating)
              %span.ml-1.font-weight-bold
                (#{service.rating} /5)
              = link_to "#{service.service_opinion_count} reviews", service_opinions_path(service), class: "ml-3"
      .col-12.col-lg-3.text-center
        = yield
