- effective_show_comparison = local_assigns.fetch(:show_comparison, true)
- effective_show_recommendations = local_assigns.fetch(:show_recommendations, true)
.container
  .row
    .col-lg-3.mb-5.pl-0
      = render "services/nav/categories", current: category,
                                          categories: categories,
                                          subcategories: subcategories,
                                          services_count: services_count
      = render "services/filters", filters: filters, query_params: query_params

    .col-lg-9.pr-0{ "data-controller": "favourite #{effective_show_comparison ? "comparison" : ""}",
               "data-shepherd-tour-target": "overview_5" }
      .row.mb-4
        = render "services/active_filters", category: category, active_filters: active_filters,
          query_params: query_params
        - if effective_show_recommendations && recommended_services.present?
          = render partial: "services/recommendation_panel_v1",
                     locals: { highlights: highlights, category: category, recommended_services: recommended_services }
        = render "services/pagination", sort_options: sort_options, services: services,
          pagy: pagy, query_params: query_params

      %p
        = render partial: "service", collection: presentable,
                 locals: { highlights: highlights,
                           category: category,
                           offers: offers,
                           favourite_services: favourite_services,
                           comparison_enabled: comparison_enabled,
                           remote: true,
                           tour_overview_9_target_on_counter: 0 }

        = render "services/paginate", pagy: pagy

        #popup-modal.modal.show{ "data-favourite-target": "popup", tabindex: "-1",
                                  role: "dialog", aria: { hidden: "true" } }
      - if effective_show_comparison
        - display_class = (session[:comparison]&.size || 0).positive? ? "d-block" : "d-none"
        #comparison-bar.comparison-bar.fixed-bottom{ class: display_class,
          "data-comparison-target": "bar", "data-e2e": "comparison-bar" }
          = render "comparisons/bar", services: compare_services, category: category
