.container
  .row
    .col-lg-3.mb-5
      = render "services/nav/categories", current: category,
                                          categories: categories,
                                          subcategories: subcategories,
                                          services_count: services_count
      = render "services/filters", filters: filters

    .col-lg-9
      .row.mb-4
        = render "services/active_filters", category: category, active_filters: active_filters
        = render "services/pagination", sort_options: sort_options, services: services

      = render services, highlights: highlights, category: category
  = render "services/paginate", services: services
