
.container
  .row
    .col-lg-3.mb-5
      = render "services/nav/categories", current: category,
                                          categories: categories,
                                          subcategories: subcategories,
                                          services_count: services_count
      = render "services/filters", filters: filters

    .col-lg-9
      .row.mb-4
        = render "services/active_filters", category: category, active_filters: active_filters
        = render "services/pagination", sort_options: sort_options, services: services

      %p
        - ab_test "recommended", "top", "bottom" do |text|
          .media.mb-3.service-box.p-3
            %p RECOMMENDED SERVISESSSSSSSSSSS
            %p= text

          = render partial: "service", collection: services,
            locals: { highlights: highlights,
                      category: category,
                      offers: offers,
                      comparison_enabled: comparison_enabled,
                      remote: true }
          = render "services/paginate", services: services

