.container
  .row
    .col-lg-3.mb-5
      = render "categories/nav/categories", current: category,
                                            categories: categories,
                                            subcategories: subcategories
      = render "services/filters", provider_options: provider_options,
                                   research_areas: research_areas,
                                   target_groups_options: target_groups_options,
                                   rating_options: rating_options,
                                   tag_options: tag_options,
                                   active_filters: active_filters,
                                   related_platform_options: related_platform_options

    .col-lg-9
      %header.row.mb-4
        .col-md-8
          = yield
        .col-md-3.offset-md-1.my-auto
          = form_tag services_path, method: :get, role: "search" do
            .row
              .col-md-2
                %label.small.mt-2
                  Sort
              .col-md-10
                %select#sort.query-sort.form-control.form-control-sm{ "data-submit-on-change": "data-submit-on-change" }
                  = options_for_select([["by name A-Z", "title"],
                                        ["by name Z-A", "-title"],
                                        ["by rate 1-5", "rating"],
                                        ["by rate 5-1", "-rating"]], params[:sort])

      = render services
  = render "services/paginate", services: services
