.container
  .row
    .col-lg-3.mb-5
      = render "services/nav/categories", current: category,
                                          categories: categories,
                                          subcategories: subcategories,
                                          services_count: services_count
      = render "services/filters", provider_options: provider_options,
                                   research_areas: research_areas,
                                   target_groups_options: target_groups_options,
                                   rating_options: rating_options,
                                   tag_options: tag_options,
                                   active_filters: active_filters,
                                   related_platform_options: related_platform_options

    .col-lg-9
      .row.mb-4
        = yield

      = render services, highlights: highlights
  = render "services/paginate", services: services
