.col-md-6.d-flex.align-items-stretch.resource-offers{ id: "offer-#{offer.id}" }
  .card.m-0.mb-5.w-100.d-block
    = render "services/offers/description", offer: offer
    = render "services/offers/parameters", id: offer.id,
      technical_parameters: offer.attributes.map(&:to_json), service: offer.service
    - if policy(ServiceContext.new(offer.service, params.key?(:from) && params[:from] == "backoffice_service")).order?
      .card-button.text-center
        .btn.btn-back{
          data: {
            action: "click->duplicate#showModal",
            duplicate_url: duplicate_offer_path(offer.service, offer),
            offer_name: offer.name } }
          Duplicate
        %label.d-block
          = link_to service_choose_offer_path(offer.service, customizable_project_item: { offer_id: offer.iid }),
          data: { probe: "", "service-id": offer.service.id, e2e: "select-offer-btn",
          "preview-target": local_assigns[:preview] ? "link" : "", "turbo-method": :put } do
            %span.btn.btn-secondary.font-weight-bolder
              = _("Select an offer")
