.col-md-6.d-flex.align-items-stretch.mb-5{ "data-controller" => "service-offer" }
  .card.offers
    .card-body.pt-4.collapse-group
      - if offer.voucherable
        .card-label
          %i.fas.fa-ticket-alt
          %span Voucher
      %h4.card-title= offer.name
      %p
        .card-text.mb-2
          - if offer.description.size > 200
            = markdown(offer.description.truncate(200, separator: " "))
            = link_to "Show more", "#", class: "show-more-#{offer.id}",
                                  data: { "target" => "service-offer.showMore",
                                          "action" => "click->service-offer#showMore",
                                          "text": markdown(offer.description) }
          - else
            = markdown(offer.description)
      %h5.text-uppercase.parameters-title.mb-0= "Technical parameters"
      = render "services/parameters", parameters: offer.attributes

      - if offer.bundle?
        = render "services/bundle", bundled_offers: offer.bundled_offers
    .card-button.text-center
      %label
        - if offer.catalog?
          = link_to offer.service.connected_url do
            %span.btn.btn-light.border.border-secondary.font-weight-bold
              = t("offer.order_text.#{offer.offer_type}")
        - else
          = link_to service_offers_path(offer.service, project_item: { offer_id: offer.iid }), method: :put do
            %span.btn.btn-light.border.border-secondary.font-weight-bold
              = t("offer.order_text.#{offer.offer_type}")
