.service-info-box.recommendation
  .recommend-box
    Suggested
  %header
    = link_to truncate(recommendation_v2.send(:name), length: 40, escape: false),
              service_path(recommendation_v2, category.present? ? { fromc: category.slug } : nil,
              from_recommendation_panel: true), "data-probe": "recommendation-panel"
  %article
    %p
      .image-frame
        %span.helper
        = service_logo(recommendation_v2)
      = truncate(recommendation_v2.send(:tagline), length: 110, escape: false)
  %footer
    .column-left
      %p
        %small
          = _("Organisation") + ":"
        %br
          %span
            = resource_organisation_text(recommendation_v2).truncate(24)
    .column-right
      %p.text-right
        %small
          = _("Dedicated for") + ":"
        %br
          %span
            = safe_join(dedicated_for_text(recommendation_v2), ", ").truncate(24)
