.search-box
  = form_tag "#{services_path}", method: :get, role: "search",
             "data-target": "autocomplete.form search.form",
             "data-controller": "search autocomplete",
             "data-autocomplete-url": "service_autocomplete",
             "data-search-services-path": services_path,
             "data-search-categories-path": "/services/c" do

    .input-group
      %label.sr-only{ for: "search" } Search
      = text_field_tag :q, params[:q], class: "autocomplete-input form-control w-50",
                                       placeholder: "Find service...",
                                       "data-target": "autocomplete.input",
                                       "data-toggle": "dropdown"

      = hidden_field "service_id", nil, "data-target": "autocomplete.hidden"
      %select#category-select.custom-select.rounded-0{ "data-action": "change->search#refresh",
                                                       "data-target": "search.categorySelect" }
        %option{ value: "", selected: "selected" }
          All services
        = options_for_select categories.map { |category| [category.name, category.slug] }, params[:category]
      .input-group-append
        %button#query-submit.input-group-text.bg-white
          %i.fas.fa-search
    %ul.autocomplete-results{ "data-target": "autocomplete.results" }
