.media.mb-3.service-box.shadow-sm
  .media-body.p-4
    %h2.mb-3= yield
    %p.mb-3= highlighted_for(:tagline, service, highlights)
    = render "services/categorization", service: service
    - if service_offers && service_offers.any?
      .offers-box.clearfix
        %span.x-small
          - if service_offers.size == 1
            The service has 1 offer that matches your search criteria
          - else
            The service has #{service_offers.size} offers that match your search criteria
        = render "services/offers_box", service_offers: service_offers,
          service: service
  - if service.logo.attached?
    = image_tag service.logo.variant(resize: "120x120"), class: "align-self-center mx-4 service-logo"

