.card.bg-gray-5.border-0
  .card-body
    %h3.card-title= link_to service.name.truncate(35, separator: " "), service, name: service.name,
    "data-target": local_assigns[:preview] ? "preview.link" : ""
    .row.card-description
      .col-4
        = service_logo(service)
      .col
        = service.tagline.truncate(105, separator: " ")
    .clearfix
  .card-footer.no-gutters.row.mb-2
    .col.x-small
      %span
        = _("Organisation") + ":"
      %strong{ "data-toggle" => "tooltip", "title" => "#{ providers_text(service).join(", ") }" }
        = resource_organisation_text(service).truncate(24)
    .col.x-small.no-gutters
      %span.text-right
        = _("Dedicated for") + ":"
      %strong.text-right{ "data-toggle" => "tooltip",
                          "title" => "#{ service.target_users.map(&:name).join(", ")}" }
        #{service.target_users.map(&:name).join(", ").truncate(26, separator: " ")}
