= render "service_details", service: service, highlights: highlights[service.id],
  service_offers: filtered_offers(offers[service.id]), comparison_enabled: comparison_enabled,
  tour_overview_9_target: local_assigns[:tour_overview_9_target_on_counter] == service_counter do
  = link_to highlighted_for(:name, service, highlights[service.id]),
    service_offers_path(service, category.present? ? { fromc: category.slug } : nil),
      "data-e2e": "service-name", "data-probe": "", "data-service-id": service.id
  - content_for :comparison_checkbox do
    .mt-3.compare
      %label{ options(service.slug, comparison_enabled) }
        = check_box_tag "comparison", service.slug, checked?(service.slug), id: "comparison-#{service.id}",
              class: "form-check-input",
              disabled: !checked?(service.slug) && comparison_enabled,
              "data-probe": "",
              "data-service-id": service.id,
              "data-e2e": "comparison-checkbox",
              "data-comparison-target": "checkbox",
              "data-action": "click->comparison#update"
        %span
          = _("Compare")
  - content_for :favourite_checkbox do
    .mt-3.compare.favourites
      %label
        = check_box_tag "favourite", service.slug, favourite?(Array(favourite_services), service.slug),
          id: "favourite-#{service.id}",
              class: "form-check-input",
              "data-favourite-target": "checkbox",
              "data-e2e": "favourite-checkbox",
              "data-action": "click->favourite#updateFromRes",
              "data-value": "box-#{service.id}"
        %span
          = _("Add to favourites")
