.card.bg-gray-5.border-0
  .card-body
    %h3.card-title= link_to service.title.truncate(35, separator: " "), service, title: service.title
    .row.card-description
      - if service.logo.attached?
        .col-4
          = image_tag service.logo.variant(resize: "100x67"),
            class: "align-self-center mr-4 float-left img-responsive"
      .col
        = service.tagline.truncate(105, separator: " ")
    .clearfix
  .card-footer.no-gutters.row.mb-2
    .col.x-small
      %span
        Provided by:
      %strong{ "data-toggle" => "tooltip", "title" => "#{ service.providers.map { |p| p.name }.join(", ") }" }
        #{service.providers.map { |p| p.name }.join(", ").truncate(26, separator: " ") }
    .col.x-small.no-gutters
      %span.text-right
        Dedicated for:
      %strong.text-right{ "data-toggle" => "tooltip",
                          "title" => "#{ service.target_groups.map { |p| p.name }.join(", ")}" }
        #{service.target_groups.map { |x| x.name }.join(", ").truncate(26, separator: " ")}
