.media
  .media-body
    %h2= link_to service.title, service
    %p.mb-3= service.tagline
    .row
      .col
        Provided by
        = link_to service.provider.name, service.provider
      .col
        %code TODO
        Area
        %strong Biology
      .col
        = service.dedicated_for
  - if service.logo.attached?
    = image_tag service.logo.variant(resize: "150x150"), class: "align-self-center mx-2"
