.media.mb-3.service-box.shadow-sm
  .media-body.pt-4
    .pl-4.pr-4.mb-3
      %h2.mb-3{"data-probe" => "", "data-service-id" => service.id}= yield
      %p.mb-3= highlighted_for(:tagline, service, highlights)
      = render "services/categorization", service: service
      - if content_for(:checkbox)
        = yield_content!(:checkbox)
    - if service_offers && service_offers.any?
      .offers-box.clearfix
        .pl-4.pr-4
          %span.x-small.text-uppercase
            - if service_offers.size == 1
              = _("The resource has 1 offer that matches your search criteria")
            - else
              = _("The resource has %{sos} offers that match your search criteria") % { sos: service_offers.size }
          = render "services/offers_box", service_offers: service_offers,
            service: service
  .right-extra-info
    .text-center.badge.text-uppercase
      %i{ class: "ordertype #{order_type(service)}" }
      -# TODO: refactor dynamic translation
      = t("offers.type.#{order_type(service)}")
    .service-logo
      = service_logo(service, "align-center mx-4 service-logo", "120x120")
