.media.mb-4.service-box.shadow-sm
  .media-body.p-4
    %h2.mb-3= link_to service.title, service
    %p.mb-3= service.tagline
    = render "services/categorization", service: service
    .mt-3.float-left
      = print_rating_stars(service.rating)
  - if service.logo.attached?
    = image_tag service.logo.variant(resize: "120x120"), class: "align-self-center mx-4 service-logo"
