.card.bg-gray-5.border-0
  .card-body
    %h3.card-title= link_to service.title, service
    %p.card-text
      - if service.logo.attached?
        = image_tag service.logo.variant(resize: "100x67"),
          class: "align-self-center mr-4 float-left"
      = service.tagline
    .clearfix
  .card-footer.no-gutters.row.mb-2
    .col.x-small
      %span
        By:
      %strong
        #{service.providers.map { |p| p.name }.join(", ")}
    .col.x-small.no-gutters
      %span.text-right
        For:
      %strong.text-right
        #{service.dedicated_for.map { |x| x }.join(", ")}


