%ul#my-tab.nav.nav-tabs.mt-4.row.pl-3{ role: "tablist" }
  %li.nav-item
    = link_to "About", service_path(service),
      class: "nav-link text-uppercase #{"active" if controller.controller_name == 'services'}", role: "tab"
  %li.nav-item
    = link_to "Opinions (#{service.service_opinion_count})", service_opinions_path(service),
     class: "nav-link text-uppercase #{"active" if controller.controller_name == 'opinions'}", role: "tab"
