- @category ? breadcrumb(:category, @category) : breadcrumb(:services)

= render "services/index", services: @services,
                           category: @category,
                           categories: @siblings,
                           subcategories: @subcategories,
                           provider_options: @provider_options,
                           research_areas: @research_areas,
                           target_groups_options: @target_groups_options,
                           rating_options: @rating_options,
                           tag_options: @tag_options,
                           active_filters: @active_filters,
                           related_platform_options: @related_platform_options do

  .col-md-12
    %h1= @category&.name || "Services"
  .col-md-12
    %hr.category-separator
  .col-md-3.results-info
    1-10 results from 38
  .col-md-5
    = render "services/order"
  .col-md-4
    = render "services/paginate_simple", services: @services
  - if @category
    %p.text-muted.mb-4.ml-3= @category.description
