
- breadcrumb :services

.container
  .row
    .col-md-3.pr-5
      = render "categories/subcategories", subcategories: @subcategories
      = render "filters", provider_options: @provider_options,
                          research_areas: @research_areas,
                          dedicated_for_options: @dedicated_for_options,
                          rating_options: @rating_options
    .col-md-9
      .row
        .col-md-8
          %h1.mb-0.font-weight-bold Services
          %p.text-muted.mb-4
            Service description. When category is selected than title and this
            description should reflect it.
        .col-md-3.offset-md-1.my-auto
          = form_tag services_path, method: :get, role: "search", class: "" do
            .row
              .col-md-2
                %label.small.mt-2
                  Sort
              .col-md-10
                %select#sort.query-sort.form-control.form-control-sm{ "data-submit-on-change": "data-submit-on-change" }
                  = options_for_select([["by name A-Z", "title"],
                                        ["by name Z-A", "-title"],
                                        ["by rate 1-5", "rating"],
                                        ["by rate 5-1", "-rating"]], params[:sort])

      = render @services
  = render "paginate", services: @services
