- content_for :title, @service.name
- id = @service.sources&.first&.eid || @service.slug
:javascript
  _paq.push(['trackEvent', 'Service', 'Visit', '#{id}']);
- breadcrumb :service, @service
= render "services/errors", service: @service
.container{ "data-controller": "comparison" }
  .pt-4.pl-3.pr-3.shadow-sm.rounded.service-box.service-detail{ "data-shepherd-tour-target": "service-box",
                                                                "data-controller": "favourite" }
    = render "services/header", service: @service, comparison_enabled: @comparison_enabled, question: @question,
                             favourite_services: @favourite_services
    = render "services/tabs", service: @service
    #popup-modal.modal.show{ "data-target": "favourite.popup", tabindex: "-1",
                                    role: "dialog", aria: { hidden: "true" } }
  #comparison-bar.comparison-bar.fixed-bottom{ class: (session[:comparison]&.size || 0) > 0 ? "d-block" : "d-none",
  "data-target": "comparison.bar" }
    = render "comparisons/bar", services: @compare_services, category: @category
.tab-content
  = render "services/about", service: @service, offers: @offers, analytics: @analytics
  = render "services/tags", service: @service

.container.mt-4.pt-4.related-container
  = render "services/related", related_services: @related_services, title: @related_services_title
