- breadcrumb :service, @service
.container
  = render "services/header", service: @service, question: @question
  = render "services/tabs", service: @service

.tab-content
  = render "services/about", service: @service, offers: @offers
  = render "services/tags", service: @service

.container.mt-4.pt-4.related-container
  = render "services/related", related_services: @related_services
