- breadcrumb :service, @service
.container
  .pt-4.pl-3.pr-3.shadow-sm.rounded.service-box.service-detail
    = render "services/header", service: @service, question: @question
    = render "services/tabs", service: @service

.tab-content
  = render "services/about", service: @service, offers: @offers
  = render "services/tags", service: @service

.container.mt-4.pt-4.related-container
  = render "services/related", related_services: @related_services
