- breadcrumb :service, @service
.container
  = render "services/header", service: @service, question: @question

  %ul#my-tab.nav.nav-tabs.mt-4{ role: "tablist" }
    %li.nav-item
      %a#home-tab.nav-link.text-uppercase.active{ "aria-controls" => "home",
                                                  "aria-selected" => "true",
                                                  "data-toggle" => "tab",
                                                  href: "#desc",
                                                  role: "tab" } About
    %li.nav-item
      %a#opinions-tab.nav-link.text-uppercase{ "aria-controls" => "opinions",
                                              "aria-selected" => "false",
                                              "data-toggle" => "tab",
                                              href: "#opinions",
                                              role: "tab" } Opinions (#{@service.service_opinion_count})

.tab-content
  = render "services/about", service: @service, offers: @offers
  = render "services/opinions", service_opinions: @service_opinions

.container
  = render "services/related", related_services: @related_services
