- breadcrumb :service, @service
.container{ "data-controller": "comparison" }
  .pt-4.pl-3.pr-3.shadow-sm.rounded.service-box.service-detail
    = render "services/header", service: @service, question: @question, comparison_enabled: @comparison_enabled
    = render "services/tabs", service: @service
  #comparison-bar.comparison-bar.fixed-bottom{ class: (session[:comparison]&.size || 0) > 0 ? "d-block" : "d-none",
  "data-target": "comparison.bar" }
    = render "comparisons/bar", services: @compare_services, category: @category
.tab-content
  = render "services/about", service: @service, offers: @offers
  = render "services/tags", service: @service

.container.mt-4.pt-4.related-container
  = render "services/related", related_services: @related_services
