- breadcrumb :service, @service
.container
  %h1= @service.title
  %p
    %b= @service.tagline
  %p= @service.description
  .row
    .col
      = print_rating_stars(@service.rating)
      %span.small.ml-1.font-weight-bold
        (#{@service.rating} /5)
      %a{ href: "", class: "small ml-3" }
        #{@service.service_opinion_count} opinions

.container
  %ul#my-tab.nav.nav-tabs.mt-4{ role: "tablist" }
    %li.nav-item
      %a#home-tab.nav-link.text-uppercase.active{ "aria-controls" => "home",
                                                  "aria-selected" => "true",
                                                  "data-toggle" => "tab",
                                                  href: "#desc",
                                                  role: "tab" } Description
    %li.nav-item
      %a#profile-tab.nav-link.text-uppercase{ "aria-controls" => "profile",
                                              "aria-selected" => "false",
                                              "data-toggle" => "tab",
                                              href: "#order",
                                              role: "tab" } Order Specification
    %li.nav-item
      %a#opinions-tab.nav-link.text-uppercase{ "aria-controls" => "opinions",
                                              "aria-selected" => "false",
                                              "data-toggle" => "tab",
                                              href: "#opinions",
                                              role: "tab" } Opinions (#{@service.service_opinion_count})
.tab-content
  = render "services/description", service: @service
  = render "services/order"
  = render "services/opinions", service_opinions: @service_opinions
