.offer-section-wrapper
  .bordered-header Provider
  %dl
    %dt
      = _("Name") + ":"
    %dd= service_resource_organisation(project_item)
  - unless service_providers_list(project_item).blank?
    %dl
      %dt
        = _("Service Providers") + ":"
      %dd= service_providers_list(project_item)
  %dl
    %dt
      = _("E-mail") + ":"
    %dd
      %a{ href: "/projects/1/services/1/conversation" }Ask provider a question

.offer-section-wrapper.mt-4
  .bordered-header Informations
  %dl
    %dt
      = _("Service name") + ":"
    %dd
      - if project_item.offer.deployable_service.present?
        = link_to project_item.service.name, deployable_service_path(project_item.service)
      - else
        = link_to project_item.service.name, service_offers_path(project_item.service)
  - if project_item.service.offers_count > 1
    %dl
      %dt
        = _("Service offer") + ":"
      %dd= project_item.name
  %dl
    %dt
      - if project_item.orderable?
        = _("Order date:")
      - else
        = _("Added to the project:")
    %dd= l project_item.created_at, format: :short
  %dl
    %dt= _("Service access") + ":"
    = render Services::InlineOrderTypeComponent.new(:dd, project_item.order_type)
  %dl
    %dt
      = _("Project name") + ":"
    %dd= link_to project.name, project
  - if project_item.service.resource_level_url.present?
    %dl
      %dt
        = _("SLA") + ":"
      %dd= link_to _("Service Level Agreement"), project_item.service.resource_level_url
  - unless service_providers_list(project_item).blank?
    %dl
      %dt
        = _("Service Providers") + ":"
      %dd= service_providers_list(project_item)
  - if project_item.offer.deployable_service.present?
    %dl
      %dt
        = _("Deployment Access") + ":"
      %dd
        - if project_item.deployment_link.present?
          = link_to "Access Deployment", project_item.deployment_link,
                target: "_blank", class: "btn btn-success", rel: "noopener"
        - elsif project_item.rejected?
          %span.text-danger
            %i.fas.fa-exclamation-triangle
            = _("Deployment failed")
            %small.text-muted.d-block= project_item.status
        - elsif project_item.in_progress?
          %span.text-muted
            %i.fas.fa-spinner.fa-spin
            = _("Deployment in progress")
        - else
          %span.text-warning
            %i.fas.fa-clock
            = _("Deployment pending")

  - if policy(project_item).destroy_infrastructure?
    %dl
      %dt
        = _("Infrastructure Management") + ":"
      %dd
        = button_to _("Destroy Infrastructure"),
            project_service_infrastructure_path(project, project_item),
            method: :delete,
            class: "btn btn-outline-danger btn-sm",
            data: { "turbo-confirm": _("Are you sure you want to destroy this infrastructure? This action cannot be undone.") }
