- breadcrumb :project_item, project_item

= render "projects/layout", project: project, projects: projects do
  .pt-4.pl-3.pr-3.shadow-sm.rounded.service-box.service-detail.mb-4.project-heading
    .row
      .col-md-8.d-flex.align-items-center
        .box-wrapper
          %h1.flex-grow-1.text-break
            #{project_item.service.title}
          .row
            .col-md-12.back-link
              %i.fas.fa-chevron-left.fa-xs.mr-1
              = link_to "back to #{project.name} project services", [project, :services]
      .col-md-4.float-right.justify-content-center
        - if project_item.orderable?
          %p.text-uppercase.text-right.font-weight-bold.text-secondary.mb-0
            %span{ class: "status-#{project_item.status}" }= t("project_items.status.#{project_item.status}")

        - elsif project_item.webpage.present?
          = link_to t("common.#{project_item.order_type}.link"), project_item.webpage,
          class: "btn btn-primary float-right pl-3 pr-3", target: "_blank", title: "External link"
    %ul.nav.nav-tabs.mt-4.pl-3.row.services-menu
      %li.nav-item
        = link_to "Details", project_service_path(project, project_item),
          class: "nav-link #{"active" if controller.controller_name == "services"} text-uppercase"
      - if project_item.orderable?
        %li.nav-item
          = link_to "Order history", project_service_timeline_path(project, project_item),
            class: "nav-link #{"active" if controller.controller_name == "timelines"} text-uppercase"
      %li.nav-item
        = link_to "Contact with service provider", project_service_conversation_path(project, project_item),
          class: "nav-link #{"active" if controller.controller_name == "conversations"} text-uppercase"
  .container.p-0
    = yield
