- breadcrumb :project_item, project_item

= render "projects/layout", project: project, projects: projects do
  .service-box-redesign.service-detail.mb-4.project-heading
    // To add after creating DS list page view
    //.back-link.mb-4
    //    %i.fa.fa-arrow-left.mr-1
    //    - if project_item.is_root?
    //      = link_to _("Go back to %{pn} project services") % { pn: project.name }, [project, :services]
    //    - else
    //      = link_to _("Go back to %{pn}") % { pn: project_item.parent.name },
    //              project_service_path(project, project_item.parent)
    .row
      .col-lg-9.col-12
        = render Services::InlineOrderUrlComponent.new(offerable: project_item,
            classes: "btn btn-primary float-right pl-4 pr-4")
        - if project_item.orderable?
          .project-badge.project-resource-type.mr-0.mb-4{ class: "status-#{project_item.status_type}" }
            %span= t("project_items.status.#{project_item.status_type}")
        %h1.flex-grow-1.text-break
          #{project_item.service.name}
        = strip_tags(project_item.service.description.to_s)

        - if project_item.bundle?
          .project-badge.d-inline.mb-0.ml-2.project-resource-type.mr-0
            = _("BUNDLE")

      .col-lg-3.col-12pr-0
      - if project_item.deployment_link.present?
        %a{ class: "btn float-right btn-primary pl-4 pr-4 mt-2 text-center" }
          Go to service
          %i.fa.fa-arrow-right.ml-1

    - if project_item.in_progress?
      .deploy-infobox
        %h4 Deployment in progress
        %p
          We are deploying your service. This process may take a few minutes. Once it is finished,
          %br
          you will get full access to the tool.

    %ul.nav.nav-tabs.mt-4.pl-3.row.services-menu
      %li.nav-item
        = link_to _("Details"), project_service_path(project, project_item),
          class: "nav-link #{"active" if controller.controller_name == "services"}"
      - if project_item.orderable?
        %li.nav-item
          = link_to _("Order history"), project_service_timeline_path(project, project_item),
            class: "nav-link #{"active" if controller.controller_name == "timelines"}"
      %li.nav-item.contact-nav
        = link_to _("Contact service provider"),
          project_service_conversation_path(project, project_item),
          class: "nav-link #{"active" if controller.controller_name == "conversations"}"
        - if project_item.user_has_new_messages?
          .new-message-icon
            = image_tag "ico_message.svg"
  .container.p-0
    = yield
