- content_for :title, @project.name
- breadcrumb :project, @project

= render "projects/project_layout", project: @project, projects: @projects do
  - if @project_items.empty?
    = render "projects/empty_project", project: @project
  - else
    - if @order_required_items.any?
      .ordered-resources
        %h3.mt-5.mb-3= _("Ordered resources")
        %ul.list-group
          = render(partial: "projects/services/project_item",
            collection: @order_required_items,
            locals: { project: @project })
    - if @open_access_items.any?
      .open-access-resources
        %h3.mt-5.mb-3= _("Open access resources")
        %ul.list-group
          = render(partial: "projects/services/project_item",
            collection: @open_access_items,
            locals: { project: @project })
    - if @other_items.any?
      .other-resources
        %h3.mt-5.mb-3= _("Other resources")
        %ul.list-group
          = render(partial: "projects/services/project_item",
            collection: @other_items,
            locals: { project: @project })
    %hr.bottom-hr.mt-3.mb-4
    - if !@project.archived?
      = link_to (("Add resource to this project")), project_add_path(@project),
        class: "btn btn btn-primary mr-5",
        method: :post
