#desc.tab-pane.container.pt-2.active.desc{ "aria-labelledby" => "home-tab", role: "tabpanel" }
  .row.pt-5.justify-content-between
    %main.col-12.col-xl-9.pr-5.mb-4{ "data-shepherd-tour-target": "service-about" }

      = markdown(@object.description)
      - if show_banner?(@object.tag_list)
        = render "services/notebook_eosc_explore", name: @object.name, tags: @object.tag_list

      = description_panels
    %sidebar.col-12.col-xl-3{ "data-shepherd-tour-target": "service-classification" }
      = render Presentable::LinksComponent.new(object: @object, preview: @preview)
      - if @object.respond_to?(:resource_organisation)
        = render Presentable::ProviderInfoComponent.new(object: @object.resource_organisation, preview: @preview)
      = render Presentable::SidebarComponent.new(@object)
      -# TODO: refactor dynamic translation (above)
      = sidebar_options

      - if @preview
        %a.more-details{ href: "javascript:;",
                         "data-action": "click->preview#toggle",
                         "data-value": "details",
                         "data-probe" => "" }
          = _("More about")
          = @object.name
          %i.fas.fa-long-arrow-alt-right
      - elsif @object.is_a?(Datasource)
        %a.more-details{ href: "javascript:;",
                         "data-action": "click->datasource#toggle",
                         "data-value": "details",
                         "data-probe" => "" }
          = _("More about")
          = @object.name
          %i.fas.fa-long-arrow-alt-right
      - else
        %a.more-details{ href: details_link,
                         "data-shepherd-tour-target": "service-more-about",
                         "data-probe" => "" }
          = _("More about")
          = @object.name
          %i.fas.fa-long-arrow-alt-right
