#desc.tab-pane.container.pt-2.active.desc{ "aria-labelledby" => "home-tab", role: "tabpanel" }
  .row.pt-3.justify-content-between
    %main.col-12.col-xl-9.pr-4{ "data-shepherd-tour-target": "service-about" }
      .service-description-container
        = markdown(@object.description)
      - if show_banner?(@object.tag_list)
        = render "services/notebook_eosc_explore", name: @object.name, tags: @object.tag_list

      .service-boxes-container
        = render Presentable::SidebarComponent.new(@object)
        -# TODO: refactor dynamic translation (above)
        = sidebar_options

      = description_panels
      .related-container.mt-4
        .row
          .col-12
            = render "services/related", related_services: @similar_services, title: similar_services_title
        .row
          .col-12
            = render "services/related", related_services: @related_services, title: related_services_title
    %sidebar.col-12.col-xl-3{ "data-shepherd-tour-target": "service-classification" }
      %a.right-panel-button.explore{ href: "#" }
        Explore Compatible<br>
        Reseach Products
      %a.right-panel-button.interoperability{ href: "#" }
        Interoperability guidelines
      .right-panel-links
        - if !@object.public_contacts.empty? && (@question || @preview)
          = render "components/presentable/header_component/ask_question", question_link: new_question_link,
            question: @question,
            prompt: new_question_prompt,
            preview: @preview
        = render Presentable::LinksComponent.new(object: @object, preview: @preview)
      .provider-panel
        - if @object.respond_to?(:resource_organisation)
          = render Presentable::ProviderInfoComponent.new(base: @object, preview: @preview)

