#desc.tab-pane.container.pt-2.active.desc{ "aria-labelledby" => "home-tab", role: "tabpanel" }
  .row.pt-5.justify-content-between
    %main.col-12.col-xl-9.pr-5.mb-4{ "data-shepherd-tour-target": "service-about" }

      = markdown(@object.description)
      - if @object.pid == (ENV["OPENAIRE_NOTEBOOKS__ACTIVATION_PID"] || "egi-fed.notebook")
        = render "notebook_openaire_explore"

      = description_panels
    %sidebar.col-12.col-xl-3{ "data-shepherd-tour-target": "service-classification" }
      = render Presentable::SidebarComponent.new(@object)
      -# TODO: refactor dynamic translation (above)
      = analytics

      - if @preview
        %a.more-details{ href: "javascript:;",
                         "data-action": "click->preview#toggle",
                         "data-value": "details",
                         "data-probe" => "" }
          = _("More about")
          = @object.name
          %i.fas.fa-long-arrow-alt-right
      - else
        %a.more-details{ href: details_link,
                         "data-shepherd-tour-target": "service-more-about",
                         "data-probe" => "" }
          = _("More about")
          = @object.name
          %i.fas.fa-long-arrow-alt-right
