.details-box-wrapper
  = render Presentable::SidebarComponent.new(@object)
  - details_columns.each do |column|
    - column.map do |group|
      - next unless display_detail?(group, @object)
      .details-box{
        class: "#{group[:name]}"
        }
        .details-header
          %h5= t("components.presentable.details_component.details.title.#{group[:name]}")
        .details-content
          = render "components/presentable/details_component/#{group[:template]}",
                          object: @object,
                          fields: group[:fields],
                          type: group[:type] || "single",
                          clazz: group[:clazz] || "",
                          nested: group[:nested] || {},
                          inactive: @object.suspended? && !group[:active_when_suspended],
                          with_desc: group[:with_desc] || false,
                          preview: @preview
.related-container
  .row
    .col-12
      = render "services/related", related_services: @related_services, title: related_services_title,
      preview: @preview
