- horizontal = !@object.instance_of?(Provider) && @object&.horizontal
.row.space-between
  .col-12.col-lg-9.row
    .col-12.col-sm-3.d-flex.img-service-detail
      - if @preview
        = image_tag backoffice_service_logo_preview_path(service_id: @object.id || "new"),
        class: "align-self-center img-fluid"
      - else
        = presentable_logo(@object)
    .col-12.col-sm-9.service-details-header
      %h2.font-weight-bolder.mb-1= @title
      %p.abbreviation= @abbreviation.presence
      = render "components/presentable/header_component/badges", object: @object

      - unless @object.instance_of?(Provider)
        = render "components/presentable/header_component/categorization",
              service: @object,
              highlights: nil,
              preview: @preview || @object.suspended?,
              backoffice: request.fullpath.include?("backoffice")
      %p.mb-3.subtitle-row= @subtitle

      - if @object.instance_of?(Service)
        .row.mt-2
          .col
            .stars
              = print_rating_stars(@object.rating)
            .rating
              %span.ml-1.font-weight-bold
                #{@object.rating}/5
              = service_opinions_link(@object, @preview) if @object.persisted?
            - if @show_checkboxes
              %fieldset{ preview_link_parameters(@preview) }
                .comparison
                  %span.compare
                    %label{ @preview ? {} : options(@object.slug, @comparison_enabled) }
                      = check_box_tag "comparison", @object.slug, checked?(@object.slug),
                        id: "comparison-#{@object.id}",
                        class: @preview ? "form-check-input disabled" : "form-check-input",
                        disabled: !checked?(@object.slug) && @comparison_enabled,
                        "data-probe" => "",
                        "data-e2e": "comparison-checkbox",
                        "data-comparison-target": "checkbox",
                        "data-action": "click->comparison#update"
                      %span.smaller
                        = _("Compare")
                    - if @favourites_enabled
                      %span.compare.favourites.ml-3
                        %label{ @preview ? {} : options(@object.slug, @comparison_enabled),
                        "data-toggle": "tooltip-none", title: "" }
                          = check_box_tag "favourite", @object.slug, favourite?(Array(@favourite_services), @object.slug),
                            id: "favourite-#{@object.id}",
                                class: "form-check-input",
                                "data-favourite-target": "checkbox",
                                "data-e2e": "favourite-checkbox",
                                "data-action": "click->favourite#updateFromRes",
                                "data-value": "favourite-#{@object.id}"
                          %span.smaller
                            = _("Add to favourites")
  .col-12.col-lg-3.text-center{ class: ("horizontal-space" if horizontal) }
    .vertical-center-inner.access-type
      = buttons
