.provider-panel
  .provider-head
    .provider-logo
      = presentable_logo(@object, "align-self-center img-responsive", [80, 80])
    .provider-name
      = @object.name

  - object_fields.each do |field, opts|
    - next unless @object.send(field).present?
    .provider-row
      %strong
        = field.to_s.humanize.singularize.upcase_first
        %br
      %span
        - if opts[:array]
          - @object.send(field).each do |association|
            %div= opts[:value] ? association.send(opts[:value]) : association
        - elsif opts[:type] == "url"
          %a{ href: @object.send(field), target: "_blank", "data-preview-target": @preview ? "link" : "" }
            = @object.send(field)

  %a.provider-more-link{ href: @base.organisation_search_link(@object.name, services_path(providers: @object.id)),
  "data-preview-target": @preview ? "link" : "" }
    See all services provided by
    = @object.name
