.status-column
  .status= @object.status
.actions-column
  .service-buttons
    .btn-group.float-right
      - if @destroy
        = link_to _("Delete"),
              send("backoffice_#{@object_type}_path", @object.id),
              class: "btn-special no-border delete-button",
              data: { turbo_confirm: action_prompt(@object_type, "remove"), turbo_method: :delete }

      - if @unpublish
        = link_to _("Unpublish"),
              unpublish_path,
              class: "btn-special ml-3",
              data: { turbo_confirm: action_prompt(@object_type, "unpublish"),
              turbo_method: :post }

      - if @publish
        = link_to _("Publish"),
              send("backoffice_#{@object_type}_publish_path", @object),
              class: "btn btn-primary ml-3",
              data: { turbo_confirm: "Confirm to publish",
              confirm_details: "Are you sure you want to publish this #{@object_type}?",
              confirm_button: "Publish",
              e2e: "publish-btn", turbo_method: :post }
        - if @suspend
          = link_to _("Suspend"),
              suspend_path,
              class: "btn-special ml-3",
              data: { turbo_confirm: action_prompt(@object_type, "suspend"),
              turbo_method: :post }
