= simple_form_for [:admin, lead_section] do |f|
  = f.input :slug
  = f.input :title
  = f.input :template, collection: LeadSection::TEMPLATES

  .row.mt-5
    .col-12
      .button-wrapper.mr-5
        = f.button :submit, class: "btn btn-primary"
      = link_to _("Cancel and back to lead manager"), admin_leads_path,
        class: "text-left flex-grow-1 text-uppercase float-left mt-2"
