:ruby
  technical_parameters = offer.attributes.map(&:to_json)
  published_offers_size = offer.service.offers.published.size
  duplicate_url = duplicate_offer_path(offer.service, offer)

.col-md-6.edit-offer{ "data-e2e": "offer" }
  .card.m-0.mb-5{ class: offer.default ? "default" : nil }
    - if offer.default && published_offers_size == 2
      .card-body.pt-0.collapse-group
        .container
          .row.info-row
            .col-12.col-sm-3
              = image_tag "icon-pencil.png", class: "icon-pencil"
            .col-12.col-sm-9.pl-0
              %p
                -# haml-lint:disable MultilinePipe
                = _("Your technical parameters configuration has been changed into a default offer. ")
                = _(" Please provide the offer Name and Description for a better user experience.") |
                -# haml-lint:enable MultilinePipe
    - else
      - content_for :status do
        = service_status(offer, "text-sm-left fa-pull-left badge-left")
      = render "services/offers/description", offer: offer
    = render "layouts/common_parts/services/parameters", technical_parameters: technical_parameters

    .card-button.text-center
      .btn.btn-back{ data: { action: "click->duplicate#showModal", duplicate_url: duplicate_url, offer_name: offer.name} }
        Duplicate
      %label
        = link_to edit_offer_link(offer.service, offer, controller_name) do
          %span.btn.btn-outline-secondary.font-weight-bold
            - if published_offers_size == 1
              = _("Edit parameters")
            - else
              = _("Edit")
