- if offers&.find(&:voucherable)
  .container
    .voucher-box.row.p-3
      .col-12.col-lg-4.pl-0.pt-2.voucher-title
        %i.fas.fa-ticket-alt.fa-3x.d-inline
        .d-inline
          %span.text-uppercase.mb-3
            = _("Marketplace")
          %span.big
            = _("Vouchers")
      .col-12.col-lg-7
        %p.pt-3
          -# haml-lint:disable MultilinePipe
          = _("Vouchers allow researchers to test different configurations or different services to choose the " + |
              "best offer for their needs.") |
          -# haml-lint:enable MultilinePipe
%hr.bottom-hr.mt-5.mb-4
#offers
%h2.mb-4.mt-5.font-weight-normal
  = _("Parameters and offers")
.row.parameters{ data: { controller: "duplicate" } }
  = render "backoffice/services/offers/duplicate_modal", service: service
  - if offers.present?
    = render partial: "layouts/common_parts/services/default_parameters", locals: { offer: offers.manageable.first }
    = render partial: "layouts/common_parts/services/offer", collection: offers[1..], as: :offer if offers.manageable.size > 1
  = render "layouts/common_parts/services/new_offer", service: service
.row.parameters
%h2.mb-4.mt-5.font-weight-normal
  = _("Bundles")
%p.mb-5
  -# haml-lint:disable MultilinePipe
  = _("You can order this resource in a bundle, with resources connected by scientific domain or type " + |
            "of research. The bundle is configured to make your research easier and done more efficiently.") |
  -# haml-lint:enable MultilinePipe
.row
  = render partial: "layouts/common_parts/services/bundle_box", collection: bundles, as: :bundle
  = render "layouts/common_parts/services/new_bundle", service: service
