= simple_form_for user, url: profile_path(user)  do |f|
  .row
    .col-12.col-md-5.profile-edit{ "data-shepherd-tour-target": "profile-additional-information" }
      .bordered-header
        %h3
          = _("Additional information")

      = f.association :categories, multiple: true,
      collection: Category.child_names.map { |name, c| [name, c.id] },
      input_html: { data: { choice: true }, "data-e2e": "categories-select" }
      = f.association :scientific_domains, multiple: true,
      collection: ScientificDomain.child_names.map { |name, sd| [name, sd.id] },
      input_html: { data: { choice: true }, "data-e2e": "scientific-domain-select" }
    .col-12.col-md-5.profile-edit.ml-auto
      .bordered-header
        %h3
          = _("Email notifications")

      %h5.mb-4
        = _("Keep me regularly informed on all our updates.")
      = f.input :categories_updates, as: :boolean, include_hidden: false
      = f.input :scientific_domains_updates, as: :boolean, include_hidden: false


  %hr.bottom-hr.mt-5.mb-4
  .row.mt-5
    .col-12.col-md-7
      .button-wrapper.mr-5
        = f.button :submit, method: :patch, class: "btn btn-primary",
          "data-shepherd-tour-target": "profile-submit", "data-e2e": "submit-btn"
      = link_to _("Cancel and back to previous page"), profile_path,
        class: "text-left float-left mt-2 flex-grow-1 text-uppercase"
    .col-12.col-md-5.delete-info
      .delete-text
        -# haml-lint:disable MultilinePipe
        = _("If you're no longer interested in sharing with us your data, you can delete information connected to " + |
            "your profile by clicking the button") |
        -# haml-lint:enable MultilinePipe

      = link_to _("Delete"), profile_path(user), method: :delete, class: "btn-sm btn-danger", "data-e2e": "delete-btn",
      data: { confirm: _("Are you sure?") }
