.container
  - breadcrumb :profile

  %h1
    = _("Profile")

  = render "basic_information"

  #profile-information.row
    .col-12.col-md-5.profile-edit
      .bordered-header
        %h3
          = _("Additional information")
        %span= link_to "Edit", edit_profile_path, class: "btn-sm btn-warning edit-button",
        "data-shepherd-tour-target": "profile-edit", "data-e2e": "additional-inf-edit"
      %h5
        = _("Categories of interests")
      %ul{ "data-e2e": "category-item" }
        - current_user.categories.each do |category|
          %li
            %span= category.name

      %h5
        = _("Scientific domains of interests")
      %ul{ "data-e2e": "scientific-domain-item" }
        - current_user.scientific_domains.each do |sd|
          %li
            %span= sd.name
    .col-12.col-md-5.profile-edit.ml-auto
      .bordered-header
        %h3
          = _("Email notifications")
        %span= link_to _("Edit"), edit_profile_path, class: "btn-sm btn-warning", "data-e2e": "email-notif-edit"
      %h5
        = _("You are signed up to receive updates about new EOSC Services in your") + ":"
      %ul{ "data-e2e": "email-notif-item" }
        - if current_user.categories_updates
          %li
            %span
              = _("Category of interests")
        - if current_user.scientific_domains_updates
          %li
            %span
              = _("Scientific domain of interests")
      %p.small
        = _("You can add or remove notification channel at any time by editing your subscribe preferences.")
