- content_for :title, _(@type.pluralize)
- breadcrumb :backoffice_vocabularies, @type.pluralize

= render "layouts/backoffice/other_settings_wrapper" do
  .container.p-0.backoffice
    %h1
      Vocabularies
    .row
      .col-12.col-md-3
        = render "backoffice/other_settings/vocabularies/nav", types: @all_types, type: @type
      .col-12.col-md-9
        %h2
          = _(@type.pluralize)
          - if policy([:backoffice, Vocabulary]).new?
            .float-right
              = link_to _("+ Add new #{@type}"),
                            send("new_backoffice_other_settings_#{snake_cased(@type)}_path"),
                            class: "btn btn-primary",
                            "data-e2e": "add-new-vocabulary-btn"
            .clearfix
        -# haml-lint:disable InlineStyles
        %ul.list-group.backoffice-list.mt-3.mb-3{ "data-e2e": "backoffice-vocabulary-list" }
          - ancestry_tree(@vocabularies).each do |record|
            - vocabulary = record[1]
            %li.list-group-item{ class: "#{"subcategory" if vocabulary.ancestry_depth.positive?}",
                                 style: style_indentation_variables(vocabulary) }
              = link_to send("backoffice_other_settings_#{snake_cased(@type)}_path", record.last) do
                = record.first
              .buttons-box
                - if policy([:backoffice, Vocabulary]).destroy?
                  = link_to send("backoffice_other_settings_#{snake_cased(@type)}_path", vocabulary),
                        data: { "turbo-method": :delete, "turbo-confirm": _("Are you sure you want to remove this #{@type}?") },
                        class: "delete-icon float-right" do
                    %i.far.fa-trash-alt
                - if policy([:backoffice, Vocabulary]).edit?
                  = link_to _("Edit"), send("edit_backoffice_other_settings_#{snake_cased(@type)}_path", vocabulary),
                  class: "edit-btn float-right mr-4"
        -# haml-lint:enable InlineStyles
