- content_for :title, @datasource.name
- breadcrumb :datasource, @datasource
.container{ "data-controller": "datasource" }
  .container
    .pt-4.pl-3.pr-3.shadow-sm.rounded.service-box.service-detail{ "data-shepherd-tour-target": "service-box" }
      = render Presentable::HeaderComponent.new(object: @datasource,
                            title: @datasource.name,
                            abbreviation: @datasource.abbreviation,
                            subtitle: @datasource.tagline,
                            comparison_enabled: @comparison_enabled,
                            show_checkboxes: false,
                            preview: local_assigns[:preview],
                            question: @question,
                            favourite_services: @favourite_services) do |c|
        - c.buttons do
          = render "components/presentable/header_component/datasource_buttons", datasource: @datasource

      = render "backoffice/datasources/tabs", datasource: @datasource, params: { from: "backoffice_datasource" }
  .tab-content
    #about{ "data-datasource-target": "content" }
      = render Presentable::DescriptionComponent.new(object: @datasource, from: "backoffice_service") do |c|
        - c.sidebar_options do
          %h5
            = _("Updates")
          %ul.list-group
            - if @datasource.synchronized_at.present?
              %li.list-group-item
                %span
                  = _("Synchronized at") + ":"
                %strong.text-dark= l @datasource.synchronized_at, format: :short
            %li.list-group-item
              %span
                = _("Updated at") + ":"
              %strong.text-dark= l @datasource.updated_at, format: :short
      = render "taggable/details_section", taggable: @datasource
    #details.d-none{ "data-datasource-target": "content" }
      = render Presentable::DetailsComponent.new(@datasource, preview: false)
