.card.border.rounded.mb-2.pb-2.pt-2
  .card-header.d-flex{ role: "tab", id: "accordion-header-affiliation-#{affiliation.id}" }
    %h6.my-auto.mr-auto{ "data-toggle": "collapse", href: "#accordion-collapse-affiliation-#{affiliation.id}",
     "aria-expanded": "false" }
      %p.display-2.font-weight-bold.my-auto
        #{affiliation.organization}
      - unless affiliation.department.blank?
        %p.small.mb-0.mt-2
          #{affiliation.department} department
    %span.text-uppercase.my-auto.ml-3
      = affiliation.status
    %span.small.my-auto.ml-3
      last change: #{affiliation.updated_at.strftime("%d.%m.%Y")}
    .btn-group.my-auto.ml-3
      - if policy(affiliation).edit?
        = link_to "Edit",
                  edit_profile_affiliation_path(affiliation),
                  class: "btn btn-secondary btn-sm"
      - if policy(affiliation).destroy?
        = link_to "Delete",
                  profile_affiliation_path(affiliation),
                  method: :delete, data: { confirm: "Are you sure?" },
                  class: "btn btn-error btn-sm"
  .collapse{ "data-parent": "#accordion-affiliations",
             role: "tabpanel",
             id: "accordion-collapse-affiliation-#{affiliation.id}" }
    .card-block
      .row.container.p-3
        .col-md-3
          %p.small.mb-0 Email:
          = link_to affiliation.email, "mailto:#{affiliation.email}"
        .col-md-3
          %p.small.mb-0 Phone:
          - unless affiliation.phone.blank?
            = affiliation.phone
        .col-md-3
          %p.small.mb-0 Supervisor:
          - unless affiliation.supervisor.blank?
            - if affiliation.supervisor_profile.blank?
              #{affiliation.supervisor}
            - else
              = link_to affiliation.supervisor, affiliation.supervisor_profile
        .col-md-3
          %p.small.mb-0
            Departmental web page:
          %a{ href: affiliation.webpage }
            #{affiliation.webpage}



