.row
  .col-md-8
    = simple_form_for [:profile, @affiliation] do |f|
      = f.error_notification
      = f.input :organization
      = f.input :department
      = f.input :email
      = f.input :phone
      = f.input :webpage
      = f.input :supervisor
      = f.input :supervisor_profile

      = f.button :submit, class: "btn btn-primary"
      = link_to "Cancel", profile_path, class: "btn btn-link"
