- unless step.property_values.blank?
  .col-lg-7
    %h4
      = _("Parameters")
    .offer-section-wrapper
      - step.property_values.each do |attr|
        = form.simple_fields_for :property_values, attr do |field|
          = render "services/configurations/attributes/#{attr.type}", attr: attr, field: field
        - rescue StandardError => e
          = e.message
  .col-lg-5.right-tips
    .right-tip
      %p
        Ready‑to‑use research tool you can launch on cloud infrastructure in minutes, admin skills required.
