- if project_item.offer.bundle?
  %h4 Bundled services:
  %p Your service will be configured to work with following services:
  - project_item.bundled_property_values.each do |offer, property_values|
    %h5.mb-3.font-weight-bold.configuration-title.text-uppercase= offer.service.title
    = markdown(offer.description)

    - property_values.each do |attr|
      = f.simple_fields_for "bundled_property_values[o#{offer.id}]", attr do |field|
        - begin
          = render "services/configurations/attributes/#{attr.type}", attr: attr, field: field
        - rescue => e
          = e.message
