= render "layouts/order_nav", service: @service, step: 2

%h2 Configuration
%p
  We need more information about your request.
  Fill form below as much as possible.
  It will help us to proceed you request quicker.


= simple_form_for @project_item, url: service_configuration_path(@service),
  method: :put, html: { id: "order-form"  } do |f|
  = f.association :project do
    .input-group
      = f.input_field :project_id, collection: @projects, class: "form-control"
      .input-group-append
        = link_to "Add new project", new_project_path,
          class: "btn btn-primary ml-3", remote: true

  = f.association :affiliation, collection: @affiliations, label_method: :organization
  = f.input :customer_typology, collection: @customer_topologies
  = f.input :access_reason
  = f.input :additional_information
%p
  Selected offer:
  = @project_item.offer.name

= content_for :cancel_button do
  = link_to "Cancel order and quit", service_cancel_path(@service), method: :delete

= content_for :next_button do
  %button.btn.btn-primary{ form: "order-form", type: "submit" }
    Next
