= render "layouts/order/nav", service: @service, step: 2

%h2.mb-4.font-weight-normal= t "service.normal.order.configuration"
%p.mb-4
  We need more information about your request.
  We will be able to process your request quicker
  if the form is filled with as much detail as possible.

= render "services/configurations/project_browser", service: @service, project_item: @project_item, projects: @projects

= content_for :next_button do
  %button.btn.btn-primary{ form: "order-form", type: "submit" }
    Next

- if policy(@service).offers_show?
  = content_for :back_link do
    = link_to "Back to previous step - service offers",
              service_offers_path(@service),
              class: "text-uppercase"
