= render "layouts/order/nav", service: @service, step: 2

%h2.mb-4.font-weight-normal= t "service.normal.order.configuration"
%p.mb-4
  We need more information about your request.
  We will be able to process your request quicker
  if the form is filled with as much detail as possible.

= simple_form_for @project_item, url: service_configuration_path(@service), method: :put,
  html: { id: "order-form", "data-controller" => "project-item", "data-project-item-url" => projects_path } do |f|

  = render "services/configurations/voucher", project_item: @project_item, f: f

  - unless @project_item.property_values.blank?
    %h5.mb-3.font-weight-bold.configuration-title.text-uppercase Technical parameters
    = render "services/configurations/attributes", project_item: @project_item, form: f

  %h5.mb-3.font-weight-bold.configuration-title.text-uppercase My projects
  %p.mb-4= t("project.select.description")
  = f.input :project do
    .input-group.col-6.pl-0
      = f.input_field :project_id, collection: @projects,
        class: "form-control custom-select #{"is-invalid" unless @project_item.errors[:project].empty?}",
        "data-action" => "change->project-item#projectChanged"
      .input-group-append
        = link_to "Add new project", new_project_path,
          class: "btn btn-primary", remote: true

  %h5.mb-3.font-weight-bold.configuration-title.text-uppercase Usage
  = f.input :customer_typology,
    collection: @customer_topologies,
    input_html: { "data-target" => "project-item.customer",
                  "data-action" => "change->project-item#showSelectedSection" }

  = render "services/configurations/customer_typology_fields", f: f

  = f.input :access_reason, input_html: { "data-target" => "project-item.reason" }
  = f.input :additional_information
  = f.association :research_area, as: :grouped_select,
    collection: grouped_research_areas, group_method: :last

  %h5.mb-3.font-weight-bold.configuration-title.text-uppercase Affiliation
  = f.association :affiliation,
    collection: @affiliations, label_method: :organization,
    hint: "Click #{link_to "here", new_profile_affiliation_path} to create a new affiliation".html_safe

= content_for :next_button do
  %button.btn.btn-primary{ form: "order-form", type: "submit" }
    Next

- if policy(@service).offers_show?
  = content_for :back_link do
    = link_to "Back to previous step - service offers",
              service_offers_path(@service),
              class: "text-uppercase"
