%p.mb-4= t "service.#{@service.service_type}.order.configuration.description"


= simple_form_for @step, url: service_configuration_path(@service), method: :put,
  html: { id: "order-form", "data-controller" => "project-item", "data-project-item-url" => projects_path } do |f|
  = render "services/configurations/voucher", project_item: @step, f: f
  = render "services/configurations/attributes", project_item: @step, form: f
