.card-body.pt-4
  .bundle-goals
    - bundle.bundle_goals.each do |goal|
      %span.goal= goal.name
  %h4.card-title.pt-3= bundle.name

  .bundle-description
    .card-text.mb-2{ "data-controller" => "paragraph" }
      - if bundle.description.size > 500
        = markdown(bundle.description.truncate(500, separator: " "))
        = link_to _("Show more"), "#", class: "show-more-#{bundle.id}",
                                      data: { "target" => "paragraph.showMore",
                                              "action" => "click->paragraph#showMore",
                                              text: markdown(bundle.description) }
      - else
        = markdown(bundle.description)
