.container.bundle-view
  .pt-4.pb-4.pl-4.pr-0.rounded.service-box.service-detail
    .row
      .col-12.col-lg-9.row
        .col-12.col-sm-3.d-flex.img-service-detail
          = image_tag "bundle-pic.png", class: "img-fluid"
        .col-12.col-sm-9.service-details-header
          %h2.font-weight-bolder= @bundle.name
      .col-12.col-lg-3.text-center.vertical-center
        .vertical-center-inner.access-type
          = link_to service_offers_path(@bundle.service,
              customizable_project_item: { offer_id: @bundle.main_offer.iid, bundle_id: @bundle.iid }),
              class: "btn btn-primary d-block mb-3",
              "data-probe": "", "data-service-id": @bundle.service.id, method: :put do
            Access Bundle
          = render "layouts/common_parts/services/order_type_label", object: @bundle
.tab-content.bundle-content
  .container.pt-2.desc
    .row.pt-3.justify-content-between
      .col-12.col-xl-9.mb-4
        .mb-4
          = @bundle.description
        - @offers.each do |offer|
          = render partial: "offer", locals: { offer: offer, service: offer.service }
      %sidebar.col-12.col-xl-3.desc
        .basic-details-column
          %h3 Basic details
          - BundlesHelper::BUNDLE_DETAILS_FIELDS.each do |field|
            = render "services/bundles/detail", bundle: @bundle, field: field

          = render "services/offers/bundle_links",
             contact_email: @bundle.contact_email || "",
             related_training: @bundle.related_training_url || "",
             helpdesk_url: @bundle.helpdesk_url || ""

        .keywords-wrapper
          - if @bundle.tag_list.present?
            %h4 Keywords
            %ul.keywords-list
              - @bundle.tag_list.each do |tag|
                %li= tag
