#actions.btn-group
  - if policy([:backoffice, provider]).edit?
    = link_to _("Edit"),
                edit_backoffice_provider_path(provider),
                class: "btn btn-primary"
  - if policy([:backoffice, provider]).publish?
    = link_to _("Publish"),
              backoffice_provider_publish_path(provider),
              class: "btn btn-primary",
              data: { turbo_confirm: _("Are you sure you want to publish this provider?"),
              turbo_method: :post }
  - if policy([:backoffice, provider]).suspend?
    = link_to _("Suspend"),
              backoffice_provider_unpublish_path(provider, suspend: true),
              class: "btn btn-info",
              data: { turbo_confirm: action_prompt("provider", "suspend"),
              turbo_method: :post }
  - if policy([:backoffice, provider]).unpublish?
    = link_to _("Unpublish"),
              backoffice_provider_unpublish_path(provider),
              class: "btn btn-error",
              data: { turbo_confirm: action_prompt("provider", "unpublish"),
              turbo_method: :post }
  - if policy([:backoffice, provider]).destroy?
    = link_to _("Delete"),
              backoffice_provider_path(provider.id),
              class: "btn btn-danger",
              data: { turbo_confirm: action_prompt("provider", "remove"), turbo_method: :delete }
