%div{ "data-administrator-target": "dataAdministrator" }
  .contact
    = data_administrator_form.hidden_field :id, disabled: provider.upstream_id.present?
    = data_administrator_form.input :first_name, disabled: provider.upstream_id.present?
    = data_administrator_form.input :last_name, disabled: provider.upstream_id.present?
    = data_administrator_form.input :email, disabled: provider.upstream_id.present?
    = data_administrator_form.hidden_field :_destroy, "data-provider-target": "destroy"
    .text-right
      = link_to _("Delete administrator"), "#", id: "data-administrator-delete-#{data_administrator_form.index}",
      class: "remove-button", "data-action": "click->administrator#removeAdmin"
