= simple_form_for [:backoffice, provider],
  html: { "data-controller" => "form", "data-target": "form.form",
  "data-disabled": provider.upstream_id.present? } do |f|
  = f.error_notification
  .row
    .col-12.col-md-2
      = render "backoffice/providers/form/menu_panel"
    .col-12.col-md-10
      #accordion-form.accordion
        = render "backoffice/providers/form/basic", f: f, provider: provider
        = render "backoffice/providers/form/marketing", f: f, provider: provider
        = render "backoffice/providers/form/classification", f: f, provider: provider
        = render "backoffice/providers/form/location", f: f, provider: provider
        = render "backoffice/providers/form/contact", f: f, provider: provider
        = render "backoffice/providers/form/maturity", f: f, provider: provider
        = render "backoffice/providers/form/other", f: f, provider: provider
        = render "backoffice/providers/form/admins", f: f, provider: provider

      %hr.bottom-hr.mt-5.mb-4
      .row.mt-5
        .col-12
          .button-wrapper.mr-5
            = f.button :submit, class: "btn btn-primary mobile-bottom-margin",
          "data-e2e": "create-provider-btn"
          = back_link_to _("Cancel and back to previous page"), provider, prefix: :backoffice,
              class: "text-left flex-grow-1 text-uppercase float-left mt-2"
