= simple_form_for [:backoffice, provider],
  html: { data: { controller: "form", form_target: "form",
  disabled: provider.upstream_id.present? } } do |f|
  = f.error_notification
  .row
    .col-12
      #provider-edit
        = render "backoffice/providers/form/tabs", active_tab: tab
        .tab-content{ role: "tablist" }
          - extended_steps.each do |step|
            = render "backoffice/providers/form/#{step}", f: f, provider: provider, catalogues: catalogues,
            active: step == tab
      %hr.bottom-hr.mt-5.mb-4
      .row.mt-5
        .col-12
          = f.button :submit, class: "btn btn-primary pl-5 pr-5 mr-5 mobile-bottom-margin",
          data: { e2e: "create-provider-btn" }
          - link = provider.persisted? ? backoffice_provider_path(provider) : backoffice_providers_path
          = link_to "Go back to provider", link, class: "text-left flex-grow-1 text-uppercase mobile-bottom-margin"
