- content_for :title, _("Edit #{@provider.name} Provider")
- breadcrumb :backoffice_provider_edit, @provider

.container.p-0.backoffice
  .title-row-wrapper
    .title-column
      %h1= _("Edit #{@provider.name} Provider")

    = render Presentable::StatusActionsComponent.new(object: @provider,
      publish: policy([:backoffice, @provider]).publish?,
      suspend: policy([:backoffice, @provider]).suspend?,
      unpublish: policy([:backoffice, @provider]).unpublish?,
      destroy: policy([:backoffice, @provider]).destroy?)
  .edit-provider
    = render "backoffice/providers/form", provider: @provider, catalogues: @catalogues
