- content_for :title, t(".title")
- breadcrumb :backoffice_providers
.container
  %h1
    Providers
    - if policy([:backoffice, Provider]).new?
      .float-right
        = link_to t("backoffice.providers.new.link"),
                  new_backoffice_provider_path,
                  class: "btn btn-primary"
      .clearfix
  %ul.list-group.backoffice-list.mt-5.mb-3
    - @providers.each do |provider|
      %li.list-group-item
        = link_to provider.name, backoffice_provider_path(provider)
        - if policy([:backoffice, provider]).destroy?
          = link_to backoffice_provider_path(provider),
              method: :delete,
              data: { confirm: "Are you sure you want to remove this provider" },
              class: "delete-icon float-right" do
            %i.far.fa-trash-alt

        - if policy([:backoffice, provider]).edit?
          = link_to "Edit",
              edit_backoffice_provider_path(provider),
              class: "btn-sm btn-warning float-right mr-4"

  = will_paginate @providers
