- content_for :title, @provider.name
- breadcrumb :backoffice_provider, @provider

.container.p-0.backoffice
  %h1.mb-3= @provider.name
  = render Presentable::StatusActionsComponent.new(object: @provider,
    publish: policy([:backoffice, @provider]).publish?,
    suspend: policy([:backoffice, @provider]).suspend?,
    unpublish: policy([:backoffice, @provider]).unpublish?,
    destroy: policy([:backoffice, @provider]).destroy?)

  .service-box.p-4.mt-3.backoffice-form
    .logo-wrapper
      %span.helper
      - if @provider.logo.attached? && @provider.logo.variable?
        = image_tag @provider.logo.variant(resize: "100x67"), class: "align-self-center mr-4 float-left img-responsive"
      - else
        = image_tag "provider_logo.svg", size: "100x45", class: "align-self-center mr-4 float-left img-responsive"
    - unless @provider.sources.empty?
      %h3
        = _("External Sources:")
      %ul
        - @provider.sources.each do |source|
          %li "#{source.source_type}: #{source.eid}"
    %hr.bottom-hr.mt-5.mb-4
      #actions.btn-group
        - if policy([:backoffice, @provider]).edit?
          = link_to _("Edit"),
                edit_backoffice_provider_path(@provider),
                class: "btn btn-primary"
  = link_to _("<- Back to Providers"), backoffice_providers_path, class: "backoffice-back-link mt-3"
