- breadcrumb :project_item, @project_item

.container
  %h1 Service review
  .row.border-5.border-bottom.border-separator.pb-4
    .col-md-3
      .service-image.border
        - if @project_item.service.logo.attached?
          = image_tag @project_item.service.logo.variant(resize: "170x112")
        - else
          = image_tag "eosc-img.png"
    .col-md-9.pl-5.vertical-center
      %h2
        = @project_item.service.title
      %span
        = @project_item.service.tagline
  .row
    .col-md-12
      = simple_form_for @service_opinion,
        url: project_service_opinion_path(@project, @project_item) do |f|
        = f.error_notification
        = f.hidden_field :service_rating, value: 0
        = f.hidden_field :order_rating, value: 0
        %ul
          %li
            %h3.mt-5 Answer two questions and share your opinion with other EOSC Marketplace users.
          %li.mt-4
            %strong
              1. How are you satisfied with the #{@project_item.service.title} on a scale of 1 - very poor to 5 -
              excellent?
            = render "stars", field: "service_opinion_service_rating"
          %li.mt-4
            %strong
              2. On a scale of 1 - 5, rate the service of the order.
              Everything that has happened since sending the order to receiving the service.
            = render "stars", field: "service_opinion_order_rating"
          %li.mt-5
            %p.pt-3
              If the above point score is not enough, write more in the field below. Each comment is valid for the EOSC
              Marketplace community.
        .col-12.col-lg-9.pl-0.service-opinion
          = f.input :opinion, label: false
        .row.border-5.border-bottom.border-separator.pb-4.mb-4.pt-3
        = f.button :submit, "Send review", class: "btn btn-primary"
        = link_to "CANCEL AND BACK TO PREVIOUS PAGE",
          project_service_path(@project_item.project, @project_item),
          class: "btn btn-link"
