.container
  .row
    .col-md-3
      .row
        %i.fas.fa-user-circle.fa-10x.text-color-solid-10
      .row
        %p
          %strong= service_opinion.project_item.affiliation.user.first_name
          %strong &nbsp;#{service_opinion.project_item.affiliation.user.last_name.first}.
          %br/
          %i= service_opinion.project_item.affiliation.organization
    .col-md-9
      .row
        .mr-2= print_rating_stars(service_opinion.service_rating)
        %strong.mr-2 #{service_opinion.service_rating}/5
        .mr-2= time_ago_in_words(service_opinion.created_at)
      .row
        = service_opinion.opinion
