.container.mb-4
  .row
    .col-md-2.user-info
      .row.text-center
        %i.fas.fa-user-circle.fa-4x.text-color-solid-10
      .row
        %p
          %strong= service_opinion.project_item.user.first_name
          %strong &nbsp;#{service_opinion.project_item.user.last_name.first}.
          - if service_opinion.project_item.project.single_user_or_community?
            %br/
            %i= service_opinion.project_item.project.organization
    .col-md-10.border.review-box.pt-4.pb-4
      .row.pl-4.pr-4.mb-3
        .mr-2= print_rating_stars(service_opinion.service_rating)
        %strong.mr-2 #{service_opinion.service_rating}/5
        %i.mr-2= time_ago_in_words(service_opinion.created_at)
      .row.pl-4.pr-4
        = service_opinion.opinion
