= render "services/filters/wrapper", filter: filter do
  .form-group.panel-body{ data: { controller: "multicheckbox" } }
    - if filter.search?
      %input.form-control.smaller-input.mb-2{ data: { "multicheckbox-target": "search",
        e2e: "multicheckbox-search", action: "input->multicheckbox#search" },
        type: "text", placeholder: _("Find or choose from the list below"),
        name: "#{filter.field_name}-filter", value: params["#{filter.field_name}-filter"] }
    %input{ data: { "multicheckbox-target": "all" }, type: "hidden",
      name: "#{filter.field_name}-all", value: params["#{filter.field_name}-all"] }

    = render "services/filters/multiselect_level",
      options: filter.options, html_classes: "pl-0 pr-0",
      name: filter.field_name, values: filter.values, root: true, parent: params["#{filter.field_name}-filter"]

    %a{ data: { "multicheckbox-target": "toggler", action: "click->multicheckbox#toggle" },
        href: "javascript:undefined" }
