.col-12.d-flex.align-items-stretch.bundle.bundle-order
  .card.m-0.mb-5
    = render "services/choose_offers/bundle_description", bundle: bundle
    = render "services/bundle", bundled_offers: bundle.all_offers, parent: bundle.main_offer
    = render "services/choose_offers/bundle_links",
       contact_email: bundle.contact_email || "",
       related_training: bundle.related_training_url || "",
       helpdesk_url: bundle.helpdesk_url || ""

    .card-button.text-center
      %label
        = f.radio_button :bundle_id, bundle.iid, checked: project_item.bundle == bundle,
        "data-order-target": "checkbox"
        %span.btn.btn-light.border.border-secondary.font-weight-bold{ "data-action": "click->order#uncheck" }
          .unchecked
            = _("Select a bundle")
          .checked
            = _("Selected bundle")
          %i.fas.fa-check
