- content_for :title, _("Offer selection")
= simple_form_for @step, url: service_choose_offer_path(@service), method: :put,
  html: { id: "order-form", role: "form", class: "btn-group-toogle",
  data: { controller: "order", toogle: "buttons", turbo: false } } do |f|

  - if policy(@service).offers_show?
    %h2.mb-4.mt-5.font-bold
      = _("Select an offer or service bundle")
    .card-deck.row
      = render partial: "services/choose_offers/offer",
        collection: @offers, as: :offer, locals: { f: f, project_item: @step }
  - if policy(@service).bundles_show? && @bundles.present?
    .row
      .col-12
        %h2.mb-4.mt-5.font-bold
          = _("Service bundles")
    .card-deck.row
      = render partial: "services/choose_offers/bundle_box",
        collection: @bundles, as: :bundle, locals: { f: f, project_item: @step }
