.container
  - if @result == :ok
    %h1 Affiliation successfully activated
    %p
      You have successfully activated your
      %strong= @affiliation.organization
      affiliation.
      You can view it in your profile or go to the service list to ask for
      access to EOSC services.
  - else
    %h1 Cannot activate affiliation
    %p= t ".#{@result}"

  .my-4
    = link_to "Take me to my profile", profile_path,
      class: "btn btn-primary mr-3"
    = link_to "Go to services list", services_path,
      class: "btn btn-secondary"
