%div{ "data-raid-project-target": "alternativeDescription" }
  .contact
    = alternative_description_f.hidden_field :id
    = alternative_description_f.input :text, label: "Alternative Description"
    = alternative_description_f.input :language, as: :select,
                  collection: Raid::Language.living.map { |c| [ c.name, "value" => c.alpha3 ] },
                  input_html: { data: { choice: true },  multiple: false }

    = alternative_description_f.hidden_field :_destroy, "data-raid-project-target": "destroy"
    .text-right
      = link_to _("Delete description"), "#", id: "alternative-description-delete-#{alternative_description_f.index}",
      class: "btn-sm disablable btn-danger", "data-action": "click->raid-project#removeField"
