= simple_form_for raid_project, remote: local_assigns[:show_as_modal],
      html: { role: "form", id: "modal-form", "data-controller" => "raid-project",
            "data-raid-project-target": "form", "data-raid-project-url-value": ror_autocomplete_url } do |f|
  .new-form-style{ data: {"raid-form-target": "section", section: "contributors" } }

    %h4 Contributors
    .offer-section-wrapper.bottom-margin
      = f.error :contributor_base, class: "invalid-feedback d-block"
      = f.fields_for :contributors, multiple: true, as: :array do |contributor_f|
        = render_contributor_fields(contributor_f)
      = link_to _("+ Add contributor"), "#", class: "add-link mt-3",
            data: { raid_project: { target: "addField" },
                action: "click->raid-project#addField",
                value: "contributors",
                fields: f.fields_for(:contributors, Raid::Contributor.new,
                child_index: "new_field") { |c_f| render_contributor_fields(c_f) } }


    %hr.bottom-hr.mt-5.mb-4
      .row
        .col-12
          %button.btn.btn-primary.pl-5.pr-5{ type: "submit",
                                 form: "modal-form", "data-e2e": "create-project-btn" }
            = _("Next")
