= render "components/presentable/header_component/node_info", object: service
%dl.mb-0.d-flex
  %dt
    %span
      = _("Organisation") + ":"
  %dd
    .categorization-content= resource_organisation(service, highlights,
      preview: local_assigns[:preview])
- active_providers = providers(service, highlights, preview: local_assigns[:preview])
- if active_providers.present?
  %dl.mb-0.d-flex
    %dt
      %span
        = _("Provided by") + ":"
    %dd
      .providers-list{ "data-controller": "parameter" }
        - if active_providers.size > 4
          .abbreviate{ data: { "parameter-target": "hideableParameter", state: "visible" } }
            = markdown(safe_join(active_providers.first(4), ", "))
          .d-none{ data: { "parameter-target": "hideableParameter", state: "hidden" } }
            = markdown(safe_join(active_providers, ", "))
          = render "common_parts/show_more_link", id: "providers"
        - else
          = markdown(safe_join(active_providers, ", "))
%dl.mb-0.research.d-flex
  %dt
    %span.pr-1
      = _("Scientific domain") + ": "
  %dd
    .categorization-content= safe_join(scientific_domains_text(service), ", ")
%span.clearfix
