%dl.mb-0.d-flex
  %dt
    %span
      = _("Organisation") + ":"
  %dd
    .categorization-content= resource_organisation(service, highlights, preview: local_assigns[:preview])
- active_providers = safe_join(providers(service, highlights, preview: local_assigns[:preview]), ", ")
- if active_providers.present?
  %dl.mb-0.d-flex
    %dt
      %span
        = _("Provided by") + ":"
    %dd
      .providers-list
        - if active_providers.size > 100
          %div{ data: { "parameter-target": "hideableParameter", state: "visible" } }
            = markdown(active_providers.truncate(200, separator: " "))
          .d-none{ data: { "parameter-target": "hideableParameter", state: "hidden" } }
            = markdown(active_providers)
          = render "common_parts/show_more_link", id: 1
        - else
          = markdown(active_providers)
%dl.mb-0.research
  %dt
    %span
      = _("Scientific domain") + ":"
  %dd
    .categorization-content= safe_join(scientific_domains_text(service), ", ")
%span.clearfix
