%a#dropdown-menu-button.dropdown-toggle.btn.btn-outline-secondary.d-block.mb-3{ "aria-expanded" => "false",
                                                        "aria-haspopup" => "true",
                                                        "data-toggle" => "dropdown",
                                                        type: "button" }
  .menu__label Manage the service
.dropdown-menu.shadow
  %ul
    %li
      %a.dropdown-item.dropdown-details{ href:
        providers_dashboard_url +
        "/dashboard/#{catalogue_pid(service)}/" +
        "#{resource_organisation_pid(service)}/resource-dashboard/#{service.pid}/stats",
        target: :_blank, "data-probe": "", "data-service-id": service.id }
        = _("Services dashboard")
    - if catalogue_pid(service) == "eosc"
      %li
        %a.dropdown-item.dropdown-details{ href:
                  providers_dashboard_url +
                  "/provider/#{resource_organisation_pid(service)}/resource/update/#{service.pid}",
                  target: :_blank, "data-probe": "", "data-service-id": service.id }
          = _("Edit service details")
    %li
      %a.dropdown-item.dropdown-offers{ href: service_ordering_configuration_path(service, anchor: "offers",
                                                from: params[:from]) }
        = _("Set parameters and offers")
