%a#dropdown-menu-button.dropdown-toggle.btn.btn-outline-secondary.d-block.mb-3{ "aria-expanded" => "false",
                                                        "aria-haspopup" => "true",
                                                        "data-toggle" => "dropdown",
                                                        type: "button" }
  .menu__label Manage the resource
.dropdown-menu.shadow
  %ul
    %li
      %a.dropdown-item.dropdown-details{ href:
                Mp::Application.config.providers_dashboard_url +
                "/dashboard/eosc/#{resource_organisation_pid(service)}/resource-dashboard/#{service.pid}/stats",
                target: :_blank, "data-probe": "" }
        = _("Resource dashboard")
    %li
      %a.dropdown-item.dropdown-details{ href:
                Mp::Application.config.providers_dashboard_url +
                "/provider/#{resource_organisation_pid(service)}/resource/update/#{service.pid}",
                target: :_blank, "data-probe": "" }
        = _("Edit resource details")
    %li
      %a.dropdown-item.dropdown-offers{ href: service_ordering_configuration_path(service, anchor: "offers",
                                                from: params[:from]) }
        = _("Set parameters and offers")
