%li.step-progress-item.current.ml-5
  .time.x-small
    = time_ago_in_words(status.created_at) + " " + _("ago")

  .ml-4
    -# TODO: refactor dynamic translation
    %p.frame= t("conversations.status.info.#{status.status_type}")
    .d-block.message-info Service request status: #{t "project_items.status.#{status.status_type}"}
