= simple_form_for [:backoffice, category] do |f|
  = f.input :logo
  = f.input :name
  = f.input :description
  = f.input :parent_id,
    collection: ancestry_id_tree(category.potential_parents),
    label_method: :first, value_method: :last, as: :select, include_blank: true
  = f.input :eid

  %hr.bottom-hr.mt-5.mb-4
  .row.mt-5
    .col-12
      .button-wrapper.mr-5
        = f.button :submit, class: "btn btn-primary", "data-e2e": "create-category-btn"
      %a.text-left.flex-grow-1.text-uppercase.float-left.mt-2{ "href": "/backoffice/categories" }
        = _("Cancel and back to previous page")
