- breadcrumb :backoffice_category, @category

%h1= @category.name
%h2= @category.parent ? "Parent: #{@category.parent.name}" : "Root element"

.btn-group
  - if policy([:backoffice, @category]).edit?
    = link_to "Edit",
              edit_backoffice_category_path(@category),
              class: "btn btn-warning"
  - if policy([:backoffice, @category]).destroy?
    = link_to "Delete",
              backoffice_category_path(@category),
              method: :delete,
              data: { confirm: "Are you sure you want to remove this category" },
              class: "btn btn-danger"
