%ul.list-group{ class: "#{"suspended" if inactive}" }
  - fields.each do |field|
    - if type == "tree"
      - field_tree(object, field).each do |parent, children|
        %li.list-group-item
          %span
            = parent
          %ul
            - children.each do |child|
              %li
                %span= child
    - else
      - object.send(field).each do |element|
        %li.list-group-item
          - if nested.present? && nested[field.to_sym].present?
            %span
              = element.send(nested[field.to_sym])
          - else
            %span
              = element
