%h1 Desgin system

%h3.bordered-headline Learn more box

.learn-more
  %a.body{ "href": "#" }
    .title Sample title
    .description
      %p
        ontribute to develop EOSC into a rich environment with a wide range of services and resources for researchers.
    .icon
      = image_tag "refactoring_learn-more-box-default.png"


.row
  .col-12.col-lg-4.col-sm-6
    .learn-more
      %a.body{ "href": "#" }
        .title Sample title
        .description
          %p
            ontribute to develop EOSC into a rich environment with a wide range of services and resources for
            researchers.
        .icon
          = image_tag "refactoring_learn-more-box-default.png"
  .col-12.col-lg-4.col-sm-6
    .learn-more
      %a.body{ "href": "#" }
        .title Sample title
        .description
          %p
            ontribute to develop EOSC into a rich environment with a wide range of services and resources for
            researchers.
        .icon
          = image_tag "refactoring_learn-more-box-default.png"
  .col-12.col-lg-4.col-sm-6
    .learn-more
      %a.body{ "href": "#" }
        .title Sample title
        .description
          %p
            ontribute to develop EOSC into a rich environment with a wide range of services and resources for
            researchers.
        .icon
          = image_tag "refactoring_learn-more-box-default.png"


%h3.bordered-headline Service info box

.service-info-box
  %header
    .title
      %a{ "href": "#" } Sample service name
    .description
      %p
        = image_tag "refactoring_service-info-box-default.png"
        The WS-PGRADE Portal (Web Services Parallel Grid Runtime and Developer Environment Portal) is the Liferay-based
        web p...
  %footer
    .column
      %p
        %small Provided by:
        %br
        EGI Federation
    .column
      %p.text-right
        %small Dedicated for:
        %br
        Researchers, Research.
%p
%p
.row
  .col-12.col-lg-4.col-sm-6
    .service-info-box
      %header
        .title
          %a{ "href": "#" } Sample service name
        .description
          %p
            = image_tag "refactoring_service-info-box-default.png"
            The WS-PGRADE Portal (Web Services Parallel Grid Runtime and Developer Environment Portal) is the
            Liferay-based web p...
      %footer
        .column
          %p
            %small Provided by:
            %br
            EGI Federation
        .column
          %p.text-right
            %small Dedicated for:
            %br
            Researchers, Research.
  .col-12.col-lg-4.col-sm-6
    .service-info-box
      %header
        .title
          %a{ "href": "#" } Sample service name
        .description
          %p
            = image_tag "refactoring_service-info-box-default.png"
            The WS-PGRADE Portal (Web Services Parallel Grid Runtime and Developer Environment Portal) is the
            Liferay-based web p...
      %footer
        .column
          %p
            %small Provided by:
            %br
            EGI Federation
        .column
          %p.text-right
            %small Dedicated for:
            %br
            Researchers, Research.
  .col-12.col-lg-4.col-sm-6
    .service-info-box
      %header
        .title
          %a{ "href": "#" } Sample service name
        .description
          %p
            = image_tag "refactoring_service-info-box-default.png"
            The WS-PGRADE Portal (Web Services Parallel Grid Runtime and Developer Environment Portal) is the
            Liferay-based web p...
      %footer
        .column
          %p
            %small Provided by:
            %br
            EGI Federation
        .column
          %p.text-right
            %small Dedicated for:
            %br
            Researchers, Research.

%h3.bordered-headline Branch box

%a.branch-box{ href: "#" }
  .branch-icon
    = image_tag "refactoring_branch-box-default.png"
  .branch-name
    Sample title

.row
  .col-12.col-lg-4.col-sm-6
    %a.branch-box{ href: "#" }
      .branch-icon
        = image_tag "refactoring_branch-box-default.png"
      .branch-name
        Sample title
  .col-12.col-lg-4.col-sm-6
    %a.branch-box{ href: "#" }
      .branch-icon
        = image_tag "refactoring_branch-box-default.png"
      .branch-name
        Sample title
  .col-12.col-lg-4.col-sm-6
    %a.branch-box{ href: "#" }
      .branch-icon
        = image_tag "refactoring_branch-box-default.png"
      .branch-name
        Sample title

