= simple_form_for [:backoffice, provider],
  url: backoffice_provider_wizard_path(params[:provider_id]),
  html: { "data-form-target": "form" },
  method: :put do |f|
  = render "backoffice/providers/steps/simple_navbar", provider: provider, f: f
  .new-offer-form
    .row
      .col-lg-7.pl-0
        .service-contact-emails{ "data-service-target": "publicContacts" }
          %h4
            = _("Public contacts")
          .offer-section-wrapper
            = f.input :public_contact_emails, as: :text, label: _("Public contact emails (one per line)"),
                      input_html: { rows: 4, value: Array(provider.public_contact_emails).join("\n") },
                      disabled: provider.upstream_id.present?
        = render "backoffice/providers/steps/buttons", f: f, current_step: provider.current_step
      = render "backoffice/providers/more_information"
