.row
  .col-6
    First Name
  .col-6
    = contact.first_name
.row
  .col-6
    Last Name
  .col-6
    = contact.last_name
.row
  .col-6
    Email
  .col-6
    = contact.email
.row
  .col-6
    Phone
  .col-6
    = contact.phone
.row
  .col-6
    Position
  .col-6
    = contact.position
