= simple_form_for [:admin, lead] do |f|
  = f.input :header
  = f.input :body
  = f.input :picture
  = f.input :url
  = f.association :lead_section
  = f.input :position

  = f.button :submit, class: "btn btn-primary pl-5 pr-5 mr-5"
  = link_to _("Cancel and back to lead manager"), admin_leads_path,
    class: "text-left flex-grow-1 text-uppercase"
