%ul
  - fields.each do |field|
    - next unless object.send(field).present?
    %li{ class: "#{field}" }
      - if field.end_with? "_email"
        = mail_to(object.send(field), t("components.presentable.sidebar_component.fields.#{field}"), "data-probe": "",
          "data-preview-target": preview ? "link" : "")
      - else
        = link_to(t("components.presentable.sidebar_component.fields.#{field}"),
          preview || (object.suspended? && !field.in?(active_when_suspended)) ? "javascript:;" : object.send(field),
          "data-probe": "", "data-preview-target": preview ? "link" : "")
        -# TODO: refactor dynamic translation (above)
