- fields.map do |field|
  - if service.send(field).present?
    %li{ class: ("links" if nested.present? && nested[field.to_sym] == "link") }
      - if with_desc && (nested.blank? || nested[field.to_sym] != "link")
        %span
          = t(".#{field}") + ":"
        %br
      - if service.send(field).is_a?(ActiveSupport::TimeWithZone)
        = service.send(field).to_date
      - else
        - Array(service.send(field)).map.with_index do |element, idx|
          - if nested.present? && nested[field.to_sym].present?
            - if nested[field.to_sym] == "link"
              %i.fas.fa-arrow-right
              = link_to field.humanize, element
            - elsif nested[field.to_sym] == "service"
              %li.links
                %i.fas.fa-arrow-right
                = link_to(element.name, service_path(element))
            - else
              %span
                #{element.send(nested[field.to_sym])}#{idx == (Array(service.send(field)).map.size) - 1 ? nil : ", "}
          - else
            - if type == "list"
              %li
                #{element}
            - else
              %span
                #{element}#{idx == (Array(service.send(field)).map.size) - 1 ? nil : ", "}
