- fields.map do |field|
  - if service.send(field).present?
    %li
      %span
        - if with_desc
          = t(".#{field}") + ":"
          %br
        - if service.send(field).is_a?(ActiveSupport::TimeWithZone)
          = service.send(field).to_date
        - else
          - Array(service.send(field)).map.with_index do |element, idx|
            %span
            - if nested.present? && nested[field.to_sym].present?
              - if nested[field.to_sym] == "link"
                = link_to element, element
              - else
                "#{element.send(nested[field.to_sym])}#{idx == (Array(service.send(field)).map.size) - 1 ? nil : ", "}"
            - else
              "#{element}#{idx == (Array(service.send(field)).map.size) - 1 ? nil : ", "}"
