- content_for :title, @service.name
- breadcrumb :resource_details, @service
.container{ "data-controller": "comparison" }
  - dynamic_class = params[:from] == "backoffice_service" ? "backoffice" : nil
  .pt-4.service-box-redesign.service-detail{ class: dynamic_class }
    = render Presentable::HeaderComponent.new(object: @service,
                        title: @service.name,
                        subtitle: @service.tagline,
                        abbreviation: @service.abbreviation,
                        comparison_enabled: @comparison_enabled,
                        preview: local_assigns[:preview],
                        show_checkboxes: params[:from].blank?,
                        favourite_services: @favourite_services) do |c|
      - c.buttons do
        - case params[:from]
        - when "ordering_configuration"
          = render "components/presentable/header_component/ordering_configuration_buttons", service: @service
        - when "backoffice_service"
          = render "components/presentable/header_component/backoffice_service_buttons", service: @service
        - else
          = render "components/presentable/header_component/order_buttons", service: @service

    = render "services/tabs", service: @service
    - dynamic_class = (session[:comparison]&.size || 0).positive? ? "d-block" : "d-none"
    #comparison-bar.comparison-bar.fixed-bottom{ class: dynamic_class, "data-comparison-target": "bar" }
      = render "comparisons/bar", services: @compare_services, category: @category

.tab-content
  = render Presentable::DetailsComponent.new(@service, similar_services: @similar_services, question: @question,
  related_services: @related_services)
