%a.text-dark{ href: "#collapse_#{name}", "data-toggle": "collapse",
    id: "#{name}-filter",
    "data-action": "click->filter#toggle",
    "data-parent": "#filters", role: "button",
    class: ("collapsed" if collapsed) }
  .row
    .col-10
      %h6.panel-heading= name.humanize
    .col-2
      .collapse-icon
        %i.fas.fa-chevron-down
        %i.fas.fa-chevron-up

.row
  .col-md-12.panel-collapse.collapse{ id: "collapse_#{name}",
    "data-filters-target": "filter", class: ("show" unless collapsed) }
    = yield
