%p.mb-4= t("service.#{@offer.offer_type}.description_html", service_title: @service.title)

.text-center
  - unless @offer.orderable? && !@service.connected_url?
    = link_to t("service.#{@offer.offer_type}.link"),  @service.connected_url.to_s.html_safe,
      class: "btn btn-primary mb-2", target: "_blank", title: "External link"

= form_for @step, url: service_information_path(@service), method: :put, html: { id: "order-form" } do
  -# empty block
