= simple_form_for [:backoffice, platform] do |f|
  = f.input :name
  = f.input :eid

  %hr.bottom-hr.mt-5.mb-4
  .row.mt-5
    .col-12
      .button-wrapper.mr-5
        = f.button :submit, class: "btn btn-primary"
      %a.text-left.flex-grow-1.text-uppercase.float-left.mt-2{ "href": "/backoffice/platforms" }
        = _("Cancel and back to previous page")
