= simple_form_for [:backoffice, platform] do |f|
  = f.input :name
  = f.input :eid

  %hr.bottom-hr.mt-5.mb-4
  .row.mt-5
    .col-12
      .button-wrapper.mr-5
        = f.button :submit, class: "btn btn-primary pl-5 pr-5 mr-5 mobile-bottom-margin",
        data_e2e: "create-platform-btn"
      %a.text-left.flex-grow-1.text-uppercase.float-left.mt-2.mobile-bottom-margin{ href: "/backoffice/platforms" }
        = _("Cancel and back to previous page")
