.row.mb-2
  .col-12.col-md-8
    %h3.subsection.mt-1.mb-1
      %a{ id: section.slug }
      = section.title
  .col-12.col-md-4
    = link_to _("+ add new item"),
              new_admin_help_item_path(section: section.slug),
              class: "btn btn-sm btn-secondary float-right"
.accordion.faq-list{ id: "s-#{section.slug}" }
  = render partial: "item",
    collection: section.help_items, locals: { parent: "s-#{section.slug}" }
