- if offers&.find { |offer| offer.voucherable }
  .container
    .voucher-box.row.p-3
      .col-12.col-lg-4.pl-0.pt-2.voucher-title
        %i.fas.fa-ticket-alt.fa-3x.d-inline
        .d-inline
          %span.text-uppercase.mb-3
            = _("Marketplace")
          %span.big
            = _("Vouchers")
      .col-12.col-lg-7
        %p.pt-3
          -# haml-lint:disable MultilinePipe
          = _("Vouchers allow researchers to test different configurations or different resources to choose the " + |
              "best offer for their needs.") |
          -# haml-lint:enable MultilinePipe
%h2#offers.mb-4.mt-5.font-weight-normal
  = _("Parameters and offers")
.row
  = render partial: "services/data_administrators/default_parameters", locals: { offer: offers.first }
  = render partial: "services/data_administrators/offer", collection: offers, as: :offer
  = render partial: "services/data_administrators/new_offer"
