= simple_form_for [:backoffice, service] do |f|
  = f.error_notification
  = f.input :title
  = f.input :description
  = f.input :terms_of_use
  = f.input :tagline
  = f.input :connected_url, label: "Service website"
  = f.input :open_access, as: :boolean

  .btn-group
    = f.button :submit, class: "btn btn-success"
    - path = service.persisted? ? backoffice_service_path(service) : backoffice_services_path
    = link_to "Cancel", path, class: "btn btn-secondary"

