= simple_form_for [:backoffice, service] do |f|
  = f.error_notification
  = f.input :title
  = f.input :description
  = f.input :terms_of_use
  = f.input :tagline
  = f.input :connected_url, label: "Service website"
  = f.input :places
  = f.input :languages
  = f.input :dedicated_for, as: :array, multiple: true
  = f.input :terms_of_use_url
  = f.input :access_policies_url
  = f.input :corporate_sla_url
  = f.input :webpage_url
  = f.input :manual_url
  = f.input :helpdesk_url
  = f.input :tutorial_url
  = f.input :restrictions
  = f.input :phase
  = f.input :service_type, collection: Service.service_types.keys.map(&:to_sym)
  = f.input :activate_message
  = f.input :logo
  = f.association :providers, multiple: true
  = f.input :contact_emails, multiple: true, as: :array
  = f.association :research_areas, input_html: { multiple: true }, include_hidden: false
  = f.association :platforms, multiple: true

  %a#add-email-field Add additional email
  .invalid-feedback{ styles: "display:block" }

  .btn-group
    = f.button :submit, class: "btn btn-success"
    - path = service.persisted? ? backoffice_service_path(service) : backoffice_services_path
    = link_to "Cancel", path, class: "btn btn-secondary"

:javascript
  $(document).ready(function() {
    $("#add-email-field").click(function(event){
      event.preventDefault();
      var lastEmailField = document.createElement("input");
      var parent = document.getElementsByClassName("service_contact_emails");

      lastEmailField.type = "email";
      lastEmailField.name = "service[contact_emails][]";
      lastEmailField.id = "service_contact_emails_"+(parent[0].children.length - 1)

      parent[0].appendChild(lastEmailField);
      });

      $(".simple_form").submit(function (event){
        $(this).find(':input[type=email]').filter(function() { return !this.value; }).remove()
        return true;
      });
  });
