= simple_form_for [:backoffice, service] do |f|
  = f.error_notification
  = f.input :title
  = f.input :description
  = f.input :terms_of_use
  = f.input :tagline
  = f.input :connected_url, label: "Service website"
  = f.input :places
  = f.input :languages
  = f.association :target_groups,
                  label: "Dedicated For",
                  input_html: { multiple: true },
                  include_hidden: false
  = f.input :terms_of_use_url
  = f.input :access_policies_url
  = f.input :corporate_sla_url
  = f.input :webpage_url
  = f.input :manual_url
  = f.input :helpdesk_url
  = f.input :tutorial_url
  = f.input :restrictions
  = f.input :phase
  = f.input :service_type, collection: Service.service_types.keys.map(&:to_sym)
  = f.input :activate_message
  = f.input :logo
  = f.association :providers, multiple: true
  = f.input :contact_emails, multiple: true, as: :array
  = f.association :research_areas, input_html: { multiple: true }, include_hidden: false
  = f.association :platforms, multiple: true
  = f.input :tag_list, input_html: { value: service.tag_list.to_s }
  = f.association :categories, multiple: true
  = f.association :owners, multiple: true

  = f.input :upstream_id, collection: f.object.sources.reject { |source| source.id.nil? },
                          include_blank: "MP", label: "Service Upstream"

  = f.fields_for :sources do |sources_form|
    = sources_form.hidden_field :id
    = sources_form.input :source_type, collection: ServiceSource.source_types.keys.map(&:to_sym)
    = sources_form.input :eid, label: "eInfraCentral External ID"
    - unless sources_form.object.id.nil?
      = sources_form.check_box :_destroy
      = sources_form.label :_destroy, "Remove external source"

  %br

  %a#add-email-field Add additional email
  .invalid-feedback{ styles: "display:block" }

  .btn-group
    = f.button :submit, class: "btn btn-success"
    = back_link_to "Cancel", service, prefix: :backoffice, class: "btn btn-secondary"

:javascript
  $(document).ready(function() {
    $("#add-email-field").click(function(event){
      event.preventDefault();
      var lastEmailField = document.createElement("input");
      var parent = document.getElementsByClassName("service_contact_emails");

      lastEmailField.type = "email";
      lastEmailField.name = "service[contact_emails][]";
      lastEmailField.id = "service_contact_emails_"+(parent[0].children.length - 1)

      parent[0].appendChild(lastEmailField);
      });

      $(".simple_form").submit(function (event){
        $(this).find(':input[type=email]').filter(function() { return !this.value; }).remove()
        return true;
      });
  });
