
= form_tag url_for, method: :get, role: "search",
           "data-target": "autocomplete.form",
           "data-controller": "autocomplete",
           "data-autocomplete-url": "backoffice/service_autocomplete", class: "searchbar" do

  .searchbar__input
    %label.sr-only{ for: "search" } Search
    = text_field_tag :q, params[:q],
                                     placeholder: "Find service...",
                                     "data-target": "autocomplete.input",
                                     "data-toggle": "dropdown"
    = hidden_field_tag "service_id", nil, "data-target": "autocomplete.hidden"
    = hidden_field_tag "sort", "_score"
    = hidden_field_tag "anchor", nil, "data-target": "autocomplete.anchor"
    %ul.autocomplete-results{ "data-target": "autocomplete.results" }
  .input-group-append
    %button#query-submit.input-group-text.bg-white
      %i.fas.fa-search

