= render "services/service_details", service: service, highlights: highlights do
  = service_status(service)
  = link_to [:backoffice, service] do
    = highlighted_for(:title, service, highlights)
  %br
  = offers_status(service)
