.container.p-0.backoffice
  = render "services/errors", service: service

.container.p-0.backoffice
  .title-row-wrapper.mb-0
    = render Presentable::StatusActionsComponent.new(object: service,
        publish: policy([:backoffice, service]).publish?,
        suspend: policy([:backoffice, service]).suspend?,
        unpublish: policy([:backoffice, service]).unpublish?,
        destroy: policy([:backoffice, service]).destroy?)

.container.p-0.backoffice
  .pt-3.service-box-redesign.service-detail.backoffice{ "data-shepherd-tour-target": "service-box" }
    = render Presentable::HeaderComponent.new(object: service,
                          title: service.name,
                          abbreviation: service.abbreviation,
                          subtitle: service.tagline,
                          comparison_enabled: comparison_enabled,
                          show_checkboxes: false,
                          preview: local_assigns[:preview],
                          favourite_services: favourite_services) do |c|
      - c.buttons do
        = render "components/presentable/header_component/backoffice_service_buttons", service: service

    = render "services/tabs", service: service, params: { from: "backoffice_service" }
.tab-content
  #desc.tab-pane.container.active.desc{ "aria-labelledby" => "home-tab", role: "tabpanel" }
    .row.justify-content-between
      %main.col-12.col-xl-9.pr-4.pt-4{ "data-shepherd-tour-target": "service-about" }
        = yield
      %sidebar.col-12.col-xl-3{ "data-shepherd-tour-target": "service-classification" }
        = render "components/presentable/explore_links", object: service
        .right-panel-links
          - if !service.public_contacts.empty? && (question || preview)
            = render "components/presentable/ask_question", question_link: new_question_link(service),
              question: question,
              prompt: new_question_prompt(service),
              preview: local_assigns[:preview]
          = render Presentable::LinksComponent.new(object: service, preview: local_assigns[:preview])
          .right-panel-links.pt-4.pb-4
            = render "components/presentable/updates", object: service
        = render Presentable::ProviderInfoComponent.new(base: service,
        preview: local_assigns[:preview]) if service.respond_to?(:resource_organisation)
