- breadcrumb :backoffice_services, @category

= content_for :category_view, "backoffice/categories/nav/category"
= content_for :all_services, backoffice_services_path(category_query_params)

.row.mb-3.d-flex.justify-content-center
  .col-lg-3
  .col-lg-6
    = render "backoffice/services/search"
  .col-lg-3
    - if policy([:backoffice, Service]).new?
      = link_to t("backoffice.services.new.link"),
                    new_backoffice_service_path,
                    class: "btn btn-primary"


= render "services/index", services: @services,
                           category: @category,
                           services_count: @services_total,
                           categories: @siblings_with_counters,
                           subcategories: @subcategories_with_counters,
                           sort_options: @sort_options,
                           highlights: @highlights,
                           filters: @filters,
                           active_filters: @active_filters



