- breadcrumb :backoffice_services, @category

= content_for :category_view, "backoffice/categories/nav/category"
= content_for :all_services, backoffice_services_path(category_query_params)

= render "services/index", services: @services,
                           category: @category,
                           services_count: @services_total,
                           categories: @siblings_with_counters,
                           subcategories: @subcategories,
                           provider_options: @provider_options,
                           research_areas: @research_areas,
                           target_groups_options: @target_groups_options,
                           rating_options: @rating_options,
                           tag_options: @tag_options,
                           active_filters: @active_filters,
                           related_platform_options: @related_platform_options,
                           highlights: @highlights do


  .col-md-8
    %h1
      = @category&.name || "Services"
      - if policy([:backoffice, Service]).new?
        = link_to "Create new service",
                  new_backoffice_service_path,
                  class: "btn btn-success"
  .col-md-3.offset-md-1.my-auto
    = render "services/order"

  - if @category
    .row
      %p.text-muted.mb-4.ml-3= @category.description

  .row
    .col
      = render "backoffice/services/search"



