.container
  %h1= @service.title
  .row
    .col-3
      - if @service.logo.attached?
        = image_tag @service.logo.variant(resize: "200x200")
    .col-9
      %p
        %b= @service.tagline
      %p= @service.description

  %h2 Terms of use
  = markdown(@service.terms_of_use)

  %h2 Service website
  %p= @service.connected_url

  %h2 Service type
  %p= @service.service_type

  %h2 Activate message
  %p= @service.activate_message

  %h2 Contact emails
  - @service.contact_emails.each do |email|
    %p= email

  %h2 Areas
  - @service.research_areas.each do |area|
    %p= area.name

  %h2 Dedicated For
  - @service.target_groups.each do |group|
    %p= group.name

  %h2 Providers
  - @service.providers.each do |provider|
    %p= provider.name

  %h2 Category
  - @service.categories.each do |cat|
    %p= cat.name

  - if policy([:backoffice, @service]).edit?
    = link_to "Edit",
              edit_backoffice_service_path(@service),
              class: "btn btn-warning"
  - if policy([:backoffice, @service]).destroy?
    = link_to "Destroy",
              backoffice_service_path(@service),
              method: :delete, data: { confirm: "Are you sure?" },
              class: "btn btn-danger"
