.container
  %h1= @service.title
  %p
    %b= @service.tagline
  %p= @service.description

  %h2 Terms of use
  = markdown(@service.terms_of_use)

  %h2 Service website
  %p= @service.connected_url

  %h2 Open access
  %p= @service.open_access

  %h2 Activate message
  %p= @service.activate_message

  %h2 Contact emails
  - @service.contact_emails.each do |email|
    %p= email

  - if policy([:backoffice, @service]).edit?
    = link_to "Edit",
              edit_backoffice_service_path(@service),
              class: "btn btn-warning"
  - if policy([:backoffice, @service]).destroy?
    = link_to "Destroy",
              backoffice_service_path(@service),
              method: :delete, data: { confirm: "Are you sure?" },
              class: "btn btn-danger"
