- breadcrumb :backoffice_service, @service
.container
  = render "services/header", service: @service do
    - if policy([:backoffice, @service]).edit?
      = link_to "Edit",
                edit_backoffice_service_path(@service),
                class: "btn btn-primary"
    - if policy([:backoffice, @service]).new?
      = link_to "Add new offer", new_backoffice_service_offer_path(@service),
        class: "btn btn-primary mt-2"
    - if policy([:backoffice, @service]).destroy?
      = link_to "Decommission",
        backoffice_service_path(@service),
          method: :delete, data: { confirm: "Are you sure?" },
            class: "btn btn-danger mt-2"

  .d-flex.my-2.mx-2
    .flex-grow-1
      Status:
      %strong= @service.status
    .d-inline
      - if policy([:backoffice, @service]).publish?
        = link_to "Publish",
                backoffice_service_publish_path(@service),
                method: :post,
                data: { confirm: "Are you sure you want to publish this service?" },
                class: "btn-sm btn-warning"
      - if policy([:backoffice, @service]).draft?
        = link_to "Stop showing in the MP",
                backoffice_service_draft_path(@service),
                method: :post,
                data: { confirm: "Are you sure you want to stop showing this service?" },
                class: "btn-sm btn-warning"


  .tab-content
    = render "services/about", service: @service, offers: @service.offers
    = render "services/tags", service: @service
