- content_for :title, @service.name
- breadcrumb :backoffice_service, @service
.container
  - if @service.offers.blank?
    .alert.alert-danger.mb-0.text-center
      = _("The service has no offers. Add one offer to make possible for a user to Access the service.")
  - elsif @service.published? && @service.offers.published.blank?
    .alert.alert-warning.mb-0.text-center
      -# haml-lint:disable MultilinePipe
      = ("The service is published but has no published offers. Publish one offer to make possible for a user to " + |
         "Access the service.") |
      -# haml-lint:enable MultilinePipe
.container
  .pt-4.pl-3.pr-3.shadow-sm.rounded.service-box.service-detail{ "data-shepherd-tour-target": "service-box" }
    = render "backoffice/services/header", service: @service
    = render "services/tabs", service: @service, params: { from: "backoffice_service" }
.tab-content
  = render "backoffice/services/about", service: @service, offers: @offers, analytics: @analytics
  = render "services/tags", service: @service
