- content_for :title, _("Edit #{@catalogue.name} Catalogue")
- breadcrumb :backoffice_catalogue_edit, @catalogue

.container.p-0.backoffice
  .title-row-wrapper
    .title-column
      %h1= _("Edit #{@catalogue.name} Catalogue")

    = render Presentable::StatusActionsComponent.new(object: @catalogue,
      publish: policy([:backoffice, @catalogue]).publish?,
      suspend: policy([:backoffice, @catalogue]).suspend?,
      unpublish: policy([:backoffice, @catalogue]).unpublish?,
      destroy: policy([:backoffice, @catalogue]).destroy?)

  .edit-provider
    = render "form", catalogue: @catalogue
