- content_for :title, _("Catalogues")
- breadcrumb :backoffice_catalogues, params[:page].presence

.container.p-0.backoffice
  - if @catalogues.blank?
    .empty-information.col-12.col-md-9.m-auto
      %h2 Group Providers into Catalogues
      .details-intro
        Use catalogues to manage and organise multiple providers. Add, remove, and arrange them to keep your
        marketplace in order.
      = link_to _("+ Add new Catalogue"),
                  new_backoffice_catalogue_path,
                  class: "btn btn-primary",
                  "data-e2e": "add-new-catalogue"
  - else
    %h1
      = _("Catalogues")
      - if policy([:backoffice, Catalogue]).new?
        .float-right
          = link_to _("+ Add new Catalogue"),
                    new_backoffice_catalogue_path,
                    class: "btn btn-primary",
                    "data-e2e": "add-new-catalogue"
        .clearfix
    = turbo_frame_tag "checkbox_form" do
      = render "backoffice/statuses/form", collection: @catalogues, pagy: @pagy,
        form_path: backoffice_statuses_catalogues_path
