- breadcrumb :api_docs

.container
  %h1 API
  .container{ "data-controller": "token" }
    .row.pt-4.pb-4.pl-3.pr-3.mt-4.shadow-sm.rounded.service-box.tokens
      .col-12.col-md-7.vertical-middle
        .icon
          %i.fas.fa-key
        .mt-2
          - if current_user&.valid_token?
            %p.mb-1
              %i.fas.fa-check-circle
              Your token is active:
            %p.active{ "data-target": "token.content", "data-token": "#{current_user&.authentication_token}" }
              = "*" * 20
            %a#toggler.text-uppercase.underline-light.token-visibility{ "data-target": "token.button",
              "data-action": "click->token#toggle" }
              Show token
          - elsif current_user.present?
            %p
              You don't have an authentication token yet.
              %br
              Click
              %b Generate token
              to get one.
          - else
            %p
              Log in to access your authentication token.
      .col-12.col-md-5.token-button
        - if current_user&.valid_token?
          %p
            = link_to "Regenerate token", api_docs_path, method: :post, class: "btn btn-outline-danger float-right"
        - elsif current_user.present?
          %p
            = link_to "Generate token", api_docs_path, method: :post, class: "btn btn-primary float-right"
        - else
          %p
            = link_to "Log in", user_checkin_omniauth_authorize_path, class: "btn btn-primary float-right"
  %h2.mb-5 EOSC Marketplace API Documentation
  .container
    .row
      .col-12.col-md-3.api-submenu
        %ul
          - api_wiki_subsections.each do |subsection|
            %li{ class: ("active" if subsection == @subsection) }
              %span
                = link_to subsection.capitalize, api_docs_path(subsection: subsection)

      .col-12.col-md-8.float-right.ml-auto.mr-auto
        = render "api_docs/subsections/#{@subsection}"
