- content_for :title, _("Executive")
%h1
  = _("Statistics")

.card-deck.text-center
  -# haml-lint:disable MultilinePipe
  = render "statistic", title: _("Orderable"), amount: @orderable_count,
    description: _("Number of resources orderable through the Marketplace " + |
                 "(Sum of all offers with Internal ordering access type)") |
  = render "statistic", title: _("Not orderable/open access"), amount: @not_orderable_count,
    description: _("Number of resources not orderable (Sum of all offers with External " + |
                   "and Open access type added to the projects)") |
  -# haml-lint:enable MultilinePipe
  = render "statistic", title: _("All resources"), amount: @all_services_count,
    description: _("All resources registered in Marketplace")

#statistics.accordion
  = render "pages/card", parent: "statistics",
    name: "providers", title: _("Providers (%{count})") % { count: @providers_count } do
    %p= _("Providers in the Marketplace:")
    %ul
      - @providers.each do |provider|
        %li= provider

  = render "pages/card", parent: "statistics",
    name: "disciplines", title: _("Domains (%{count})") % { count: @disciplines_count } do
    %p= _("Scientific domains ordered services are used for:")
    %ul
      - @disciplines.each do |discipline|
        %li= discipline
  = render "pages/card", parent: "statistics",
    name: "origin", title: _("Origins (%{count})") % { count: @countries_count } do
    %p= _("Countries of users ordering services:")
    %ul
      - @countries.each do |country|
        %li= country

