%div{ "data-raid-project-target": "alternativeDescription" }
  .contact
    = alternative_description_f.hidden_field :id
    = alternative_description_f.input :text, label: "Alternative Description"
    = alternative_description_f.input :language, as: :select,
                  required: true,
                  collection: Raid::Language.all,
                  label_method: :english_name,
                  value_method: :alpha3,
                  include_hidden: true,
                  input_html: { data: { choice: true },  multiple: false }
    
    = alternative_description_f.hidden_field :_destroy, "data-raid-project-target": "destroy"
    .text-right
      = link_to _("Delete description"), "#", id: "alternative-description-delete-#{alternative_description_f.index}",
      class: "delete-link", "data-action": "click->raid-project#removeField"
