= turbo_frame_tag "raid-form" do
  = render "raid_project/steps/navbar", step: 3
  = simple_form_for raid_project, url: raid_project_step_path(params[:raid_project_id], "step3"), method: :put do |f|
    .new-form-style{ data: {"raid-project-target": "section", section: "step3" } }
      = f.input :form_step, as: :hidden, input_html: { value:"step3" }

      %h4 Organisations
      %div{ class: [
        ("raid-info-tooltip" unless raid_project.errors.where(:org_base).present? ),
        ("raid-error-tooltip" if raid_project.errors.where(:org_base).present? )] }
        At least one of organisations must be lead research organisation (PID).
      .offer-section-wrapper.bottom-margin
        = f.fields_for :raid_organisations, multiple: true, as: :array do |organisation_f|
          = render_organisation_fields(organisation_f)
        = link_to _("+ Add organisation"), "#", class: "add-link",
              data: { raid_project: { target: "addField" },
                  action: "click->raid-project#addField",
                  value: "raidOrganisations",
                  fields: f.fields_for(:raid_organisations, Raid::RaidOrganisation.new,
                  child_index: "new_field") { |o_f| render_organisation_fields(o_f) } }


      %hr.bottom-hr.mt-5.mb-4
        .row
          .col-10
            = f.button :submit, "Next", class: "btn btn-primary pl-5 pr-5"
          .col-2
            = link_to "Back", raid_project_step_path(params[:raid_project_id], "step2")
