= render "layouts/navbar/sections"

.breadcrumbs-backoffice-wrapper
  .container
    = render "layouts/breadcrumb"

.container
  %nav.navbar.navbar-expand-lg.navbar-light.backoffice-nav

    %button.navbar-toggler.backoffice-menu{ "aria-controls" => "navbar-supported-content",
                            "aria-expanded" => "false", "aria-label" => "Toggle navigation",
                            "data-target" => "#navbar-supported-content",
                            "data-toggle" => "collapse",
                             type: "button" }
      %span.navbar-toggler-icon

    #navbar-supported-content.collapse.navbar-collapse
      %ul.navbar-nav
        = nav_link controller: :admins, html_options: { class: "nav-item" } do
          = link_to "Getting Started", admin_path, class: "nav-link"
        = nav_link controller: :jobs, html_options: { class: "nav-item" } do
          = link_to "Delayed jobs", admin_jobs_path, class: "nav-link"
        = nav_link controller: :helps, html_options: { class: "nav-item" } do
          = link_to "Help builder", admin_help_path, class: "nav-link"
        = nav_link controller: :leads, html_options: { class: "nav-item" } do
          = link_to "Lead creator", admin_leads_path, class: "nav-link"
        = nav_link controller: :features, html_options: { class: "nav-item" } do
          = link_to "Features", admin_features_path, class: "nav-link"
        = nav_link controller: :tour_feedbacks, html_options: { class: "nav-item" } do
          = link_to "Tour Feedback", admin_tour_feedbacks_path, class: "nav-link"
