- collapsed = collapsed?(datasource, [:name, :abbreviation, :resource_organisation, :providers, :webpage_url])
.card.shadow-sm.rounded
  %button.btn.btn-link{ type: "button", class: ("collapsed" if collapsed),
              data: { toggle: "collapse", target: "#basic" },
              aria: { expanded: true, controls: "basic" } }
    .card-header.text-left{ id: "basic-header" }
      .row
        .col-10
          = _("Basic")
        .col-2.text-right
          .collapse-icon
            %i.fas.fa-chevron-down
            %i.fas.fa-chevron-up
-# - ls = provider.legal_statuses.blank? ? nil : provider.legal_statuses
.collapse{ id: "basic", "aria-labelledby": "basic-header",
          "data-parent": "#accordion-form",
          class: ("show" unless collapsed) }
  .card-body
    = f.input :name, disabled: cant_edit(:name)
    = f.input :abbreviation, disabled: cant_edit(:abbreviation)
    = f.association :resource_organisation, disabled: cant_edit(:resource_organisation_id),
                            label: "Service organisation",
                            collection: Provider.active.sort_by { |e| e.name.strip.downcase }
    = f.association :providers, multiple: true, input_html: { data: { choice: true } },
                            disabled: cant_edit([provider_ids: []]),
                            collection: Provider.active.sort_by { |e| e.name.strip.downcase }
    = f.input :webpage_url, disabled: cant_edit(:webpage_url)
