- collapsed = collapsed?(datasource, [:scientific_domains])
.card.shadow-sm.rounded
  %button.btn.btn-link{ type: "button", class: ("collapsed" if collapsed),
              data: { toggle: "collapse", target: "#classification" },
              aria: { expanded: true, controls: "classification" } }
    .card-header.text-left{ id: "classification-header" }
      .row
        .col-10
          = _("Classification")
        .col-2.text-right
          .collapse-icon
            %i.fas.fa-chevron-down
            %i.fas.fa-chevron-up
- sds = ScientificDomain.child_names.filter_map { |name, sd| [name, sd.id] if sd.parent.present? }
.collapse{ id: "classification", "aria-labelledby": "classification-header",
          "data-parent": "#accordion-form",
          class: ("show" unless collapsed) }
  .card-body
    = f.association :scientific_domains, disabled: cant_edit([scientific_domain_ids: []]),
              input_html: { data: { choice: true } },
              collection: sds,
              label_method: :first, value_method: :second
    = f.association :categories, multiple: true, input_html: { data: { choice: true } },
                    collection: Category.child_names.map { |name, c| [name, c.id] },
                    disabled: cant_edit([category_ids: []])
    = f.input :horizontal, as: :boolean, label: "Horizontal datasource",
            boolean_style: :inline, include_hidden: true
    = f.association :research_categories, multiple: true, input_html: { data: { choice: true } }
    = f.association :target_users,
            input_html: { data: { choice: true }, class: "target_users" },
            disabled: cant_edit([target_user_ids: []])
    = f.association :access_types, input_html: { data: { choice: true } }, disabled: cant_edit([access_type_ids: []])
    = f.association :access_modes, input_html: { data: { choice: true } }, disabled: cant_edit([access_mode_ids: []])

    = f.input :tag_list, multiple: true, input_html: { class: "form-control" },
              wrapper_html: { "data-target" => "form.tag_list" },
              as: :array, disabled: cant_edit([tag_list: []])
    = link_to_add_array_field("datasource", "tag_list")
