.media.mb-3.service-box{ class: ("horizontal" if service.horizontal) }
  .media-body.pt-4
    .pl-4.pr-4.mb-3
      %h2.mb-3{ "data-probe" => "", "data-service-id" => service.id }= yield
      - if service.horizontal
        %span.badge.badge-blue Horizontal service
      %p.mb-3= service.tagline
      = render "components/presentable/header_component/categorization", service: service, highlights: nil
      = yield_content!(:comparison_checkbox) if content_for(:comparison_checkbox)
      = yield_content!(:favourite_checkbox) if content_for(:favourite_checkbox)
  .right-extra-info
    .text-center.badge.text-uppercase
      %i{ class: "ordertype #{order_type(service)}" }
      -# TODO: refactor dynamic translation
      = t("offers.type.#{order_type(service)}")
    .service-logo
      = presentable_logo(service, "align-center mx-4 service-logo", [120, 120])
