- content_for :title, _("Favourite resources")
- breadcrumb(:favourites)
.container{ "data-controller": "favourite comparison" }
  %h1.mb-4
    = _("Favourite resources")
  .row
    .col-lg-3.mb-5
      .favourite-icon
        = image_pack_tag "gfx_heart.svg"
      .mt-4
      - unless @favourites.blank?
        = link_to "Go back to the resources list", services_path,
        class: "btn btn-sm btn-primary d-block mb-3", "data-target": "favourite.backlink"
    .col-lg-9.favourites{ "data-target": "favourite.serviceBox" }
      - if @favourites.blank?
        = render "empty_box"
      - else
        = render partial: "service", collection: @favourites,
          locals: { comparison_enabled: false, remote: true, favourite_services: @favourites }
  #comparison-bar.comparison-bar.fixed-bottom{ class: (session[:comparison]&.size || 0) > 0 ? "d-block" : "d-none",
    "data-target": "comparison.bar" }
    = render "comparisons/bar", services: @compare_services, category: @category
