.tab-pane{ id: "admins", class: "#{"active" if active}", "aria-labelledby": "admins-header",
           role: "tabpanel", "data-form-target": "tab" }
  .card-body
    .row.service-contact-emails{ data: { controller: "administrator", administrator_target: "dataAdministrators" } }
      .col-12
        %h3
          = _("Data Administrators")
        = f.error :data_administrators, class: "invalid-feedback d-block"
        = f.fields_for :data_administrators, disabled: provider.upstream_id.present?, multiple: true, as: :array,
          wrapper_html: { "data-provider-target" => "dataAdministrator" } do |data_administrator_form|
          = render_data_administrator(data_administrator_form, provider)
        = link_to _("Add additional data administrator"), "#", class: "btn btn-primary disablable mb-5",
                    data: { provider_target: "addAdmin" ,
                    action: "click->administrator#addAdmin",
                    fields: f.fields_for(:data_administrators, DataAdministrator.new,
                    child_index: "new_field") { |da_form| render_data_administrator(da_form, provider) } }
      = render "backoffice/providers/more_information"
