.card.shadow-sm.rounded
  %button.btn.btn-link{ type: "button", class: ("collapsed" if collapsed?(provider, [:name, :abbreviation, :website,
          :legal_entity, :legal_statuses])),
              data: { toggle: "collapse", target: "#basic" },
              aria: { expanded: true, controls: "basic" } }
    .card-header.text-left{ id: "basic-header" }
      .row
        .col-10
          = _("Basic")
        .col-2.text-right
          .collapse-icon
            %i.fas.fa-chevron-down
            %i.fas.fa-chevron-up
.collapse{ id: "basic", "aria-labelledby": "basic-header",
          "data-parent": "#accordion-form",
          class: ("show" unless collapsed?(provider, [:name, :abbreviation, :website,
          :legal_entity, :legal_statuses])) }
  .card-body
    = f.input :name, disabled: cant_edit(:name)
    = f.input :abbreviation, disabled: cant_edit(:abbreviation)
    = f.input :website, disabled: cant_edit(:website)
    = f.input :legal_entity, as: :boolean, checked_value: true, unchecked_value: false,
                disabled: cant_edit(:legal_entity)
    = f.association :legal_statuses, disabled: cant_edit([legal_status_ids: []]), input_html: { data: { choice: true } }
