.card.shadow-sm.rounded
  %button.btn.btn-link{ type: "button", class: ("collapsed" if collapsed?(provider,
            ["main_contact.first_name".to_sym, "main_contact.last_name".to_sym,
            "main_contact.email".to_sym, "public_contacts.email".to_sym])),
              data: { toggle: "collapse", target: "#contact" },
              aria: { expanded: true, controls: "contact" } }
    .card-header.text-left{ id: "contact-header" }
      .row
        .col-11
          = _("Contact")
        .col-1.text-right
          .collapse-icon
            %i.fas.fa-chevron-down
            %i.fas.fa-chevron-up
.collapse{ id: "contact", "aria-labelledby": "contact-header",
        "data-parent": "#accordion-form",
        class: ("show" unless collapsed?(provider, ["main_contact.first_name".to_sym,
        "main_contact.last_name".to_sym, "main_contact.email".to_sym, "public_contacts.email".to_sym])) }
  .card-body
    .row.service-contact-emails
      .col-12
        %h3
          = _("Main Contact")
        .contact
          = f.fields_for :main_contact do |main_contact_form|
            = main_contact_form.hidden_field :id
            = main_contact_form.input :first_name
            = main_contact_form.input :last_name
            = main_contact_form.input :email
            = main_contact_form.input :phone
            = main_contact_form.input :position
    .row.service-contact-emails{ "data-target": "service.publicContacts" }
      .col-12
        %h3
          = _("Public contacts")
        = f.fields_for :public_contacts, multiple: true, as: :array,
                wrapper_html: { "data-target" => "form.publicContact" } do |public_contact_form|
          = render "backoffice/common_parts/form/public_contact_fields",
          public_contact_form: public_contact_form, service: nil, provider_form: true
        = link_to _("Add additional public contact"), "#", class: "btn btn-primary disablable",
          data: { "target": "form.addContact",
          "action": "click->form#addContact",
          "fields": f.fields_for(:public_contacts, PublicContact.new,
          child_index: "new_field") { |public_contact_form| render "backoffice/common_parts/form/public_contact_fields",
          public_contact_form: public_contact_form, service: nil, provider_form: true } }
