.card.shadow-sm.rounded
  %button.btn.btn-link{ type: "button", class: ("collapsed" if collapsed?(provider,
              [:description, :logo, :link_multimedia_urls, :"link_multimedia_urls.url"])),
              data: { toggle: "collapse", target: "#marketing" },
              aria: { expanded: true, controls: "marketing" } }
    .card-header.text-left{ id: "marketing-header" }
      .row
        .col-10
          = _("Marketing")
        .col-2.text-right
          .collapse-icon
            %i.fas.fa-chevron-down
            %i.fas.fa-chevron-up
.collapse{ id: "marketing", "aria-labelledby": "marketing-header",
          "data-parent": "#accordion-form",
          class: ("show" unless collapsed?(provider, [:description, :logo,
          :link_multimedia_urls, :"link_multimedia_urls.url"])) }
  .card-body
    .service-description
      = f.input :description, disabled: cant_edit(:description)
    - has_logo = provider.logo.present? && provider.logo.attached? && provider.logo.persisted?
    = f.input :logo, disabled: cant_edit(:logo), as: :file,
      input_html: { value: has_logo ? url_for(provider.logo) : nil }
    %h3
      = _("Multimedia urls")
    = f.error :link_multimedia_urls, class: "invalid-feedback d-block"
    = f.fields_for :link_multimedia_urls, disabled: provider.upstream_id.present?, multiple: true, as: :array,
                wrapper_html: { "data-form-target" => "link" } do |link_form|
      = render_link(link_form, provider, "multimedia")
    = link_to _("Add new multimedia"), "#", class: "btn btn-primary disablable",
              data: { "form-target": "addField",
              action: "click->form#addField",
              value: "multimedia",
              fields: f.fields_for(:link_multimedia_urls, Link::MultimediaUrl.new,
              child_index: "new_field") { |lf| render_link(lf, provider, "multimedia") } }
