.card.shadow-sm.rounded
  %button.btn.btn-link{ type: "button", class: ("collapsed" if collapsed?(provider,
              [:description, :logo, :multimedia])),
              data: { toggle: "collapse", target: "#marketing" },
              aria: { expanded: true, controls: "marketing" } }
    .card-header.text-left{ id: "marketing-header" }
      .row
        .col-11
          = _("Marketing")
        .col-1.text-right
          .collapse-icon
            %i.fas.fa-chevron-down
            %i.fas.fa-chevron-up
.collapse{ id: "marketing", "aria-labelledby": "marketing-header",
          "data-parent": "#accordion-form",
          class: ("show" unless collapsed?(provider, [:description, :logo, :multimedia])) }
  .card-body
    .service-description
      = f.input :description
    = f.input :logo
    = f.input :multimedia, multiple: true, input_html: { class: "form-control" },
              wrapper_html: { "data-target" => "form.multimedia" }, as: :array
    = link_to_add_array_field("provider", "multimedia")
