.tab-pane{ id: "maturity", class: "#{"active" if active}", "aria-labelledby": "maturity-header", role: "tabpanel",
          "data-form-target": "tab" }
  .card-body
    .row
      .col-lg-7.pl-0
        = f.input :provider_life_cycle_status,
                  collection: Vocabulary.where(type: "Vocabulary::ProviderLifeCycleStatus"),
                  disabled: cant_edit([provider_life_cycle_status_ids: []]),
                  label_method: :name, value_method: :id,
                  input_html: { multiple: false, data: { choice: true } }
        = f.input :certifications,
                  disabled: cant_edit([certifications: []]), multiple: true,
                  input_html: { class: "form-control text optional" },
                  wrapper_html: { "data-form-target" => "certifications" }, as: :array
        = link_to_add_array_field("provider", "certifications")
      = render "backoffice/providers/more_information"
