.fixme{ "data-form-target": "fixme", "data-action": "scroll@window->form#onScroll" }
  %ul.add-new-menu
    %li
      %a{ href: "#basic", "data-toggle": "collapse" }= _("Basic")
    %li
      %a{ href: "#marketing", "data-toggle": "collapse" }= _("Marketing")
    %li
      %a{ href: "#classification", "data-toggle": "collapse" }= _("Classification")
    %li
      %a{ href: "#location", "data-toggle": "collapse" }= _("Location")
    %li
      %a{ href: "#contact", "data-toggle": "collapse" }= _("Contact")
    %li
      %a{ href: "#maturity", "data-toggle": "collapse" }= _("Maturity")
    %li
      %a{ href: "#dependencies", "data-toggle": "collapse" }= _("Dependencies")
    %li
      %a{ href: "#other", "data-toggle": "collapse" }= _("Other")
    %li
      %a{ href: "#admins", "data-toggle": "collapse" }= _("Admins")
