- technical_parameters = offer.attributes.map(&:to_json)
- published_offers_size = offer.service.offers_count
.col-md-6.edit-offer
  .card.m-0.mb-5{ class: offer.default ? "default" : nil }
    - if published_offers_size > 1
      - if offer.default && published_offers_size == 2
        .card-body.pt-0.collapse-group
          .container
            .row.info-row
              .col-12.col-sm-3
                = image_pack_tag "icon-pencil.png", class: "icon-pencil"
              .col-12.col-sm-9.pl-0
                %p
                  -# haml-lint:disable MultilinePipe
                  = _("Your technical parameters configuration has been changed into a default offer. ")
                  = _(" Please provide the offer Name and Description for a better user experience.") |
                  -# haml-lint:enable MultilinePipe
      - else
        = render "services/offers/description", offer: offer
    - if technical_parameters.present?
      .card-body.pt-0.collapse-group
        %h5.text-uppercase.parameters-title.mb-0
          %i.fas.fa-tachometer-alt
          = _("Technical Parameters")
        %table.offer-params.table.table-hover
          %tbody
            - technical_parameters.each do |parameter|
              %tr
                %td= parameter["label"]
                %td.text-right.text-nowrap.font-weight-bold= parse_offer_parameter_value(parameter)
    - else
      .card-body.pt-0.collapse-group
        %p
          = image_pack_tag "icon-speed.png", class: "icon-speed"
          = _("The technical parameters configuration is empty")

    .card-button.text-center
      %label
        = link_to edit_service_ordering_configuration_offer_path(offer.service, offer) do
          %span.btn.btn-outline-secondary.font-weight-bold
            - if published_offers_size == 1
              = _("Edit parameters")
            - else
              = _("Edit")


