- technical_parameters = offer.attributes.map(&:to_json)
- published_offers_size = offer.service.offers.published.size
.col-md-6.edit-offer
  .card.m-0.mb-5
    - if published_offers_size > 1
      - if offer.name == "Offer" && offer.description == "#{offer.service.name} Offer"
        .card-body.pt-0.collapse-group
          .container
            .row.info-row
              .col-12.col-sm-3
                = image_pack_tag "icon-pencil.png", class: "icon-pencil"
              .col-12.col-sm-9.pl-0
                %p
                  -# haml-lint:disable MultilinePipe
                  = _("Your parameters settings has been changed to default offer.")
                  = _(" New fields appeared in edit mode. " |
                      "Please complete Name and Description for better user experience.") |
                  -# haml-lint:enable MultilinePipe
      - else
        = render "services/offers/description", offer: offer
    - if technical_parameters.present?
      .card-body.pt-0.collapse-group
        %h5.text-uppercase.parameters-title.mb-0
          %i.fas.fa-tachometer-alt
          = _("Technical Parameters")
        %table.offer-params.table.table-hover
          %tbody
            - technical_parameters.each do |parameter|
              %tr
                %td= parameter["label"]
                %td.text-right.text-nowrap.font-weight-bold= parse_offer_parameter_value(parameter)
    - else
      .row
        %p
          = image_pack_tag "icon-speed.png", class: "icon-speed"
          = _("Your offer does not have any default parameters yet.")

    .card-button.text-center
      %label
        = link_to edit_service_ordering_configuration_offer_path(offer.service, offer) do
          %span.btn.btn-outline-secondary.font-weight-bold
            = _("Edit parameters")


