.row
  .col-12.col-lg-9.row
    .col-12.col-sm-3.d-flex.img-service-detail
      - if local_assigns[:preview]
        = image_tag backoffice_service_logo_preview_path(service_id: service.id || "new"),
        class: "align-self-center img-fluid"
      - else
        = object_logo(service, "align-self-center img-fluid", "180x120")
    .col-12.col-sm-9.service-details-header
      %h2.font-weight-bolder= service.name
      %p.mb-1= service.tagline
      = render "components/presentable/header_component/categorization", service: service, highlights: nil

      .row.mt-2
        .col
          .stars
            = print_rating_stars(service.rating)
          .rating
            %span.ml-1.font-weight-bold
              (#{service.rating} /5)
            - if service.persisted?
              = service_opinions_link(service, local_assigns[:preview])
  .col-12.col-lg-3.text-center.vertical-center
    .vertical-center-inner.access-type
      = link_to _("Back to the resource"), service_path(service),
        class: "btn btn-outline-primary d-block mb-3"
      = link_to _("Set parameters and offers"), service_ordering_configuration_path(service,
                                                                                    anchor: "offers",
                                                                                    from: params[:from]),
        class: "btn btn-outline-secondary d-block mb-3 no-arrow"
      %span.ordertype-label
        %i{ class: "ordertype #{order_type(service)}" }
        -# TODO: refactor dynamic translation
        = t("offers.type.#{order_type(service)}")
.row.service-links
  .col-12.col-lg-9.row
    .col-12.col-sm-3
    .col-12.col-sm-9
      - service_header_fields.filter_map do |group|
        - if group[:name] == "links"
          = render "components/presentable/header_links_component/links",
                      object: service,
                      fields: group[:fields],
                      nested: group[:nested] || "",
                      preview: local_assigns[:preview]
