= simple_form_for [:admin, help_section] do |f|
  = f.input :title
  = f.input :position

  = f.button :submit, class: "btn btn-primary pl-5 pr-5 mr-5"
  = link_to _("Cancel and back to help preview"), admin_help_path,
    class: "text-left flex-grow-1 text-uppercase"
