.service-info-box
  %header
    = link_to service.name.truncate(35), service, class: "title"
  %article
    %p
      = service_logo(service)
      = truncate(service.description, length: 120)
  %footer
    .column-left
      %p
        %small Provided by:
        %br
        = safe_join(providers_text(service), ", ").truncate(24)
    .column-right
      %p.text-right
        %small Dedicated for:
        %br
        = safe_join(dedicated_for_text(service), ", ").truncate(24)
