%a.home-anchor{ href: "#find-eosc", data: { "controller" => "home-page",
                                              "target" => "scrollArrow",
                                              "action" => "scroll@window->home-page#onScroll" } }
  = image_tag("main-link.png")

.contentbox
  %div
    %p.contentbox__title
      = _("Welcome to the EOSC Catalogue and Marketplace")
    %p.contentbox__lead
      -# haml-lint:disable MultilinePipe
      = _("Integrated platform that allows easy access to lots of services for various research domains along" + |
          " with data and integrated data analytics tools. Browse by scientific domain, your current research " + |
          "activity or provider that you know and trust and, if you need help, we are here for you!") |
      -# haml-lint:enable MultilinePipe

    .intro-box-wrapper
      .intro-box
        = _("Find EOSC Services that suit your use case yourself")

        %a{ href: "#{search_service_base_url}/search/all?q=*",
            title: "Discover research products and services all together" }
          %i.fas.fa-arrow-right
          = _("Discover research products and services all together")

        %a{ href: "https://marketplace.eosc-portal.eu/services/",
            title: "Browse through service catalogue" }
          %i.fas.fa-arrow-right
          = _("Browse through service catalogue")

      .intro-box
        =  _("Describe your use case and get support from our experts")
        = link_to projects_path, "data-e2e" => "goToProjectsBtn" do
          %i.fas.fa-arrow-right
          = _("Go to your projects")

  %aside
    = image_tag "gfx_whole_illustation_desktop.png"
