%a.home-anchor{ "href": "#find-eosc", data: { "controller" => "home-page",
                                              "target" => "scrollArrow",
                                              "action" => "scroll@window->home-page#onScroll" } }
  = image_tag("main-link.png")

.contentbox
  %div
    %p.contentbox__title
      = t(".title")
    %p.contentbox__lead
      = t(".description")

    .intro-box-wrapper
      .intro-box
        = t(".services.description")
        = link_to services_path do
          %i.fas.fa-arrow-right
          = t(".services.link")

      .intro-box
        =  t(".projects.description")
        = link_to projects_path do
          %i.fas.fa-arrow-right
          = t(".projects.link")

  %aside
    = image_tag "gfx_whole_illustation_desktop.png"

