%a.home-anchor{ href: "#find-eosc", data: { "controller" => "home-page",
                                              "target" => "scrollArrow",
                                              "action" => "scroll@window->home-page#onScroll" } }
  = image_tag("main-link.png")


.contentbox
  .left-column
    %a{ href: "/services/c/data-management" }
      = image_tag "main-info-01.jpg"
  .right-column
    %a{ href: "/services/c/compute" }
      = image_tag "main-info-02.jpg"

.contentbox
  .first
    %p.contentbox__title
      = _("About the Marketplace")

    -# haml-lint:disable MultilinePipe
    %p.contantbox__lead
      = _("We believe that having access to top scientific computing resources is essential to help researchers " + |
          "to be competitive. The Marketplace is the entry point for researchers to discover and access the " + |
          "advanced computing services and tools they need for their work.") |
    %p
      = _("The services available in the Marketplace cover the areas of Compute, Storage and Data. " + |
          "The Marketplace also provides Applications on demand and Training modules. " + |
          "All services are provided by the EGI Federation and partner institutions.") |
    %p
      = _("The EGI Federation brings together almost 300 data and compute centres and " + |
          "21 cloud providers worldwide, united with a mission of supporting science and innovation.") |
    -# haml-lint:enable MultilinePipe

  .last
    %ul
      %li
        %i.fas.fa-check-circle
        .list-title= _("Easy to find")
        %p= _("advanced filtering and lots of information on capability and service levels")
      %li
        %i.fas.fa-check-circle
        .list-title= _("Easy to access")
        %p= _("log in with your own credentials")
      %li
        %i.fas.fa-check-circle
        .list-title= _("Customizable")
        %p= _("views can be pre-defined for labs, communities and organisations")
      %li
        %i.fas.fa-check-circle
        .list-title= _("Simple")
        %p= _("purchase resources and services or access them free of charge")
