- portal_base = Mp::Application.config.portal_base_url

.container
  %h2.home-title Learn more
  .row
    .col-12.col-lg-4.col-sm-6
      = render "home/learn_more/card",
        url: "#{portal_base}/about/eosc",
        title: "EOSC initiative", icon: "ico_howitworks.png" do
        Find out more about EOSC and what it can bring you!

    .col-12.col-lg-4.col-sm-6
      = render "home/learn_more/card",
        url: about_projects_path,
        title: "Projects", icon: "ico_projects.png" do
        Through Marketplace Projects you can organise your services
        and gain support from the EOSC experts.

    .col-12.col-lg-4.col-sm-6
      = render "home/learn_more/card",
        url: "#{portal_base}/for-providers",
        title: "For providers", icon: "ico_providers.png" do
        Contribute to develop EOSC into a rich environment with
        a wide range of services and resources for researchers.
