.container.home-intro
  .row
    .col-12.col-lg-3.left-column
      .left-menu.pl-4.pr-4.pt-2.pb-2
        %ul
          %li.all-link
            = link_to "All Services", services_path
          - @root_categories.each do |root_category|
            %li
              = link_to root_category.name, root_category
      .card.for-providers.mt-4.mb-1
        .card-body
          %h5.card-title For providers
          %p.card-text
            Contribute to develop EOSC into a rich environment with
            a wide range of services and resources for researches.
          %strong
            = link_to "Become a provider", "#{Mp::Application.config.portal_base_url}/for-providers", class: "card-link"

    .col-12.col-lg-9.right-column.pl-5
      %p.subtitle.mt-4  EOSC Marketplace
      %p.title services for your research
      %ul.feature-list.mt-5
        %li
          %i.fas.fa-arrow-right
          %p
            %strong
              Easy to access:
            log in with own credentials
        %li
          %i.fas.fa-arrow-right
          %p
            %strong
              Lots to explore:
            tools and services for many research domains
        %li
          %i.fas.fa-arrow-right
          %p
            %strong
              Integrated services:
            analytical tools empowered by compute and data services
        %li
          %i.fas.fa-arrow-right
          %p
            %strong
              Ready to use:
            virtual environments pre-packed with services and tools

      .numbers.mt-5.row
        .col-3.text-center.pt-4
          .box
            .icon
              %i.far.fa-building
            .num
              = link_to providers_number, services_path
            .sub-num
              = link_to "providers", services_path
        .col-6.text-center.pt-4
          .box
            .icon
              %i.fas.fa-cogs
            .num
              = link_to services_number, services_path
            .sub-num
              = link_to "services", services_path
        .col-3.text-center.pt-4
          .box
            .icon
              %i.fas.fa-globe
            .num
              = link_to countries_number, services_path
            .sub-num
              = link_to "countries", services_path
