.container.home-intro.pt-5.pb-4
  .row.pt-2
    .col-12.col-lg-7.left-column
      %p.title
        Welcome to Marketplace
        %br
        of European Open
        %br
        Science Cloud

      %p.home-lead.pr-5.mr-5
        Easy acces, lots to explore tools and service for many research domains. Integrated services - analytical tools
        empowerd by compute and data services. Browse by science, category and if you need a help we are here for you!
      .row.mt-2
        .col-12.col-lg-5.intro-box.pt-5.pb-5
          Find EOSC Services that suit your usecase yourself
          %a{ href: "/services" }
            %i.fas.fa-arrow-right
            Browse through catalogue

        .col-12.col-lg-5.intro-box.pt-5.pb-5
          Describe your use case and get support from our experts
          %a{ href: "/projects" }
            %i.fas.fa-arrow-right
            Go to your projects

    .col-12.col-lg-5.right-column
      .home-image

.home-tabs.container.mt-5
  %nav.nav.nav-pills.nav-fill
    %a.nav-item.nav-link.active xxxxx
    %a.nav-item.nav-link xxxxx


.container.home-intro
  .row
    .col-12.col-lg-3.left-column
      .left-menu.pl-4.pr-4.pt-2.pb-2
        %ul
          %li.all-link
            = link_to "All Services", services_path
          - @root_categories.each do |root_category|
            %li
              = link_to root_category.name, root_category
      .card.for-providers.mt-4.mb-1
        .card-body
          %h5.card-title For providers
          %p.card-text
            Contribute to develop EOSC into a rich environment with
            a wide range of services and resources for researches.
          %strong
            = link_to "Become a provider", "#{Mp::Application.config.portal_base_url}/for-providers", class: "card-link"

    .col-12.col-lg-9.right-column.pl-5


      .numbers.mt-5.row
        .col-3.text-center.pt-4
          .box
            .icon
              %i.far.fa-building
            .num
              = link_to providers_number, services_path
            .sub-num
              = link_to "providers", services_path
        .col-6.text-center.pt-4
          .box
            .icon
              %i.fas.fa-cogs
            .num
              = link_to services_number, services_path
            .sub-num
              = link_to "services", services_path
        .col-3.text-center.pt-4
          .box
            .icon
              %i.fas.fa-globe
            .num
              = link_to countries_number, services_path
            .sub-num
              = link_to "countries", services_path
