.container.home-intro.pt-5.pb-4
  .row.pt-2.d-flex
    .col-12.col-lg-5.right-column.order-lg-last
      .home-image
    .col-12.col-lg-7.left-column
      %p.title
        Welcome to Marketplace
        %br
        of European Open
        %br
        Science Cloud

      %p.home-lead.pr-5.mr-5
        Easy acces, lots to explore tools and service for many research domains. Integrated services - analytical tools
        empowerd by compute and data services. Browse by science, category and if you need a help we are here for you!
      .row.mt-2
        .col-12.col-lg-5.intro-box.pt-5.pb-5
          Find EOSC Services that suit your usecase yourself
          %a{ href: "/services" }
            %i.fas.fa-arrow-right
            Browse through catalogue

        .col-12.col-lg-5.intro-box.pt-5.pb-5
          Describe your use case and get support from our experts
          %a{ href: "/projects" }
            %i.fas.fa-arrow-right
            Go to your projects

.home-tabs.container.mt-5
  %ul.tabs
    %li.tab-link.current{ "data-tab" => "tab-1" }Branch of science
    %li.tab-link{ "data-tab" => "tab-2" }Categories

  #tab-1.tab-content-home.current
    .container
      .row
        .col-12.col-lg-4
          %a.branch-box
            .branch-icon
              = image_tag("ico_interdisciplinary.png", alt: "Interdisciplinary")
            .branch-name Interdisciplinary

        .col-12.col-lg-4
          %a.branch-box
            .branch-icon
              = image_tag("ico_humanities.png", alt: "Humanities")
            .branch-name Humanities

        .col-12.col-lg-4
          %a.branch-box
            .branch-icon
              = image_tag("ico_naturalsciences.png", alt: "Natural sciences")
            .branch-name Natural sciences

        .col-12.col-lg-4
          %a.branch-box
            .branch-icon
              = image_tag("ico_interdisciplinary.png", alt: "Interdisciplinary")
            .branch-name Interdisciplinary

        .col-12.col-lg-4
          %a.branch-box
            .branch-icon
              = image_tag("ico_humanities.png", alt: "Humanities")
            .branch-name Humanities

        .col-12.col-lg-4
          %a.branch-box
            .branch-icon
              = image_tag("ico_naturalsciences.png", alt: "Natural sciences")
            .branch-name Natural sciences

        .col-12.col-lg-4
          %a.branch-box
            .branch-icon
              = image_tag("ico_interdisciplinary.png", alt: "Interdisciplinary")
            .branch-name Interdisciplinary

        .col-12.col-lg-4
          %a.branch-box
            .branch-icon
              = image_tag("ico_humanities.png", alt: "Humanities")
            .branch-name Humanities

        .col-12.col-lg-4
          %a.branch-box
            .branch-icon
              = image_tag("ico_naturalsciences.png", alt: "Natural sciences")
            .branch-name Natural sciences
      .row.d-flex.justify-content-center.mt-4
        = link_to "Browse all services", services_path, class: "btn btn-primary font-weight-bold mt-3"

  #tab-2.tab-content-home
    %p content here
