.container.home-intro.pt-5.pb-4
  .row.pt-2.d-flex
    .col-12.col-lg-5.right-column.order-lg-last
      .home-image
    .col-12.col-lg-7.left-column
      %p.title
        Welcome to Marketplace
        %br
        of European Open
        %br
        Science Cloud

      %p.home-lead.pr-5.mr-5
        Easy acces, lots to explore tools and service for many research domains. Integrated services - analytical tools
        empowerd by compute and data services. Browse by science, category and if you need a help we are here for you!
      .row.mt-2
        .col-12.col-lg-5.intro-box.pt-5.pb-5
          Find EOSC Services that suit your usecase yourself
          %a{ href: "/services" }
            %i.fas.fa-arrow-right
            Browse through catalogue

        .col-12.col-lg-5.intro-box.pt-5.pb-5
          Describe your use case and get support from our experts
          %a{ href: "/projects" }
            %i.fas.fa-arrow-right
            Go to your projects

.home-tabs.container.mt-5
  %ul.tabs
    %li.tab-link.current{ "data-tab" => "tab-1" }Branch of science
    %li.tab-link{ "data-tab" => "tab-2" }Categories

  #tab-1.tab-content-home.current
    .container
      .row
        .col-12.col-lg-4
          %a.branch-box{ "href": "/services?utf8=✓&research_areas%5B%5D=1&rating=&location=" }
            .branch-icon
              = image_tag("ico_interdisciplinary.png", alt: "Interdisciplinary")
            .branch-name Interdisciplinary

        .col-12.col-lg-4
          %a.branch-box{ "href": "/services?utf8=✓&research_areas%5B%5D=8&rating=&location=" }
            .branch-icon
              = image_tag("ico_humanities.png", alt: "Humanities")
            .branch-name Humanities

        .col-12.col-lg-4
          %a.branch-box{ "href": "/services?utf8=✓&research_areas%5B%5D=5&rating=&location=" }
            .branch-icon
              = image_tag("ico_naturalsciences.png", alt: "Natural sciences")
            .branch-name Natural sciences

        .col-12.col-lg-4
          %a.branch-box{ "href": "#" }
            .branch-icon
              = image_tag("ico_support.png", alt: "Support activities")
            .branch-name Support activities

        .col-12.col-lg-4
          %a.branch-box{ "href": "#" }
            .branch-icon
              = image_tag("ico_agricultural.png", alt: "Agricultural sciences")
            .branch-name Agricultural sciences

        .col-12.col-lg-4
          %a.branch-box{ "href": "/services?utf8=✓&research_areas%5B%5D=16&rating=&location=" }
            .branch-icon
              = image_tag("ico_medical.png", alt: "Medical and health sciences")
            .branch-name Medical and health sciences

        .col-12.col-lg-4
          %a.branch-box{ "href": "/services?utf8=✓&research_areas%5B%5D=16&rating=&location=" }
            .branch-icon
              = image_tag("ico_engineering.png", alt: "Engineering and technology")
            .branch-name Engineering and technology

        .col-12.col-lg-4
          %a.branch-box{ "href": "/services?utf8=✓&research_areas%5B%5D=19&rating=&location=" }
            .branch-icon
              = image_tag("ico_social.png", alt: "Social sciences")
            .branch-name Social sciences

        .col-12.col-lg-4
          %a.branch-box{ "href": "/services?utf8=✓&research_areas%5B%5D=21&rating=&location=" }
            .branch-icon
              = image_tag("ico_other.png", alt: "Other")
            .branch-name Other
      .row.d-flex.justify-content-center.mt-4
        = link_to "Browse all services", services_path, class: "btn btn-primary font-weight-bold mt-3"

  #tab-2.tab-content-home
    .container
      .row
        .col-12.col-lg-4
          %a.branch-box{ "href": "/services/c/compute" }
            .branch-icon
              = image_tag("ico_compute.png", alt: "Compute")
            .branch-name Compute

        .col-12.col-lg-4
          %a.branch-box{ "href": "/services/c/data-management" }
            .branch-icon
              = image_tag("ico_data_management.png", alt: "Data management")
            .branch-name Data management

        .col-12.col-lg-4
          %a.branch-box{ "href": "/services/c/networking" }
            .branch-icon
              = image_tag("ico_networking.png", alt: "Networking")
            .branch-name Networking

        .col-12.col-lg-4
          %a.branch-box{ "href": "/services/c/processing-analysis" }
            .branch-icon
              = image_tag("ico_processing.png", alt: "Proscessing & analysis")
            .branch-name Proscessing & analysis

        .col-12.col-lg-4
          %a.branch-box{ "href": "/services/c/security-operations" }
            .branch-icon
              = image_tag("ico_security.png", alt: "Security & operations")
            .branch-name Security & operations

        .col-12.col-lg-4
          %a.branch-box{ "href": "/services/c/sharing-discovery" }
            .branch-icon
              = image_tag("ico_sharing.png", alt: "Sharing & discovery")
            .branch-name Sharing & discovery

        .col-12.col-lg-4
          %a.branch-box{ "href": "/services/c/storage" }
            .branch-icon
              = image_tag("ico_storage.png", alt: "Storage")
            .branch-name Storage

        .col-12.col-lg-4
          %a.branch-box{ "href": "/services/c/training-support" }
            .branch-icon
              = image_tag("ico_training.png", alt: "Training & support")
            .branch-name Training & support

      .row.d-flex.justify-content-center.mt-4
        = link_to "Browse all services", services_path, class: "btn btn-primary font-weight-bold mt-3"
