= render "home/products", categories: @categories, sample_services: @sample_services,
                          other_services: @other_services
.container
  %h2.mb-3.mt-4 Popular services
  #home-carousel.carousel.slide.home-carousel
    .carousel-inner
      .carousel-item.active
        .card-deck
          - @other_services[0..3].each do |other_service|
            .card
              .card-img-top
                - if other_service.logo.attached?
                  = image_tag other_service.logo.variant(resize: "180x120")
                - else
                  = image_tag "eosc-img.png"
              .card-body
                .card-title
                  = link_to other_service.title, other_service
              .card-footer
                %p
                  %small Provided by:
                  %a EGI Federated Cloud
                %p
                  %small Dedicated for:
                  %a Researchers
      - if @other_services.count > 4
        .carousel-item
          .card-deck
            - @other_services[4..7].each do |other_service|
              .card
                .card-img-top
                  - if other_service.logo.attached?
                    = image_tag other_service.logo.variant(resize: "180x120")
                  - else
                    = image_tag "eosc-img.png"
                .card-body
                  .card-title
                    = link_to other_service.title, other_service
                .card-footer
                  %p
                    %small Provided by:
                    %a EGI Federated Cloud
                  %p
                    %small Dedicated for:
                    %a Researchers

    %ol.carousel-indicators
      %li.active{ "data-target" => "#home-carousel", "data-slide-to" => "0" }
      %li{ "data-target" => "#home-carousel", "data-slide-to" => "1" }


  .row.d-flex.justify-content-center.mt-5
    %a.btn.btn-primary.mt-4 Browse all services


