= render "home/products", providers_number: @providers_number,
                          services_number: @services_number,
                          countries_number: @countries_number
= render "home/communities"

.container
  %h2.home-title Learn more
  .row
    .col-12.col-lg-4
      .card.learn-more.first
        %a.card-body{ "href": "xxxx" }
          %h5.card-title How it works?
          .card-description
            Curabitur condimentum, turpis quis tristique congue, tellus tortor mattis dui, quis mollis
            justo augue eget es.
          .card-icon
            = image_tag "ico_howitworks.png"
    .col-12.col-lg-4
      .card.learn-more
        %a.card-body{ "href": "/projects" }
          %h5.card-title Projects
          .card-description
            Curabitur condimentum, turpis quis tristique congue, tellus tortor mattis dui, quis mollis
            justo augue eget es.
          .card-icon
            = image_tag "ico_projects.png"
    .col-12.col-lg-4
      .card.learn-more
        %a.card-body{ "href": "/for-providers" }
          %h5.card-title For providers
          .card-description
            Curabitur condimentum, turpis quis tristique congue, tellus tortor mattis dui, quis mollis
            justo augue eget es.
          .card-icon
            = image_tag "ico_providers.png"

.container
  %h2.home-title Popular services

  #home-carousel.carousel.slide.home-carousel{ "data-ride" => "carousel" }

    .carousel-inner
      .carousel-item.active
        .card-deck
          - @services[0..2].each do |service|
            .card.shadow-sm
              .card-body
                .card-title
                  = link_to service.title.truncate(35), service
                .card-description
                  %p
                    - if service.logo.attached?
                      = image_tag service.logo.variant(resize: "100x70")
                    - else
                      = image_tag "eosc-img.png"
                    B2FIND is the EUDAT metadata service and provides a discovery portal which allows users to find
                    data collections within an...
              .card-footer
                .row
                  .col-6
                    %p
                      %small Provided by:
                      %br
                      = safe_join(providers_text(service), ", ").truncate(24)
                  .col-6
                    %p.text-right
                      %small Dedicated for:
                      %br
                      = safe_join(dedicated_for_text(service), ", ").truncate(24)
      - if @services.count > 3
        .carousel-item
          .card-deck
            - @services[3..5].each do |service|
              .card.shadow-sm
                .card-body
                  .card-title
                    = link_to service.title.truncate(35), service
                  .card-description
                    %p
                      - if service.logo.attached?
                        = image_tag service.logo.variant(resize: "100x70")
                      - else
                        = image_tag "eosc-img.png"
                      B2FIND is the EUDAT metadata service and provides a discovery portal which allows users to find
                      data collections within an...
                .card-footer
                  .row
                    .col-6
                      %p
                        %small Provided by:
                        %br
                        = safe_join(providers_text(service), ", ").truncate(24)
                    .col-6
                      %p.text-right
                        %small Dedicated for:
                        %br
                        = safe_join(dedicated_for_text(service), ", ").truncate(24)

    %ol.carousel-indicators
      %li.active{ "data-target" => "#home-carousel", "data-slide-to" => "0" }
      %li{ "data-target" => "#home-carousel", "data-slide-to" => "1" }

.container
  .row
    .col-12.col-lg-4
      %h2.home-title Recent opinions
      .card.shadow-sm.opinion
        .card-body
          %a.card-title Virtual Language Observatory
          .row.mt-3
            .col
              %ul.list-inline{ data: { rating_stars: "service_opinion_rating" } }
                %li.list-inline-item
                  %i.fas.fa-star{ value: 1 }
                %li.list-inline-item
                  %i.fas.fa-star{ value: 2 }
                %li.list-inline-item
                  %i.fas.fa-star{ value: 3 }
                %li.list-inline-item
                  %i.fas.fa-star{ value: 4 }
                %li.list-inline-item
                  %i.far.fa-star{ value: 5 }
                %li.list-inline-item
                  %span.ml-1.font-weight-bold 4.75/5
          .card-description
            It's a good looking application made with decent quality for the price, but if you need something longer
            lasting, you should look elsewhere.

    .col-12.col-lg-8
      %h2.home-title Testimonials
      .row
        .col-12.col-lg-6
          .card.testimonial
            .card-body
              .card-description
                Nullam elementum, lectus vitae rhoncus convallis, massa eros ullamcorper tortor, id tempus est lacus et
                erat. Nunc venenatis nibh eget nibh posuere sollicitudin.
              .card-author.font-weight-bold.text-right.mt-3 Monica, physicist
        .col-12.col-lg-6
          .card.testimonial
            .card-body
              .card-description
                Nullam elementum, lectus vitae rhoncus convallis, massa eros ullamcorper tortor, id tempus est lacus et
                erat. Nunc venenatis nibh eget nibh posuere sollicitudin.
              .card-author.font-weight-bold.text-right.mt-3 Monica, physicist
