= render "home/products", providers_number: @providers_number,
                          services_number: @services_number,
                          countries_number: @countries_number
= render "home/communities", home_platforms_counter: @home_platforms_counter,
                             home_providers_counter: @home_providers_counter,
                             home_target_groups_counter: @home_target_groups_counter

.container
  %h2.home-title Learn more
  .row
    .col-12.col-lg-4
      .card.learn-more.first
        %a.card-body{ "href": "https://eosc-portal.eu/about/eosc" }
          %h5.card-title EOSC initiative
          .card-description
            Find out more about EOSC and what it can bring you!
          .card-icon
            = image_tag "ico_howitworks.png"
    .col-12.col-lg-4
      .card.learn-more
        %a.card-body{ "href": "https://eosc-portal.eu/media/events" }
          %h5.card-title EOSC events
          .card-description
            Seek for opportunities to meet with EOSC representatives, EOSC service providers and users, communities
            joining EOSC. Find out what is new and what is about to come.
          .card-icon
            = image_tag "ico_projects.png"
    .col-12.col-lg-4
      .card.learn-more
        %a.card-body{ "href": "https://eosc-portal.eu/for-providers" }
          %h5.card-title For providers
          .card-description
            Contribute to develop EOSC into a rich environment with a wide range of services and resources for
            researches.
          .card-icon
            = image_tag "ico_providers.png"

.container
  %h2.home-title Popular services

  #home-carousel.carousel.slide.home-carousel{ "data-ride" => "carousel" }

    .carousel-inner
      .carousel-item.active
        .card-deck
          - @services[0..2].each do |service|
            .card.shadow-sm
              .card-body
                .card-title
                  = link_to service.title.truncate(35), service
                .card-description
                  %p
                    - if service.logo.attached?
                      = image_tag service.logo.variant(resize: "100x70")
                    - else
                      = image_tag "eosc-img.png"
                    B2FIND is the EUDAT metadata service and provides a discovery portal which allows users to find
                    data collections within an...
              .card-footer
                .row
                  .col-6
                    %p
                      %small Provided by:
                      %br
                      = safe_join(providers_text(service), ", ").truncate(24)
                  .col-6
                    %p.text-right
                      %small Dedicated for:
                      %br
                      = safe_join(dedicated_for_text(service), ", ").truncate(24)
      - if @services.count > 3
        .carousel-item
          .card-deck
            - @services[3..5].each do |service|
              .card.shadow-sm
                .card-body
                  .card-title
                    = link_to service.title.truncate(35), service
                  .card-description
                    %p
                      - if service.logo.attached?
                        = image_tag service.logo.variant(resize: "100x70")
                      - else
                        = image_tag "eosc-img.png"
                      B2FIND is the EUDAT metadata service and provides a discovery portal which allows users to find
                      data collections within an...
                .card-footer
                  .row
                    .col-6
                      %p
                        %small Provided by:
                        %br
                        = safe_join(providers_text(service), ", ").truncate(24)
                    .col-6
                      %p.text-right
                        %small Dedicated for:
                        %br
                        = safe_join(dedicated_for_text(service), ", ").truncate(24)

    %ol.carousel-indicators
      %li.active{ "data-target" => "#home-carousel", "data-slide-to" => "0" }
      %li{ "data-target" => "#home-carousel", "data-slide-to" => "1" }

.container
  .row
    .col-12.col-lg-4
      %h2.home-title Recent opinions
      .card.shadow-sm.opinion
        .card-body
          %a.card-title Virtual Language Observatory
          .row.mt-3
            .col
              %ul.list-inline{ data: { rating_stars: "service_opinion_rating" } }
                %li.list-inline-item
                  %i.fas.fa-star{ value: 1 }
                %li.list-inline-item
                  %i.fas.fa-star{ value: 2 }
                %li.list-inline-item
                  %i.fas.fa-star{ value: 3 }
                %li.list-inline-item
                  %i.fas.fa-star{ value: 4 }
                %li.list-inline-item
                  %i.far.fa-star{ value: 5 }
                %li.list-inline-item
                  %span.ml-1.font-weight-bold 4.75/5
          .card-description
            It's a good looking application made with decent quality for the price, but if you need something longer
            lasting, you should look elsewhere.

    .col-12.col-lg-8
      %h2.home-title Use Cases
      .row
        .col-12.col-lg-6
          .card.testimonial
            .card-body
              .card-author.font-weight-bold.mb-3
                %a{ "href": "https://eosc-portal.eu/language-data-insight-clarin-demonstrator" }
                  From language data to insight: the CLARIN demonstrator
              .card-description
                How the integration of the CLARIN infrastructure into the EOSC portal can facilitate the study of
                language data.
        .col-12.col-lg-6
          .card.testimonial
            .card-body
              .card-author.font-weight-bold.mb-3
                %a{ "href": "https://eosc-portal.eu/eosc-scalable-computing-infrastructure-earth-observation" }
                  The EOSC as a scalable computing infrastructure for Earth Observation
              .card-description
                How EOSC could open the way for Earth Observation innovation.
