= render "info"

= render "products",
  research_areas: @main_research_areas,
  categories: @root_categories

= render "communities",
  platforms: @home_platforms, more_platforms_count: @home_platforms_counter,
  providers: @home_providers, more_providers_count: @home_providers_counter,
  target_groups: @home_target_groups, more_target_groups_count: @home_target_groups_counter

= render_sections("learn-more")

= render "services", services: @services


.container
  .row
    .col-12.col-lg-4.col-sm-5
      = render "opinions", opinion: @opinion
    .col-12.col-lg-8.col-sm-7
      = render_sections("use-cases")
