= render "home/products", providers_number: @providers_number,
                          services_number: @services_number,
                          countries_number: @countries_number
.container
  %h2.mb-3.mt-4 Popular services
  #home-carousel.carousel.slide.home-carousel
    .carousel-inner
      .carousel-item.active
        .card-deck
          - @services[0..3].each do |service|
            .card
              .card-img-top
                - if service.logo.attached?
                  = image_tag service.logo.variant(resize: "170x112")
                - else
                  = image_tag "eosc-img.png"
              .card-body
                .card-title
                  = link_to service.title.truncate(35), service
              .card-footer
                %p
                  %small Provided by:
                  = safe_join(providers_text(service), ", ").truncate(22)
                %p
                  %small Dedicated for:
                  = safe_join(dedicated_for_text(service), ", ").truncate(21)
      - if @services.count > 4
        .carousel-item
          .card-deck
            - @services[4..7].each do |service|
              .card
                .card-img-top
                  - if service.logo.attached?
                    = image_tag service.logo.variant(resize: "170x112")
                  - else
                    = image_tag "eosc-img.png"
                .card-body
                  .card-title
                    = link_to service.title.truncate(35), service
                .card-footer
                  %p
                    %small Provided by:
                    = safe_join(providers_text(service), ", ").truncate(22)
                  %p
                    %small Dedicated for:
                    = safe_join(dedicated_for_text(service), ", ").truncate(21)

    %ol.carousel-indicators
      %li.active{ "data-target" => "#home-carousel", "data-slide-to" => "0" }
      %li{ "data-target" => "#home-carousel", "data-slide-to" => "1" }


  .row.d-flex.justify-content-center.mt-5
    = link_to "Browse all services", services_path, class: "btn btn-primary mt-4"


