Dear Sir/Madam,
\
You have received a question from #{@email}
\
The question refers to the Service #{@service.name}
\
The question was issued by: #{@author}
\
The content of the question:
\
#{@message}
\
Kindly give your reply to the below email address:
\
#{@email}
\
Kind regards
