%div{ "data-form-target": "publicContact" }
  .contact
    = public_contact_form.hidden_field :id, disabled: object.present? ? object&.upstream_id.present? : nil
    = public_contact_form.input :first_name, disabled: object.present? ? object&.upstream_id.present? : nil,
      input_html: { "data-form-target": "pcFirstName" }
    = public_contact_form.input :last_name, disabled: object.present? ? object&.upstream_id.present? : nil,
      input_html: { "data-form-target": "pcLastName" }
    = public_contact_form.input :email, disabled: object.present? ? object&.upstream_id.present? : nil,
      input_html: { "data-form-target": "pcEmail" }
    .row
      .col-5
        - c = object.respond_to?(:country) ? object&.country : object&.resource_organisation&.country
        = public_contact_form.input :country_phone_code,
          label: "Dialing Code",
          collection: dial_codes,
          selected:  ("#{c.iso_short_name} #{c.emoji_flag} (+#{c.country_code})" if c.present?),
          input_html: { multiple: false, data: { form_target: "pcCode", choice: true } }
      .col-7
        = public_contact_form.input :phone,
          label: "Phone Number",
          input_html: { "data-form-target": "pcPhone" }
    = public_contact_form.input :position, disabled: object.present? ? object&.upstream_id.present? : nil,
      input_html: { "data-form-target": "pcPosition" }
    - unless provider_form
      = public_contact_form.input :organisation, disabled: object.present? ? object&.upstream_id.present? : nil
    = public_contact_form.hidden_field :_destroy, "data-form-target": "destroy"
    .text-right
      = link_to _("Delete contact"), "#", id: "public-contact-delete-#{public_contact_form.index}",
      class: "float-right remove-button", "data-action": "click->form#removeField"
