- breadcrumb :deployable_service, @deployable_service

.container{ class: "#{"suspended" if @deployable_service.suspended?}" }
  .pt-4.service-box-redesign.service-detail
    .row.space-between
      .col-12.col-lg-9.row
        .col-12.col-sm-3.d-flex.img-service-detail
          - has_logo = @deployable_service.logo.attached? && @deployable_service.logo.variable?
          = image_tag @deployable_service.logo.variant(resize_to_limit: [200, 125]) if has_logo
          = image_tag("service_logo.svg", size: "100x67") unless has_logo
        .col-12.col-sm-9.service-details-header
          %h2.font-weight-bolder.mb-1= @deployable_service.name
          %p= @deployable_service.abbreviation || "-"
          .resource-row.row.mb-3
            %span.pin-value.resource-type.ready Ready-to-run service
      .col-12.col-lg-3.text-center

        - if @deployable_service.offers.accessible.any?
          = link_to deployable_service_choose_offer_path(@deployable_service),
            class: "btn btn-primary d-block mb-3 py-3" do
            Run the service
        - elsif @deployable_service.url.present?
          = link_to "Visit URL", @deployable_service.url, target: "_blank",
            class: "btn btn-primary d-block mb-3 py-3"
    .row
      .col-12.col-xl-9.pr-5
        %ul.nav.nav-tabs.row.pl-3.mt-3
          %li.nav-item
            .nav-link.active About

.tab-content
  .tab-pane.container.active.desc
    .row.justify-content-between
      %main.col-12.col-xl-9.pr-4.pt-4
        .service-description-container
          %p= @deployable_service.description || "-"
        .details-box-wrapper.mt-5

          - if @deployable_service.resource_organisation.present?
            .details-box.organisation
              .details-header
                %h5 Resource Organisation
              .details-content
                %ul.list-group
                  %li
                    %span= link_to @deployable_service.resource_organisation.name, provider_path(@deployable_service.resource_organisation)

          - if @deployable_service.scientific_domains.present?
            .details-box.classification
              .details-header
                %h5 Classification
              .details-content
                %ul.list-group
                  %li
                    %span.list-title Scientific Domain
                    %br
                    %span= @deployable_service.scientific_domains.map(&:name).join(", ")

          - if @deployable_service.tags.present?
            .details-box.tags
              .details-header
                %h5 Tags
              .details-content
                .taglist-holder
                  - @deployable_service.tags&.map do |tag|
                    .tag-item
                      = tag

      %sidebar.col-12.col-xl-3
        = link_to "Deployment Template", @deployable_service.url, target: "_blank",
          class: "right-panel-button configuration" if @deployable_service.url.present?

        .details-box-wrapper.sidebar-box-wrapper.mt-4
          .details-box.maturity
            .details-header
              %h5 Technical information
            .details-content
              %ul.list-group
                - if @deployable_service.node.present?
                  %li
                    %span.list-title Node
                    %br
                    %span= @deployable_service.node
                - if @deployable_service.version.present?
                  %li
                    %span.list-title Version
                    %br
                    %span= @deployable_service.version
                - if @deployable_service.software_license.present?
                  %li
                    %span.list-title Software License
                    %br
                    %span= @deployable_service.software_license
                - if @deployable_service.last_update.present?
                  %li
                    %span.list-title Last Update
                    %br
                    %span= @deployable_service.last_update

          - if @deployable_service.creators.present?
            .details-box.creators
              .details-header
                %h5 Creators
              .details-content
                %ul.list-group
                  - @deployable_service.creators.first(3).each do |creator|
                    %li
                      %span.list-title Creator name
                      %br
                      %span= creator.dig("creatorNameTypeInfo", "creatorName")
                    %li
                      %span.list-title Name type
                      %br
                      %span= creator.dig("creatorNameTypeInfo", "nameType").split("-", 2).last.humanize
                    %li
                      %span.list-title Affiliation
                      %br
                      %span= creator.dig("creatorAffiliationInfo", "affiliation")
                    %li
                      %span.list-title Affiliation Identifier
                      %br
                      %span
                        = link_to creator.dig("creatorAffiliationInfo", "affiliationIdentifier"),
                          creator.dig("creatorAffiliationInfo", "affiliationIdentifier")
                    %li
                      %span.list-title Name Identifier
                      %br
                      %span= link_to creator["nameIdentifier"], creator["nameIdentifier"]
