= simple_form_for [:admin, help_item] do |f|
  = f.input :title
  = f.association :help_section
  = f.input :position
  = f.input :content do
    = f.rich_text_area :content
  %hr.bottom-hr.mt-5.mb-4
  .row.mt-5
    .col-12
      .button-wrapper.mr-5
        = f.button :submit, class: "btn btn-primary"
      = link_to _("Cancel and back to help preview"), admin_help_path,
        class: "text-left flex-grow-1 text-uppercase float-left mt-2"
