- collapsed = collapsed?(datasource, [:version_control, :thematic, :datasource_classification_id, :jurisdiction_id,
  :research_product_types])
.card.shadow-sm.rounded{ class: datasource_fields_class, "data-form-target": "datasourceFields" }
  %button.btn.btn-link{ type: "button", class: ("collapsed" if collapsed),
                data: { toggle: "collapse", target: "#datasource-content" },
                aria: { expanded: true, controls: "datasource-content" } }
    .card-header.text-left{ id: "datasource-content-header" }
      .row
        .col-10
          = _("Datasource Content")
        .col-2.text-right
          .collapse-icon
            %i.fas.fa-chevron-down
            %i.fas.fa-chevron-up
.collapse{ id: "datasource-content", "aria-labelledby": "datasource-content-header",
          "data-parent": "#accordion-form",
          class: ("show" unless collapsed) }
  .card-body
    = f.association :jurisdiction, input_html: { data: { choice: true } },
                          disabled: cant_edit?(:jurisdiction_id)
    = f.association :datasource_classification, input_html: { data: { choice: true } },
                              disabled: cant_edit?(:datasource_classification_id)
    = f.input :version_control, as: :boolean, include_hidden: true
    = f.input :thematic, as: :boolean, include_hidden: true
    .form-group
      = f.label :research_product_types_as_text, _("Research product types")
      = f.text_area :research_product_types_as_text,
        value: (datasource.research_product_types || []).join("\n"),
        rows: 3,
        class: "form-control",
        disabled: cant_edit?([research_product_types: []])
