.fixme{ "data-form-target": "fixme", "data-action": "scroll@window->form#onScroll" }
  %ul.add-new-menu
    %li
      %a{ href: "#basic", "data-toggle": "collapse" }= _("Basic")
    %li
      %a{ href: "#marketing", "data-toggle": "collapse" }= _("Marketing")
    %li
      %a{ href: "#classification", "data-toggle": "collapse" }= _("Classification")
    %li
      %a{ href: "#availability", "data-toggle": "collapse" }= _("Availability")
    %li
      %a{ href: "#location", "data-toggle": "collapse" }= _("Location")
    %li
      %a{ href: "#contact", "data-toggle": "collapse" }= _("Contact")
    %li
      %a{ href: "#maturity", "data-toggle": "collapse" }= _("Maturity")
    %li
      %a{ href: "#dependencies", "data-toggle": "collapse" }= _("Dependencies")
    %li
      %a{ href: "#attribution", "data-toggle": "collapse" }= _("Attribution")
    %li
      %a{ href: "#management", "data-toggle": "collapse" }= _("Management")
    %li
      %a{ href: "#order", "data-toggle": "collapse" }= _("Order")
    %li
      %a{ href: "#financial", "data-toggle": "collapse" }= _("Financial")
    %li{ class: datasource_fields_class, "data-form-target": "datasourceFields" }
      %a{ href: "#policies", "data-toggle": "collapse" }
        = _("Datasource Policies")
    %li{ class: datasource_fields_class, "data-form-target": "datasourceFields" }
      %a{ href: "#datasource-content", "data-toggle": "collapse" }
        = _("Datasource Content")
    %li{ class: datasource_fields_class, "data-form-target": "datasourceFields" }
      %a{ href: "#research-product-policies", "data-toggle": "collapse" }
        = _("Research Product Policies")
    %li{ class: datasource_fields_class, "data-form-target": "datasourceFields" }
      %a{ href: "#research-product-metadata", "data-toggle": "collapse" }
        = _("Research Product Metadata")
    %li{ class: datasource_fields_class, "data-form-target": "datasourceFields" }
      %a{ href: "#other", "data-toggle": "collapse" }= _("Other")
