- id = "#{parent}-#{name}"
.card
  .card-header{ id: "#{id}-header" }
    %h2.mb-0
      %button.btn.btn-link{ type: "button",
        data: { toggle: "collapse", target: "##{id}" },
        aria: { expanded: true, controls: id } }
        = title

.collapse{ id: id, "aria-labelledby": "#{id}-header", "data-parent": "##{parent}" }
  .card-body
    = yield
