.container
  %h1 FAQs

  = render "pages/help/about"
  = render "pages/help/registration_and_settings"
  = render "pages/help/services"
  = render "pages/help/searching"
  = render "pages/help/ordering"
  = render "pages/help/payment"
  = render "pages/help/for_providers"
