.landing-header
  %section.heading
    .container
      .row.py-lg-3
        .col-md-7.col-sm-12
          %h1 Polska Kolekcja Otwartej Nauki
          %p
            Uzyskaj dostęp do milionów obiektów badawczych, wiarygodnych informacji naukowych oraz narzędzi
            do prowadzenia badań naukowych
          .searchbar{ "data-controller": "external" }
            .searchbar__input
              %label.sr-only{ for: "search" }= _("Search")
              = text_field_tag :q, params[:q], class: "autocomplete-input",
                placeholder: "Wpisz autora, tytuł lub słowo kluczowe",
                "data-e2e": "searchbar-input",
                "data-external-target": "query",
                "data-base": external_search_base_url,
                "data-action": "keydown.esc->external#clear keydown.enter->external#search input->external#toggleClear",
                "data-probe": ""
              %a.d-none.search-clear{ "data-external-target": "clear",
                                      "data-action": "click->external#clear",
                                      title: _("Clear search"),
                                      "data-e2e": "search-clear-btn" }
                .fas.fa-times
            .input-group-append
              %button#query-submit.input-group-text{ "data-external-target": "search",
              "data-action": "click->external#search", "data-e2e": "query-submit-btn" }
                %i.fas.fa-search
%section.research-activity
  .container
    %h2.text-center Szukaj według kategorii

    .row
      .col-md-4.col-sm-12
        %a.activity{ href: "#{external_search_base_url}/search/all?q=*&fq=unified_categories:
        (%22Discover%20Research%20Outputs%22)" }
          .activity-icon
            = image_pack_tag "landing_page/ico-01.svg", alt: "Discover Research Outputs"
          .activity-texts
            .activity-title Wyniki badadań naukowych
            .activity-subtitle
              Znajdź zbiory danych, publikacje naukowe, oprogramowanie.
      .col-md-4.col-sm-12
        %a.activity{ href: "#{external_search_base_url}/search/all?q=*&fq=unified_categories:
        (%22Manage%20Research%20Data%22)" }
          .activity-icon
            = image_pack_tag "landing_page/ico-09.svg", alt: "Data Management"
          .activity-texts
            .activity-title Zarządzanie danymi
            .activity-subtitle
              Znajdź solidne, bogate w funkcje i przyjazne dla użytkownika usługi zarządzania danymi
      .col-md-4.col-sm-12
        %a.activity{ href: "#{external_search_base_url}/search/all?q=*&fq=unified_categories:
        (%22Access%20Research%20Infrastructures%22)" }
          .activity-icon
            = image_pack_tag "landing_page/ico-07.svg", alt: "Access research infrastructures"
          .activity-texts
            .activity-title Infrastruktura badawcza
            .activity-subtitle
              Znajdź frameworki stworzone przez klastry naukowe lub RI, które wyposażą Cię w narzędzia do
              rozwiązania danego przypadku użycia.
    .row
      .col-md-4.col-sm-12
        %a.activity{ href: "#{external_search_base_url}/search/all?q=*&fq=unified_categories:
        (%22Find%20Instruments%20%5C%26%20Equipment%22)" }
          .activity-icon
            = image_pack_tag "landing_page/ico-05.svg", alt: "Find Instruments & Equipment"
          .activity-texts
            .activity-title Narzędzia badawcze
            .activity-subtitle
              Znajdź instrumenty badawcze i sprzęt naukowy.
      .col-md-4.col-sm-12
        %a.activity{ href: "#{external_search_base_url}/search/all?q=*&fq=unified_categories:
        (%22Publish%20Research%20Outputs%22)" }
          .activity-icon
            = image_pack_tag "landing_page/ico-02.svg", alt: "Publish research outputs"
          .activity-texts
            .activity-title Własne prace badawcze
            .activity-subtitle
              Przechowywanie, tworzenie kopii zapasowych, archiwizowanie danych, publikacji, oprogramowania.
      .col-md-4.col-sm-12
        %a.activity{ href: "#{external_search_base_url}/search/all?q=*&fq=unified_categories:
        (%22Access%20Computing%20and%20Storage%20Resources%22)" }
          .activity-icon
            = image_pack_tag "landing_page/ico-04.svg", alt: "Access computing and storage resources"
          .activity-texts
            .activity-title Zasoby obliczeniowe
            .activity-subtitle
              Znajdź HPC, centra IT dla nauki, przetwarzanie w chmurze, przetwarzanie kontenerów w chmurze,
              pamięć masową online.
    .row
      .col-md-4.col-sm-12
        %a.activity{ href: "#{external_search_base_url}/search/all?q=*&fq=unified_categories:
        (%22Process%20and%20Analyse%22)" }
          .activity-icon
            = image_pack_tag "landing_page/ico-03.svg", alt: "Process and analyse"
          .activity-texts
            .activity-title Przetwarzanie i analiza
            .activity-subtitle
              Weryfikuj, organizuj, przekształcaj i integruj dane, a następnie eksportuj je w formacie współpracującym
              z Twoimi narzędziami.
      .col-md-4.col-sm-12
        %a.activity{ href: "#{external_search_base_url}/search/all?q=*&fq=unified_categories:
        (%22Access%20Training%20Material%22)" }
          .activity-icon
            = image_pack_tag "landing_page/ico-06.svg", alt: "Access training material"
          .activity-texts
            .activity-title Materiały szkoleniowe
            .activity-subtitle
              Znajdź lekcje, kursy i materiały wideo

%section.eosc-navy
  .container
    .row
      %h4 Przeglądaj katalog według tematów
    .row.mt-4
      .col-md-4.col-sm-12
        %ul
          %li
            %a{ href: "#" } ekologia (1020)
          %li
            %a{ href: "#" } ewolucja (740)
          %li
            %a{ href: "#" } psychologia(432)
          %li
            %a{ href: "#" } materiałoznawstwo(425)
          %li
            %a{ href: "#" } Kognitywistyka (353)
          %li
            %a{ href: "#" } Uczenie Maszynowe

      .col-md-4.col-sm-12
        %ul
          %li
            %a{ href: "#" } nauka o środowisku (343)
          %li
            %a{ href: "#" } paleontologia (256)
          %li
            %a{ href: "#" } Choroby Cywilizacyjne i Epidemie (254)
          %li
            %a{ href: "#" } nanotechnologia (237)
          %li
            %a{ href: "#" } biomechanika (227)
          %li
            %a{ href: "#" } biologia obliczeniowa (204)

      .col-md-4.col-sm-12
        %ul
          %li
            %a{ href: "#" } modelowanie matematyczne (200)
          %li
            %a{ href: "#" } neuronauka (162)
          %li
            %a{ href: "#" } genetyka (152)
          %li
            %a{ href: "#" } matematyka stosowana (145)
          %li
            %a{ href: "#" } fizjologia (142)
          %li
            %a{ href: "#" } biofizyka (140)

      %a.more-link.mt-4{ href: "#" } zobacz wszystkie >

%section.provider
  .container
    .row

      .col-md-10.col-sm-12.row.mx-auto
        .col-md-5.col-sm-12
          = image_pack_tag "landing_page/newsletter-input.svg", alt: "Are you a provider?", class: "img-responsive"
        .col-md-7.col-sm-12
          %h3
            Zapisz się do newslettera
          %p
            Bądź na bieżąco z wydarzeniami ze świata nauki, najnowszymi wynikami badań oraz nowinami o Otwartej Nauce
          %form
            %input#newsletter{ placeholder: "Twój adres e-mail..." }


%section.facilities
  .container
    %h3.mx-auto
      Nasi Partnerzy
    .partners-wrapper
      %a.partner-box{ href: "#" }
      %a.partner-box{ href: "#" }
      %a.partner-box{ href: "#" }
      %a.partner-box{ href: "#" }
      %a.partner-box{ href: "#" }
      %a.partner-box{ href: "#" }
      %a.partner-box{ href: "#" }
      %a.partner-box{ href: "#" }
      %a.partner-box{ href: "#" }
      %a.partner-box{ href: "#" }
