.card.offer-description.pin-service.mb-4
  .card-body.p-4
    %table.table.table-bordered.mb-1
      %tbody
        - attributes.each do |attr|
          %tr
            %td.pl-0
            %td
              = attr.first.humanize
            %td
              - if attr.first == "links"
                - if attr.second.empty?
                  = _("Apologies, but it seems we couldn't find any relevant links at the moment")
                - else
                  %a.dropdown.collapsed.projects-links.mb-2{ href: "#collapse-links_#{id}",
                      "data-toggle" => "collapse",
                      "role" => "button",
                      "aria-expanded" => "false",
                      type: "button" }
                  #collapse-links.padding.collapse.links-list{ id: "#{id}" }
                    %ul.simple-link
                      - attr.second.flatten.each do |link|
                        %li= link_to link, link
              - elsif attr.second.is_a?(Array)
                - attr.second.each do |el|
                  %span.pin-value= el
              - else
                %span= attr.second&.upcase_first
