- content_for :title, @scientific_domain.name
- breadcrumb :backoffice_scientific_domain, @scientific_domain

%h1= @scientific_domain.name
%h2= @scientific_domain.parent ? "Parent: #{@scientific_domain.parent.name}" : "Root element"
- if @scientific_domain.logo.attached?
  = image_tag @scientific_domain.logo

%hr
.btn-group
  - if policy([:backoffice, @scientific_domain]).edit?
    = link_to "Edit",
              edit_backoffice_scientific_domain_path(@scientific_domain),
              class: "btn btn-warning"
  - if policy([:backoffice, @scientific_domain]).destroy?
    = link_to "Delete",
              backoffice_scientific_domain_path(@scientific_domain),
              method: :delete,
              data: { confirm: "Are you sure you want to remove this scientific domain?" },
              class: "btn btn-danger"

