%h3.subsection About EOSC marketplace
#help-about.accordion.faq-list
  = render "pages/help_card", parent: "help-about", name: "what",
    title: "What is the EOSC marketplace?" do
    EOSC marketplace provides a platform which enables different kinds of users,
    with different skills and interests to discover, access, use and reuse a
    broad spectrum of EOSC Resources. Not only does EOSC marketplace offer
    advanced compute and data services from publicly-funded and commercial
    organisations, it also allows researchers and institutions to focus on
    value creation and increase excellence of research and European
    competitiveness. From the supplier side, the EOSC Marketplace offers
    local, national and international providers the opportunity to advertise
    their own services and resources to a broader community.

  = render "pages/help_card", parent: "help-about", name: "who",
    title: "Who created the EOSC marketplace ? Who maintains the website?" do
    The EOSC marketplace is co-funded by EGI participants' fees and the H2020
    EOSC-hub project, and is technically developed and operated by two EGI
    partners: CYFRONET – Poland, and the Vrije Universiteit Brussel – Belgium.

  = render "pages/help_card", parent: "help-about", name: "is",
    title: " Is the EOSC marketplace really free of charge? " do
    The EOSC marketplace is free of charge for everyone.
    We are committed to making the EOSC marketplace as accessible as possible to
    the scientific community. Services provided via the EOSC marketplace are expected
    to be free of charge at the point of use. But the service providers are free to define
    the pricing model for their services which is visible to the end-users via the EOSC marketplace.

  = render "pages/help_card", parent: "help-about", name: "why",
    title: " Why should I use the EOSC marketplace?" do
    If you are European scientists, EOSC marketplace also helps you to find
    scientific service providers and services, allowing you to access technologies
    that are not available at your institution or better elsewhere and optimise your
    ability to use existing European solutions that can be useful in your research and
    research collaboration. You can also obtain assistance from international technical teams
    on the most suitable solutions
    If you are a Service provider, EOSC marketplace allows you to showcase your technology
    and promote services among European researchers and private companies.
    Get access to experience and tools supporting professional service delivery.
    If you are SMEs representatives,  EOSC marketplace can help to discover available
    European services and be able to use them in R&D teams.
    If you are EOSC representatives, EOSC marketplace can help provide valuable European
    services with those who can use them to achieve meaningful scientific results and participate to
    increase scientific discovery in Europe.

  = render "pages/help_card", parent: "help-about", name: "why1",
    title: "How does the EOSC marketplace promote scientific collaboration?"  do
    The EOSC marketplace helps to develop synergy in data handling between research infrastructures,
    optimise technological implementation thus contributing to the development of a consistent European research
    infrastructures ecosystem and ensure integration and interoperability of data and tools within the EOSC.

  = render "pages/help_card", parent: "help-about", name: "why1",
    title: "Is the EOSC Marketplace aimed at particular regions of the world?"  do
    The EOSC Marketplace is a worldwide platform. Each service is indicated with the countries/regions
    in which it is available to the users. It may  be used in  'Europe' or Worldwide' or list individual two
    letter country codes using the tab with 'ISO Country Codes'.

