%h3.subsection
  %a{ id: "about" }
  About EOSC marketplace
#help-about.accordion.faq-list
  = render "pages/help_card", parent: "help-about", name: "what",
    title: "What is the EOSC Portal Catalogue and Marketplace?" do
    EOSC Portal Catalogue and Marketplace provides a platform which enables different kinds of users,
    with different skills and interests to discover, access, use and reuse a
    broad spectrum of EOSC Resources. It not only does offer
    advanced compute and data services from publicly-funded and commercial
    organisations, it also allows researchers and institutions to focus on
    value creation and increase excellence of research and European
    competitiveness. From the supplier side, the EOSC Portal Catalogue and Marketplace offers
    local, national and international providers the opportunity to advertise
    their own services and resources to a broader community.

  = render "pages/help_card", parent: "help-about", name: "is",
    title: " Is the EOSC Portal Catalogue and Marketplace really free of charge? " do
    The EOSC marketplace is free of charge for everyone.
    We are committed to making the EOSC Portal Catalogue and Marketplace as accessible as possible to
    the scientific community. Services provided via the EOSC Portal Catalogue and Marketplace are expected
    to be free of charge at the point of use. But the service providers are free to define
    the pricing model for their services which is visible to the end-users via the EOSC Portal Catalogue and Marketplace.

  = render "pages/help_card", parent: "help-about", name: "why",
    title: " Why should I use the EOSC Portal Catalogue and Marketplace?" do
    If you are European scientists, EEOSC Portal Catalogue and Marketplace also helps you to find
    scientific service providers and services, allowing you to access technologies
    that are not available at your institution or better elsewhere and optimise your
    ability to use existing European solutions that can be useful in your research and
    research collaboration. You can also obtain assistance from international technical teams
    on the most suitable solutions
    If you are a Service provider, EOSC Portal Catalogue and Marketplace allows you to showcase your technology
    and promote services among European researchers and private companies.
    Get access to experience and tools supporting professional service delivery.
    If you are SMEs representatives,  EOSC Portal Catalogue and Marketplace can help to discover available
    European services and be able to use them in R&D teams.
    If you are EOSC representatives, EOSC Portal Catalogue and Marketplace can help provide valuable European
    services with those who can use them to achieve meaningful scientific results and participate to
    increase scientific discovery in Europe.

  = render "pages/help_card", parent: "help-about", name: "why1",
    title: "How does the EOSC Portal Catalogue and Marketplace promote scientific collaboration?"  do
    The EOSC Portal Catalogue and Marketplace helps to develop synergy in data handling between research infrastructures,
    optimise technological implementation thus contributing to the development of a consistent European research
    infrastructures ecosystem and ensure integration and interoperability of data and tools within the EOSC.

  = render "pages/help_card", parent: "help-about", name: "why1",
    title: "Is the EOSC Portal Catalogue and Marketplace aimed at particular regions of the world?"  do
    EOSC Portal Catalogue and Marketplace is a worldwide platform. Each service is indicated with the countries/regions
    in which it is available to the users. It may  be used in  'Europe' or Worldwide' or list individual two
    letter country codes using the tab with 'ISO Country Codes'.

