= f.input :user_group_name,
  wrapper_html: { class: "hidden-fields col-6 pl-0", "data-target" => "project.research project.input" },
  input_html: { "data-target" => "project.userGroupName" }
= f.input :project_name,
  wrapper_html: { class: "hidden-fields col-6 pl-0", "data-target" => "project.project project.input" },
  input_html: { "data-target" => "project.projectName" }
= f.input :project_website_url,
  wrapper_html: { class: "hidden-fields col-6 pl-0", "data-target" => "project.project project.input" },
  input_html: { "data-target" => "project.projectWebsiteUrl" }
= f.input :company_name,
  wrapper_html: { class: "hidden-fields col-6 pl-0", "data-target" => "project.privateCompany project.input" },
  input_html: { "data-target" => "project.companyName" }
= f.input :company_website_url,
  wrapper_html: { class: "hidden-fields col-6 pl-0", "data-target" => "project.privateCompany project.input" },
  input_html: { "data-target" => "project.companyWebsiteUrl" }


