.row.pt-4.justify-content-between.service-description
  .col-md-6
    %h3 Project details
    .details-content
      %h5 Project name
      %p
        = project.project_name
    - if project.project?
      %h5 Project website url
      %p
        = project.project_website_url

    %h3 Customer details
    .details-content
      %h5 Customer Typology
      %p
        = t "projeproject.customer_typology.#{project.customer_typology}"
      - if project.research?
        %h5 User group name
        %p
          = project.user_group_name
      - if project.private_company?
        %h5 Company name
        %p
          = project.company_name
        %h5 Company website url
        %p
          = project.company_website_url

    %h3 Usage
    .details-content
      %h5 Reason to request access to the EOSC services
      %p
        = project.reason_for_access

    %h3 Additional Information
    .details-content
      - if project.additional_information
        %p
          = project.additional_information
  .col-md-6.mb-3
    %h3.project-services.pb-2.mb-2
      %i.fas.fa-box-open.mr-2
      Services in this project
    %ul.list-group
      = render(project.project_items) || render("empty_project", project: project)
