.row.pt-5.justify-content-between
  .col
    %dl
      %dt Customer Typology
      %dl= t "projeproject.customer_typology.#{project.customer_typology}"

      %dt Access Reason
      %dl= project.reason_for_access

      - if project.single_user_or_community?
        %dt Organization
        %dl= project.organization

        - if project.department
          %dt Department
          %dl= project.department

        %dt Webpage
        %dl= project.webpage

      - if project.research?
        %dt User group name
        %dl= project.user_group_name

      - if project.project?
        %dt Project name
        %dl= project.project_name

        %dt Project website url
        %dl= project.project_website_url

      - if project.private_company?
        %dt Company name
        %dl= project.company_name

        %dt Company website url
        %dl= project.company_website_url

      - if project.additional_information
        %dt Additional Information
        %dl= project.additional_information
  .col.mb-3
    %h5 Services in this project section
    = render(project.project_items) || render("empty_project", project: project)

