- content_for :title, project.name
%h3.border-bottom.mb-3
  = _("Project details")
.row.pin-details
  .col-6.mt-2
    %dl
      %dt.font-bold.mb-2
        = _("Project name")
      %dd.mb-3= project.name
  - if project.private_company?
    %dl
      %dt
        = _("Company name")
      %dd.mb-3= project.company_name


%h3.border-bottom.mt-4.mb-3
  = _("Customer details")

.row.pin-details
  .col-6.mt-2
    %dl
      %dt.font-bold.mb-2
        = _("User type")
      %dd.mb-3= t "projects.customer_typology.#{project.customer_typology || "none"}"
      - if project.research?
        %dt.font-bold.mb-2
          = _("Research group / community")
        %dd.mb-3= project.user_group_name

      - if project.single_user_or_community? && project.organization.present?
        %dt.font-bold.mb-2
          = _("Affiliated organisation")
        %dd.mb-3= project.organization

  .col-6.mt-2
    %dl
      - if project.scientific_domains.present?
        %dt.font-bold.mb-2
          = _("Scientific Domains")
      - project.scientific_domains .each do |area|
        %dd.mb-0= area.name

      - if project.project?
        %dt.font-bold.mb-2
          = _("Project owner")
        %dd.mb-3= project.project_owner

      - if project.company_website_url?
        %dt.font-bold.mb-2
          = _("Webpage")
        %dd.mb-3= project.company_website_url

- if project.reason_for_access? || project.additional_information?
  %h3.border-bottom.mt-4.mb-3
    = _("Usage")

  .row.pin-details
    .col.mt-2
      %dl
        - if project.reason_for_access?
          %dt.mb-3
            = _("Project overview")
          %dd= project.reason_for_access

        - if project.additional_information?
          %dt.mt-4.mb-2
            = _("Other details")
          %dd= project.additional_information
