.col-md-5
  %h5 Customer typology
  %p.text-justify
    = t "projeproject.customer_typology.#{project.customer_typology}"
  %h5.mt-4 Reason to request access to the EOSC services
  %p.text-justify
    = project.reason_for_access
.col-md-6.ml-auto
  %ul.list-group
    %h3.project-services.pb-2.mb-3
      %i.fas.fa-box-open.mr-2
      Project services
    = render(project.project_items) || render("projects/empty_project", project: project)
  = link_to "Add another service", services_url, class: "btn float-right btn-primary mb-4"
