= simple_form_for @project, remote: true,
  html: { role: "form", id: "modal-form", "data-controller" => "project-item" } do |f|
  = f.input :name
  = f.input :reason_for_access
  = f.input :country_of_customer, collection: Country.customer_countries_list,
    input_html: { "data-target" => "project-item.customerCountry" }
  = f.input :customer_typology, collection: Project.customer_typologies.keys.map(&:to_sym),
    input_html: { "data-target" => "project-item.customer",
                  "data-action" => "change->project-item#showSelectedSection" }
  = f.input :country_of_collaboration, collection: Country.countries_list, include_hidden: false,
    wrapper_html: { class: "hidden-fields",
      "data-target" => "project-item.collaborationCountry project-item.input" },
    input_html: { class: "mdb-select md-form",
      "data-target" => "project-item.collaborationCountry", "multiple" => "true" }

  = render "services/configurations/customer_typology_fields", f: f
