= render "projects/layout", project: project, projects: projects do
  .pt-4.pl-3.pr-3.rounded.service-box.service-detail.mb-4.project-heading
    .row
      .col-md-9.d-flex.align-items-center
        .box-wrapper
          %h1.flex-grow-1.text-break
            = project.name
          .details-row
            -# TODO: refactor dynamic translation
            - if project.archived?
              .details-box-info.text-uppercase= t("project_items.status.#{project.status}")
              .separator
            .details-box-info Created at #{l(project.created_at, format: :short)}
            .separator
            .details-box-info= t "projects.customer_typology.#{project.customer_typology || "none"}"
            - if project.organization?
              .separator
              .details-box-info= project.organization
      -# haml-lint:disable MultilinePipe
      .buttons-panel.col-md-3.float-right.d-flex.align-items-center

        - if policy(project).edit?
          = link_to _("Edit"), edit_project_path(project),
          class: "btn btn-outline-secondary text-uppercase btn-sm mb-1 mt-1"
        = link_to _("Duplicate"), new_project_path(source: project.id),
        class: "btn btn-outline-secondary text-uppercase btn-sm mb-1 mt-1"
        - if policy(project).destroy?
          = link_to _("Delete"), project_path(project),
            data: { "turbo-confirm": _("Are you sure?"), "turbo-method": :delete },
            class: "btn btn-outline-danger text-uppercase btn-sm mb-1 mt-1"
        - if policy(project).archive?
          = link_to _("Archive"), project_archive_path(project), method: :post,
              data: { "data-placement": "bottom", "data-toggle": "tooltip", "turbo-method": :post,
              "turbo-confirm": archive_project_prompt },
              class: "btn btn-outline-danger text-uppercase",
              title: "#{t "projects.archive.tip"}"
          :javascript
            $('a[data-toggle="tooltip"]').tooltip();
      -# haml-lint:enable MultilinePipe
    %ul.nav.nav-tabs.mt-4.pl-3.row.services-menu
      %li.nav-item
        = link_to _("Resources"), project_services_path(project),
          class: "nav-link #{"active" if controller.controller_name == "services"} text-uppercase"
      %li.nav-item
        = link_to _("Project details"), project_path(project),
          class: "nav-link #{"active" if controller.controller_name == "projects"} text-uppercase"
      %li.nav-item.contact-nav
        = link_to _("Contact with EOSC experts"),
          project_conversation_path(project),
          class: "nav-link #{"active" if controller.controller_name == "conversations"} text-uppercase"
        - if project.user_has_new_messages?
          .new-message-icon
            = image_tag "ico_message.svg"
  .container.p-0.projects-content
    = yield
