.list-group-item.projects-collapse
  %a{ "href": "#collapse_#{project.id}", "aria-controls": "collapse_#{project.id}",
      "data-toggle": "collapse", "role": "tab", "aria-expanded": "false" }
    .collapse-icon.d-inline
      %i.fas.fa-chevron-down
      %i.fas.fa-chevron-up
    %h2.d-inline.ml-3.font-weight-normal= project.name
    - if policy(project).show?
      = link_to "Manage and get support", project_url(project),
        class: "float-right btn-sm btn btn-secondary d-inline"

.border.panel-collapse.collapse.show.p-4.projects-collapse-content.shadow-sm{ "id": "collapse_#{project.id}" }
  .row
    = render "projects/details_box", project: project
