.card.mb-2.rounded
  .card-header{ id: "project_header_#{project.id}" }
    %h2.mb-0
      %button.btn.btn-link{ type: "button",
        data: { toggle: "collapse", target: "#project#{project.id}" },
        aria: { controls: "project#{project.id}", expanded: "true" } }
        .collapse-icon.d-inline
          %i.fas.fa-chevron-down
          %i.fas.fa-chevron-up
        = project.name

  .collapse.show{ id: "project#{project.id}", "aria-labelledby": "projectHeader#{project.id}" }
    .container.m-3
      .row
        .col
          %dl
            %dt Customer typology
            %dd= t "projeproject.customer_typology.#{project.customer_typology}"
            %dt Reason to request access to the EOSC services
            %dd= project.reason_for_access
        .col.mr-4
          %h3.text-uppercase
            %i.fas.fa-box-open
            Project services
          - if project.project_items.size.positive?
            %ul.list-group-flush
              = render(project.project_items)
            .row
              .col.d-flex.justify-content-end
                = link_to "Add service to this project", services_url,
                  class: "btn btn-primary btn-sm"
          - else
            = render("projects/empty_project", project: project)

