
- if content_for(:item_bar)
  = yield :item_bar
.learn-more.col-sm-12.col-md-4
  = link_to card.url, class: "body" do
    .title= card.header
    .description= card.body
    .icon
      = image_tag card.picture.variant(resize: "86x111")

