- if offer.attributes.present?
  .card.offer-description.mb-4
    .card-body.p-4
      %h4.card-title.mb-1= offer.name
      .text-muted.mb-3
        = _("Provided by #{ offer.service.resource_organisation.name}")
      .card-text= markdown(offer.description)

      - if bundle_params[offer.id].present?
        %table.table.mb-5
          %thead
            %tr
              %th.pl-0{ scope: "col", colspan: "2" } Parameters
          %tbody
            - bundle_params[offer.id].each do |attr|
              %tr
                %td.pl-0
                  = attr.label
                %td
                  %span.font-weight-bold
                    #{attr.value} #{attr.unit}
