%div{ "data-controller" => "details-loader", "data-details-loader-url" => projects_path }
  %h4 My projects
  .details-content
    %p.mb-4= t("projects.select.description")
    = f.input :project do
      .input-group.col-12.col-lg-6.pl-0
        = f.input_field :project_id, collection: projects,
          class: "form-control custom-select #{"is-invalid" unless project_item.errors[:project].empty?}",
          "data-action" => "change->details-loader#changed",
          "data-target" => "details-loader.idSource"
        .input-group-append
          = link_to "Add new project", new_project_path,
            class: "btn btn-primary", remote: true

  %div{ "data-target" => "details-loader.details" }
