- breadcrumb :congratulations, @project_item

.container
  %h1 Congratulations!
  %p.mb-4
    Your request has been sent. Please wait for further information from the service provider.
    You can check your request status on #{link_to "My projects", projects_path} or go back
    to the #{link_to "start page", root_path}.

  .mb-4
    = link_to "Go to requested service", project_item_path(@project_item),
      class: "btn btn-primary mb-3 mr-3"
    = link_to "Get access to other services", services_path,
      class: "btn btn-secondary mb-3 mr-3"

  %hr.mb-4
  = render "services/related", related_services: @related_services
