%p.mb-4= t "service.#{@service.service_type}.order.summary.description"

= render "services/summaries/technical_configuration",
         service: @service, project_item: @step

= simple_form_for @step, url: service_summary_path(@service), html: { id: "order-form" } do |f|
  .additional-information.mb-4
    %h5.mb-4.mt-5.font-weight-bold.configuration-title.text-uppercase
      Additional information

    - if @step.offer.voucherable
      %h4 Voucher
      %dl.mb-4
        - if @step.request_voucher
          %dt I don't have a voucher, and I would like to request for one
        - else
          %dt Voucher ID
          %dd= @step.voucher_id

    = render "services/summaries/project_browser", project_item: @step, projects: @projects, f: f

    = f.input :additional_comment, as: :text, class: "form-conroll",
      label: "Please enter additional details of your request."
