Summary

%ul
  %li Offer: #{@project_item.offer.name}
  %li Project: #{@project_item.project.name}

= link_to "Edit your service request", service_configuration_path(@service)

= content_for :buttons do
  = link_to "Cancel order and quit", service_cancel_path(@service), method: :delete
  = link_to "Order", service_summary_path(@service), method: :post, class: "btn btn-primary"
