= render "layouts/order/nav", service: @service, step: 4

%h2.mb-4.font-weight-normal Summary
%p.mb-4
  Please carefully read the summary of your order.
  %br
  You can change anything now if you need.
  After clicking the order button your request will be sent to service provider.

= render "services/summaries/technical_configuration",
         service: @service, project_item: @step

.additional-information.mb-4
  %h5.mb-4.mt-5.font-weight-bold.configuration-title.text-uppercase
    Additional information

  - if @step.offer.voucherable
    %h4 Voucher
    %dl.mb-4
      - if @step.request_voucher
        %dt I don't have a voucher, and I would like to request for one
      - else
        %dt Voucher ID
        %dd= @step.voucher_id

  = render "projects/details", project: @step.project

= content_for :next_button do
  = link_to t("service.#{@offer_type}.order.title"),
            service_summary_path(@service),
            method: :post, class: "btn btn-primary"
= content_for :back_link do
  = link_to "Back to previous step - configuration",
            service_configuration_path(@service),
            class: "text-uppercase"
