= render "layouts/order/nav", service: @service, step: 3

%h2.mb-4.font-weight-normal Summary
%p.mb-4
  Please carefully read the summary of your order.
  %br
  You can change anything now if you need.
  After clicking the order button your request will be sent to service provider.

  = simple_form_for @confirmation, url: service_summary_path(@service), html: { id: "order-form"  } do |f|
    - if @service.terms_of_use_url.present?
      = f.input :terms_and_conditions, as: :boolean, hint: get_terms_and_condition_hint_text(@service).html_safe

= render "services/summaries/technical_configuration",
         service: @service, project_item: @project_item

.additional-information.mb-4
  %h3.mb-4
    Additional information

  %h3 Usage
  %dl.mb-4
    %dt Customer typology
    %dd= t "simple_form.options.defaults.customer_typology.#{@project_item.customer_typology}"

    %dt Reason to request access to #{@service.title}
    %dd= @project_item.access_reason

    - if @project_item.additional_information.present?
      %dt Additional information
      %dd= @project_item.additional_information

    %dt Research area
    %dd= @project_item.research_area.name

  - if @project_item.affiliation
    %h4 Affiliation
    %dl.mb-4
      %dt Organization
      %dd= @project_item.affiliation.organization

      - if @project_item.affiliation.department.present?
        %dt Department
        %dd= @project_item.affiliation.department

      %dt Email
      %dd= @project_item.affiliation.email

      - if @project_item.affiliation.phone.present?
        %dt Phone
        %dd= @project_item.affiliation.phone

      %dt Webpage
      %dd= @project_item.affiliation.webpage

      - if @project_item.affiliation.supervisor.present?
        %dt Supervisor
        %dd= @project_item.affiliation.supervisor

      - if @project_item.affiliation.supervisor_profile.present?
        %dt Supervisor profile
        %dd= @project_item.affiliation.supervisor_profile

  %h4 My projects
  %dl.mb-4
    %dt Project name
    %dd= @project_item.project.name


= content_for :next_button do
  %button.btn.btn-primary{ form: "order-form", type: "submit" }
    = t "service.normal.order.title"

= content_for :back_link do
  = link_to "Back to previous step - configuration",
            service_configuration_path(@service),
            class: "text-uppercase"
