= render "layouts/order/nav", service: @service, step: 3

%h2.mb-4.font-weight-normal Summary
%p.mb-4
  #{@service.title} will be added to to you #{@project_item.project.name} project.
  %br
  In order to change it, please go back to
  = link_to t("service.open_access.order.configuration"), service_configuration_path(@service)
  step.

  = simple_form_for @confirmation, url: service_summary_path(@service), html: { id: "order-form"  } do |f|
    = f.input :terms_and_conditions, as: :boolean

= render "services/summaries/technical_configuration",
         service: @service, project_item: @project_item

= content_for :next_button do
  %button.btn.btn-primary{ form: "order-form", type: "submit" }
    = t "service.open_access.order.title"

= content_for :back_link do
  = link_to "Back to previous step - #{t("service.open_access.order.configuration")}",
            service_configuration_path(@service),
            class: "text-uppercase"
