= render "layouts/order/nav", service: @service, step: 3

%h2 Summary
%p
  Please carefully read the summary of your order.
  You can change anything now if you need.
  After clicking the order button your request will be sent to service provider.


  = simple_form_for @confirmation, url: service_summary_path(@service), html: { id: "order-form"  } do |f|
    = f.input :terms_and_conditions, as: :boolean

%h3
  Technical configuration

.card.offer-description.mb-5
  .card-body
    %h4.card-title= @project_item.offer.name
    .card-text= @project_item.offer.description
    = render "project_items/attributes", property_values: @project_item.property_values


.additional-information.mb-5
  %h3
    Additional information

  %h4 My projects
  %dl
    %dt Project name
    %dd= @project_item.project.name

  %h4 Usage
  %dl
    %dt Customer typology
    %dd= @project_item.customer_typology

    %dt Reason to request access to #{@service.title}
    %dd= @project_item.access_reason

    %dt Additional information
    %dd= @project_item.additional_information

  - if @project_item.affiliation
    %h4 Affiliation
    %dl
      %dt Organization
      %dd= @project_item.affiliation.organization

      %dt Department
      %dd= @project_item.affiliation.department.presence || "No department set"

      %dt Email
      %dd= @project_item.affiliation.email

      %dt Phone
      %dd= @project_item.affiliation.phone.presence || "No phone set"

      %dt Webpage
      %dd= @project_item.affiliation.webpage

      %dt Supervisor
      %dd= @project_item.affiliation.supervisor.presence || "No supervisor set"

      %dt Supervisor profile
      %dd= @project_item.affiliation.supervisor_profile.presence || "No supervisor profile set"


= content_for :next_button do
  %button.btn.btn-primary{ form: "order-form", type: "submit" }
    Order

= content_for :back_link do
  = link_to "Back to previous step - configuration",
            service_configuration_path(@service),
            class: "text-uppercase"
