= render "layouts/navbar/sections"
.container
  %nav.navbar.navbar-expand-lg.navbar-light
    = link_to root_path, class: "navbar-brand col-6 col-lg-3 pl-0" do
      = image_tag "eosc-logo-color-executive.png"

    %button.navbar-toggler.backoffice-menu{ "aria-controls" => "navbar-supported-content",
                            "aria-expanded" => "false", "aria-label" => "Toggle navigation",
                            "data-target" => "#navbar-supported-content",
                            "data-toggle" => "collapse",
                             type: "button" }
      %span.navbar-toggler-icon

    #navbar-supported-content.collapse.navbar-collapse.navbar-expand-lg
      %ul.navbar-nav.ml-auto.pt-2
        = nav_link controller: :statistics, html_options: { class: "nav-item" } do
          = link_to _("Statistics"), executive_statistics_path, class: "nav-link px-2 py-1"
