= simple_form_for [:backoffice, service, offer], html: { "data-controller": "offer" } do |f|
  = f.error_notification
  = f.input :name
  = f.input :description, input_html: { rows: 10 }
  = f.input :offer_type, collection: Offer.offer_types.keys.map(&:to_sym),
    selected: (offer.offer_type || service.service_type),
    input_html: { "data-target" => "offer.offerType", "data-action" => "change->offer#showWebpage" }
  = f.input :webpage, label: "Offer website",
    wrapper_html: { "data-target" => "offer.webpage" }
  = f.input :parameters_as_string,
      label: "Parameters as string (#{link_to "See the tutorial", documentation_url,
      class: "card-link", target: "_blank"})".html_safe,
      as: :attributes,
      multiple: true,
      wrapper_html: { "data-target": "offer.parameters" },
      input_html: { rows: 10 }

  %div
    %a#add-parameter-field{ "data-action": "click->offer#addField", class: "btn btn-secondary" }
      Add additional parameters
  %hr.bottom-hr.mb-4
  .btn-group
    = f.button :submit, class: "btn btn-success"
    = link_to "Cancel", backoffice_service_path(service), class: "btn btn-secondary"
