= simple_form_for [:backoffice, service, offer]  do |f|
  = f.input :name
  = f.input :description, input_html: { rows: 10 }

  .btn-group
    = f.button :submit, class: "btn btn-success"
    = link_to "Cancel", backoffice_service_path(service), class: "btn btn-secondary"

