= simple_form_for offer_form_source_module, html: { "data-controller": "offer" } do |f|
  = f.hidden_field :from, value: local_assigns[:from]

  .col-lg-8.pl-0{ "data-controller": "ordering" }
    = f.error_notification
    = f.hidden_field :id
    = f.input :name, input_html: { class: "form-control-lg" }
    = f.input :description, input_html: { rows: 10 }
    = f.input :order_type, collection: Offer.order_types.keys.map(&:to_sym),
      selected: (offer.order_type || service.order_type),
      input_html: { "data-target": "ordering.orderType",
                    "data-action": "ordering#updateVisibility",
                    class: "form-control-lg col-lg-6" },
                    readonly: service.offers.published.size == 0 && service.order_type.present?
    = f.input :internal,
      wrapper_html: { "data-target": "ordering.internalWrapper" },
      input_html: { "data-target": "ordering.internal",
                    "data-action": "ordering#updateVisibility" }
    = f.input :order_url,
      wrapper_html: { "data-target": "ordering.orderUrlWrapper" },
      input_html: { class: "form-control-lg" }
    = render "backoffice/services/offers/primary_oms_form", form: f, offer: offer,
      available_omses: service.available_omses

  %h4.mt-5.mb-0.text-uppercase
    = _("Offer parameters")
  .row.parameters-section
    .col-12
      .float-left.parameter-list
        = parameter_templates(f)
      .float-right.parameter-cards
        .offer-attributes{ "data-target": "offer.attributes" }
          - offer.parameters.each_with_index do |p, idx|
            = render "parameters/template", parameter: p, form: f, index: idx

  %hr.bottom-hr.mb-5
  .row
    .col-12
      .button-wrapper.mr-5
        = f.button :submit, class: "btn btn-primary mobile-bottom-margin", "data-e2e": "create-offer-btn"
      - if show_delete_button
        = link_to "Delete Offer", offer_delete_link,
          data: { confirm: _("Are you sure?") },
          method: :delete, class: "btn btn-danger pl-5 pr-5"
      = link_to _("cancel and back to previous page"), back_link,
      class: "text-left flex-grow-1 text-uppercase float-left mt-2 mobile-bottom-margin"

