= simple_form_for offer_form_source_module, html: { "data-controller": "offer" } do |f|
  = f.hidden_field :from, value: local_assigns[:from]

  .col-lg-8.pl-0{ "data-controller": offer.order_required? ? "ordering" : "" }
    = f.error_notification
    = f.hidden_field :id
    - if offer.order_required?
      = f.input :internal,
        wrapper_html: { "data-target": "ordering.internalWrapper" },
        input_html: { "data-target": "ordering.internal",
                      "data-action": "ordering#updateVisibility" }
      = render "backoffice/services/offers/primary_oms_form",
                form: f,
                offer: offer,
                available_omses: service.available_omses

  %h4.mt-5.mb-0.text-uppercase
    = _("Offer parameters")
  .row.parameters-section
    .col-12
      .float-left.parameter-list
        = parameter_templates(f)
      .float-right.parameter-cards
        .offer-attributes{ "data-target": "offer.attributes" }
          - offer.parameters.each_with_index do |p, idx|
            = render "parameters/template", parameter: p, form: f, index: idx

  %hr.bottom-hr.mb-5
  .row
    .col-12
      .button-wrapper.mr-5
        = f.button :submit, class: "btn btn-primary"
      = link_to _("cancel and back to previous page"), back_link,
      class: "text-left flex-grow-1 text-uppercase float-left mt-2"
