= form.input :primary_oms_id, collection: available_omses,
  value_method: :id,
  label_method: :name,
  include_blank: false,
  wrapper_html: { "data-ordering-target": "primaryOmsWrapper" },
  input_html: { "data-ordering-target": "primaryOms",
                "data-action": "ordering#updateVisibility",
                class: "form-control-lg col-lg-6" }
%div{ "data-ordering-target": "omsParamsContainer" }
  = form.simple_fields_for Offer::OMSParams.new(offer.oms_params) do |field|
    - available_omses.each do |oms|
      %label{ "data-oms-id": oms.id }
        - if oms.custom_params&.present?
          Below we show parameters specified by #{oms.name}, which values will be sent to it alongside
          the orders for your offer.
        - else
          #{oms.name} doesn't specify any parameters.

      - oms.custom_params&.each do |param, param_options|
        = field.input param,
            required: param_options["mandatory"],
            wrapper_html: { "data-oms-id": oms.id },
            input_html: { class: offer_missing?(param, param_options) ? "is-invalid" : "" }
