- id = "#{parent}-#{item_counter}"
.card.rounded
  .card-header{ id: "#{id}-header" }
    %button.btn.btn-link.accordion-button.collapsed{ type: "button",
        data: { toggle: "collapse", target: "##{id}" },
        aria: { expanded: true, controls: id } }
      = item.title

.collapse{ id: id, "aria-labelledby": "#{id}-header", "data-parent": "##{parent}" }
  .card-body
    = item.content
