.card-body.pt-4.pb-0.pl-0.collapse-group
  - if offer.voucherable
    .card-label
      %i.fas.fa-ticket-alt
      %span
        = _("Voucher")
  %span.bundle-logo
    = service_logo(offer.service, "align-self-center img-fluid bundle-img", "180x90")
    - offer.bundled_offers.each do |item|
      = service_logo(item.service, "align-self-center img-fluid bundle-img", "180x90")
  %h4.card-title= offer.name
  %p
    .card-text.mb-2{ "data-controller" => "paragraph" }
      - if offer.description.size > 200
        = markdown(offer.description.truncate(200, separator: " "))
        = link_to _("Show more"), "#", class: "show-more-#{offer.id}",
                                  data: { "target" => "paragraph.showMore",
                                          "action" => "click->paragraph#showMore",
                                          "text": markdown(offer.description) }
      - else
        = markdown(offer.description)
