.card-body.pt-4.pb-0.collapse-group
  - if offer.voucherable
    .card-label
      %i.fas.fa-ticket-alt
      %span Voucher
  %span.text-sm-right.fa-pull-right.badge
    %i{ class: "ordertype #{offer.offer_type}" }
    = t("offers.type.#{offer.offer_type}")
  %h4.card-title= offer.name
  %p
    .card-text.mb-2{ "data-controller" => "paragraph" }
      - if offer.description.size > 200
        = markdown(offer.description.truncate(200, separator: " "))
        = link_to "Show more", "#", class: "show-more-#{offer.id}",
                                  data: { "target" => "paragraph.showMore",
                                          "action" => "click->paragraph#showMore",
                                          "text": markdown(offer.description) }
      - else
        = markdown(offer.description)
