.card-body.pt-4.collapse-group
  - if offer.voucherable
    .card-label
      %i.fas.fa-ticket-alt
      %span
        = _("Voucher")
  %span.text-sm-right.fa-pull-right.badge-right{ class: "style_#{offer.order_type}" }
    %i{ class: "ordertype #{offer.order_type}" }
    = t("offers.type.#{offer.order_type}")
    -# TODO: refactor dynamic translation
  = yield_content!(:status) if content_for?(:status)
  - if offer.limited_availability && offer.availability_count.zero?
    %span.badge.badge-draft.badge-left
      Out of stock
  %h4.card-title
    = offer.name
    - if offer.limited_availability
      .x-small{ data: { e2e: "offer-counter", quantity: offer.availability_count } }
        (#{offer.availability_count} #{"pc".pluralize(offer.availability_count)}.)
    - else
      .x-small (Unlimited)

  .card-text.mb-2{ "data-controller" => "parameter" }
    - if offer.description.squish.size > 200
      %div{ data: { "parameter-target": "hideableParameter", state: "visible" } }
        = markdown(offer.description.truncate(200, separator: " "))
      .d-none{ data: { "parameter-target": "hideableParameter", state: "hidden" } }
        = markdown(offer.description)
      = render "common_parts/show_more_link", id: offer.id
    - else
      = markdown(offer.description)
