.col-lg-4.d-flex.align-items-stretch
  .card.m-0.mb-5
    .card-body.pt-4
      - if offer.voucherable
        .card-label
          %i.fas.fa-ticket-alt
          %span Voucher
      %h4.card-title= offer.name
      %p.card-text.mb-4= markdown(offer.description)
      %h5.text-uppercase.parameters-title.mb-0= "Technical parameters"
      = render "services/parameters", parameters: offer.attributes

    .card-button.text-center
      %label
        = f.radio_button :offer_id, offer.iid, checked: project_item.offer == offer
        %span.btn.btn-light.border.border-secondary.font-weight-bold
          Select
          %i.fas.fa-check
