= render "layouts/order_nav", service: @service, step: 1

%h2 Service configuration
%p
  This service is available in various options.
  Please select one from the list bellow.

= form_for ProjectItem.new, url: service_offers_path(@service), method: :put,
  html: { id: "order-form", role: "form"  } do |f|
  = f.select :offer_id, @offers.map(&:iid), include_blank: true


= content_for :cancel_button do
  = link_to "Cancel order and quit", service_cancel_path(@service), method: :delete

= content_for :next_button do
  %button.btn.btn-primary{ form: "order-form", type: "submit" }
    Next
