= render "layouts/order/nav", service: @service, wizard: @wizard

%p.mb-4
  To gain the access to the service,
  please select an offer that suits your needs best.

= simple_form_for @step, url: service_offers_path(@service), method: :put,
  html: { id: "order-form", role: "form", class: "btn-group-toogle", data: { toogle: "buttons" } } do |f|

  .card-deck.row
    = render partial: "services/offers/offer",
      collection: @offers, as: :offer, locals: { f: f, project_item: @step }

= content_for :next_button do
  %button.btn.btn-primary{ form: "order-form", type: "submit" }= next_title
