= field.input :id,
  collection: attr.config["values"].map { |e| ["#{e} #{attr.unit}", e] },
  checked: attr.value,
  input_html: { name: "#{field.object_name}[#{attr.id}][]",
    id: "#{field.object_name}[#{attr.id}]" },
  label: attr.label,
  hint: attr.description,
  error: attr.errors.messages[:id].join(" "),
  as: :check_boxes





