= field.input :id, label: attr.label, hint: attr.description,
  error: attr.errors.messages_for(:id).join(" ") do
  .input-group.pl-0{ data: { controller: "quantity-price",
    "quantity-price": { "start-price": attr.start_price, "step-price": attr.step_price } } }
    - has_errors = attr.errors[:id].present?
    - valid = !has_errors && attr.value
    = field.input_field attr.id,
      class: "form-control #{"is-invalid" if has_errors} #{"is-valid" if valid}",
      value: attr.value, step: 1,
      min: 0, max: attr.max,
      as: :integer,
      "data-action": "change->quantity-price#calculate",
      "data-quantity-price-target": "quantity"
    .input-group-append
      %span.input-group-text{ "data-quantity-price-target": "price" } 0
      %span.input-group-text= attr.currency
