- active = "font-weight-bolder" unless local_assigns[:current]

%h5.text-uppercase.underline-light.mb-2.pb-2 Categories
#all-services-link{ class: "d-flex justify-content-between align-items-center #{active}" }
  = link_to "All Services", content_for(:all_services) || services_path
  %span= Service.published.count
%ul.categories-list
  - view = content_for(:category_view) || "services/nav/category"
  - categories.each do |category|
    = render view, category: category, current: current
    - if current == category && !subcategories.empty?
      %ul.ml-3
        = render partial: view, collection: subcategories, as: :category

= yield :test
