-# haml-lint:disable InlineStyles
- breadcrumb :catalogue, @catalogue

.container{ class: "#{"suspended" if @catalogue.suspended?}" }
  .pt-4.service-box-redesign.service-detail
    .row.space-between
      .col-12.col-lg-9.row
        .col-12.col-sm-3.d-flex.img-service-detail
          - has_logo = @catalogue.logo.attached? && @catalogue.logo.variable?
          = image_tag @catalogue.logo.variant(resize_to_limit: [200, 200]) if has_logo
          = image_tag("catalogue_logo.svg", size: "100x67") unless has_logo
        .col-12.col-sm-9.service-details-header
          %h2.font-weight-bolder.mb-1= @catalogue.name
          %p= @catalogue.abbreviation || "-"
          .resource-row.row.mb-3
            %span.pin-value.resource-type Catalogue
          = render "components/presentable/header_component/node_info", object: @catalogue
      .col-12.col-lg-3.text-center
        = link_to "Show all resources", get_ess_link(@catalogue), target: "_blank",
          class: "btn btn-primary d-block mb-3 py-3"

    .row
      .col-12.col-xl-9.pr-5
        %ul.nav.nav-tabs.row.pl-3.mt-3
          %li.nav-item
            .nav-link.text-uppercase.active About

.tab-content
  .tab-pane.container.active.desc
    .row.justify-content-between
      %main.col-12.col-xl-9.pr-4.pt-4
        .service-description-container
          %p= @catalogue.description || "-"
        .details-box-wrapper.mt-5
          .details-box.maturity_information
            .details-header
              %h5 Maturity information
            .details-content
              %ul.list-group
                - if @catalogue.legal_entity.present?
                  %li
                    %span.list-title Legal Entity
                    %br
                    %span= @catalogue.legal_entity
                - if @catalogue.legal_statuses.present?
                  %li
                    %span.list-title Legal Status
                    %br
                    %span= @catalogue.legal_statuses.join(", ")
                - if @catalogue.hosting_legal_entities.present?
                  %li
                    %span.list-title Hosting Legal Entities
                    %br
                    %span= @catalogue.hosting_legal_entities.join(", ")
                - if @catalogue.inclusion_criteria.present?
                  %li
                    %span.list-title Inclusion Criteria
                    %br
                    %span= format_basic_link(@catalogue.inclusion_criteria)
                - if @catalogue.validation_process.present?
                  %li
                    %span.list-title Validation Process
                    %br
                    %span= format_basic_link(@catalogue.validation_process)
                - if @catalogue.end_of_life.present?
                  %li
                    %span.list-title End of Life
                    %br
                    %span= @catalogue.end_of_life

          .details-box.location
            .details-header
              %h5 Location
            .details-content
              %ul.list-group
                %li
                  %span.list-title Name
                  %br
                  %span= format_main_contact_name(@catalogue)
                - if @catalogue.main_contact&.email.present?
                  %li
                    %span.list-title Email
                    %br
                    %span= @catalogue.main_contact&.email
                - if @catalogue.main_contact&.phone.present?
                  %li
                    %span.list-title Phone
                    %br
                    %span= @catalogue.main_contact&.phone
                - if @catalogue.main_contact&.position.present?
                  %li
                    %span.list-title Position
                    %br
                    %span= @catalogue.main_contact&.position
                - if @catalogue.street_name_and_number.present?
                  %li
                    %span.list-title Street Name and Number
                    %br
                    %span= @catalogue.street_name_and_number
                - if @catalogue.postal_code.present?
                  %li
                    %span.list-title Code
                    %br
                    %span= @catalogue.postal_code
                - if format_city_region(@catalogue).present?
                  %li
                    %span.list-title City, Region
                    %br
                    %span= format_city_region(@catalogue)
                - if @catalogue.country.present?
                  %li
                    %span.list-title Country
                    %br
                    %span= @catalogue.country

          - if @catalogue.scientific_domains.present?
            .details-box.classification
              .details-header
                %h5 Classification
              .details-content
                %ul.list-group
                  %li
                    %span.list-title Scientific Domain
                    %br
                    %span= format_scientific_domains(@catalogue)

          - if @catalogue.affiliations.present? || @catalogue.networks.present?
            .details-box.dependencies
              .details-header
                %h5 Dependencies Information
              .details-content
                %ul.list-group
                  - if @catalogue.affiliations.present?
                    %li
                      %span.list-title Affiliations
                      %br
                      %span= @catalogue.affiliations&.join(", ")
                  - if @catalogue.networks.present?
                    %li
                      %span.list-title Networks
                      %br
                      %span= @catalogue.networks&.join(", ")

          - if @catalogue.tags.present?
            .details-box.tags
              .details-header
                %h5 Tags
              .details-content
                .taglist-holder
                  - @catalogue.tags&.map do |tag|
                    .tag-item
                      = tag

          - if @catalogue.participating_countries.present?
            .details-box.participating_countries
              .details-header
                %h5 Participating Countries
              .details-content
                %ul.list-group
                  %li
                    %span= @catalogue.participating_countries&.join(", ")

      %sidebar.col-12.col-xl-3
        = link_to "Website", @catalogue.website, target: "_blank", class: "right-panel-button website" if @catalogue.website
-# haml-lint:enable InlineStyles
