- content_for :title, _("Backoffice")
- breadcrumb :backoffice_root

.row
  -# haml-lint:disable MultilinePipe
  .col-12.col-sm-7.backoffice-intro
    %h1.mb-3
      = _("Welcome to the EGI Portal Catalogue")
      %br
      = _("and Marketplace Backoffice")
    %p
      = _("EGI Portal Catalogue and Marketplace Backoffice is a powerful tool to manage services and service " + |
          "offers.") |
    %p
      = _("Each provider joining EOSC can use EOSC Portal Catalogue and Marketplace Backoffice, benefitting of " + |
          "a dedicated view.") |
    %p
      = _("Thanks to our tool you are able to track and manage information about service, the service offers " + |
          "description, service categories, scientific disciplines, providers, and platforms.") |
  -# haml-lint:enable MultilinePipe

  .col-12.col-sm-5.backoffice-intro-pic
    = image_tag "addfirstservice.png"
.row
  .col-12
    .btn-toolbar
      %a
        = link_to _("Owned services & datasources"), backoffice_services_path,
                  class: "btn btn-primary d-block mt-4 mr-3", "data-e2e": "owned-services"
      %a
        = link_to _("Providers"), backoffice_providers_path,
                  class: "btn btn-primary d-block mt-4 mr-3", "data-e2e": "providers"
      %a
        = link_to _("Scientific domains"), backoffice_scientific_domains_path,
                  class: "btn btn-primary d-block mt-4 mr-3", "data-e2e": "scientific-domains"
      %a
        = link_to _("Categories"), backoffice_categories_path,
                  class: "btn btn-primary d-block mt-4 mr-3", "data-e2e": "categories"
      %a
        = link_to _("Platforms"), backoffice_platforms_path,
                  class: "btn btn-primary d-block mt-4 mr-3", "data-e2e": "platforms"
      %a
        = link_to _("Vocabularies"), backoffice_vocabularies_path,
                  class: "btn btn-primary d-block mt-4", "data-e2e": "vocabularies"
      %a
        = link_to _("Catalogues"), backoffice_catalogues_path,
                  class: "btn btn-primary d-block mt-4", "data-e2e": "catalogues"
