%ul.list-group{ class: "#{"suspended" if inactive}" }
  %li.list-group-item
    %span.text-sm-left
      = _("Catalog views") + ":"
    %strong.text-dark= object.analytics[:views]
  %li.list-group-item
    %span.text-sm-left
      = _("Catalog service visits") + ":"
    %strong.text-dark= object.analytics[:redirects]
  %li.list-group-item
    %span.text-sm-left
      = _("Project appearance total") + ":"
    %strong.text-dark= object.project_items_count
  - if object.offers.any?(&:orderable?)
    %li.list-group-item
      %span.text-sm-left{ "data-toggle": "tooltip", "data-trigger": "hover",
             title: "A number of created Project Items that use EOSC Portal
                                         as the order management platform" }
        = _("Total orders") + ":"
      %strong.text-dark= object.project_items.orderable.size
