%ul.list-group
  - fields.map do |field|
    - next unless object.send(field).present?
    %li{ class: ("links" if nested.present? && nested[field.to_sym] == "link") }
      - if with_desc && (nested.blank? || nested[field.to_sym] != "link")
        %span.list-title
          -# TODO: refactor dynamic translation
          = t(".#{field}") + ":"
        %br
      - if object.send(field).is_a?(ActiveSupport::TimeWithZone)
        %span
          = object.send(field).to_date
      - elsif field == "geographical_availabilities"
        %span
          = safe_join(get_only_regions(object.send(field)).map do |c| link_to c,
                   - services_geographical_availabilities_link(object, c),
                     "data-preview-target": local_assigns[:preview] ? "link" : "" end.sort, ", ")
        - if get_only_countries(object.send(field)).present?
          %span.geographical
            = safe_join(get_only_countries(object.send(field)).map do |c| link_to c,
                   - services_geographical_availabilities_link(object, c),
                     "data-preview-target": local_assigns[:preview] ? "link" : "" end.sort, ", ")
      - else
        - Array(object.send(field)).map.with_index do |element, idx|
          - if nested.present? && nested[field.to_sym].present?
            - if nested[field.to_sym] == "link"
              %li.links
                %i.arrow-right
                = link_to field.humanize, element, "data-probe": "",
                  "data-preview-target": local_assigns[:preview] ? "link" : ""
            - elsif nested[field.to_sym] == "service"
              %li.links
                %i.arrow-right
                = unescaped_link_to(element.name, service_path(element), "data-probe": "",
                  "data-preview-target": local_assigns[:preview] ? "link" : "")
            - elsif nested[field.to_sym] == "tag"
              %span
                = link_to element, services_filter_link(element, element), class: "badge badge-light",
                  "data-probe": "", "data-preview-target": local_assigns[:preview] ? "link" : ""
            - elsif nested[field.to_sym] == "label"
              %span
                -# TODO: refactor dynamic translation
                = t(".#{element}")
            - elsif field == "trls"
              %span
                %text{ "data-toggle": "tooltip", title: trl_description_text(object) }
                  #{element.send(nested[field.to_sym]).upcase}
            - else
              %span
                #{element.send(nested[field.to_sym])}#{idx == Array(object.send(field)).size - 1 ? nil : ", "}
          - else
            %span
              #{element}#{idx == Array(object.send(field)).size - 1 ? nil : ", "}
