- Array(object.send(clazz)).map do |record|
  %li
    - fields.map do |field|
      - if record.send(field).present?
        - if nested.present? && nested&.[](field.to_sym).present? && nested&.[](field.to_sym) == "email"
          %span
            - if local_assigns[:preview]
              = link_to record.send(field), "javascript:;"
            - else
              = mail_to record.send(field), record.send(field)
          %br
        - elsif clazz == "alternative_identifiers"
          %span
            #{record.identifier_type}: #{record.send(field)}
        - else
          %span
            - if with_desc
              = t(".#{field}") + ": "
              %br
            = record.send(field)
          %br
