- breadcrumb :project_item, @project_item

.container
  .row
    .col-md-9
      %h1
        Project item (#{@project_item.service.title})
    .col-md-3.my-auto
      %p.text-uppercase.text-right.font-weight-bold.text-secondary.my-auto
        = @project_item.status
  %hr.mb-4
  .row.justify-content-between
    .col-md-6
      = render "project_items/project_item_changes",
                project_item_changes: @project_item.project_item_changes.order("updated_at DESC").to_a,
                project_item: @project_item,
                question: @question
    .col-md-5
      %h3.mb-3
        Details
      %ul
        %li
          %strong Ordered service:
          = link_to @project_item.service.title, @project_item.service
        %li
          %strong Order date:
          = l @project_item.created_at
        %li
          %strong Research area:
          = @project_item.research_area.name
        %li
          %strong Providers:
          :ruby
            providers = @project_item.service.providers.
                        map { |p| link_to(p.name, services_path(providers: p)) }
          = safe_join(providers, ", ")

      - if @project_item.affiliation.present?
        %h3.mb-3 Connected affiliation
        %ul
          %li
            %strong Organization:
            = @project_item.affiliation.organization
          - if @project_item.affiliation.department.present?
            %li
              %strong Department:
              = @project_item.affiliation.department
          %li
            %strong Email:
            = @project_item.affiliation.email
          - if @project_item.affiliation.phone.present?
            %li
              %strong Phone:
              = @project_item.affiliation.phone
          %li
            %strong Webpage:
            = @project_item.affiliation.webpage
          - if @project_item.affiliation.supervisor.present?
            %li
              %strong Supervisor:
              = @project_item.affiliation.supervisor
          - if @project_item.affiliation.supervisor_profile.present?
            %li
              %strong Supervisor profile:
              = @project_item.affiliation.supervisor_profile

      = render "project_items/attributes", property_values: @project_item.property_values

      - if ratingable?
        %h3.mb-3 Rate this service
        %ul
          %li
            Share your opinion with others.
          %li
            = link_to "Rate",
              new_project_item_service_opinion_path(@project_item),
              class: "btn btn-primary"


