- breadcrumb :project_item, @project_item

.container
  .row
    .col-md-9
      %h1
        Project item (#{@project_item.service.title})
    .col-md-3.my-auto
      %p.text-uppercase.text-right.font-weight-bold.text-secondary.my-auto
        = @project_item.status
  %hr.mb-4
  .row.justify-content-between
    .col-md-6
      = render "project_items/project_item_changes",
                project_item_changes: @project_item.project_item_changes.to_a,
                project_item: @project_item,
                question: @question
    .col-md-5
      %h3.mb-3
        Details
      %ul
        %li
          %strong Order date:
          = l @project_item.created_at
        %li
          %strong Providers:
          :ruby
            providers = @project_item.service.providers.
                        map { |p| link_to(p.name, services_path(providers: p)) }
          = safe_join(providers, ", ")
        - if ratingable?
          %li.mt-3
            = link_to "Rate this service!",
              new_project_item_service_opinion_path(@project_item),
              class: "btn btn-secondary"

      = render "project_items/parameters", project_item: @project_item


