- breadcrumb :project_item, @project_item

.container
  .row.h-100
    .col-md-9
      %h1
        Project item (#{@project_item.service.title})
    .col-md-3.my-auto
      %p.text-uppercase.text-primary.text-right.font-weight-bold
        pending
  %hr.mb-4
    .row
      .col-md-6
        %ul
          %li
            %span.font-weight-bold Service:
            = @project_item.service.title
          %li
            %span.font-weight-bold For:
            = @project_item.user.full_name
          %li
            %span.font-weight-bold Current status:
            = @project_item.status
          - if ratingable?
            %li
              = link_to "Rate this service!",
                new_project_item_service_opinion_path(@project_item),
                class: "btn btn-secondary"

        = render "project_items/project_item_changes",
                 project_item_changes: @project_item.project_item_changes.to_a,
                 project_item: @project_item,
                 question: @question
      .col-md-1.col-sm-12
      .col-md-5
        %h3.mb-3
          Details
        %ul
          %li
            %span.font-weight-bold
              order-date:
            14.12.2019
          %li
            %span.font-weight-bold
              Provider:
            OneMikro
        = render "project_items/attributes", property_values: @project_item.property_values
