- breadcrumb :project_item, @project_item

= render "project_items/layout",
  project: @project, projects: @projects, project_item: @project_item do
  .details.mb-5
    %dl
      %dt Ordered service:
      %dd= link_to @project_item.service.title, @project_item.service
    %dl
      %dt Order date:
      %dd= l @project_item.created_at, format: :short
    %dl
      %dt Providers:
      %dd= service_providers_list(@project_item)
    %dl
      %dt Status:
      %dd
        %span.text-uppercase{ class: "status-#{@project_item.status}" }
          = @project_item.status
    %dl
      %dt
        Project:
      %dd= link_to @project_item.project.name, @project_item.project

    = render "project_items/attributes", property_values: @project_item.property_values

  .row
    .col-7
      - if ratingable?
        %h2.mb-3
          Your review
        .blue-row.form-inline.mb-3
          .d-inline.mr-4
            %i.fas.fa-star.fa-pull-left
            You have been using this service for #{distance_of_time_in_words(@project_item.created_at, DateTime.now)}.
            Please share your opinion with others EOSC Marketplace users.
        = link_to "Review service",
            new_project_item_service_opinion_path(@project_item),
            class: "btn btn-primary btn-sm"
    .col-5
      - unless @project_item.voucher_id.blank? && !@project_item.request_voucher
        %h2.mb-3
          Vouchers
        .blue-row.form-inline.mb-5
          .d-inline.mr-4
            %i.fas.fa-ticket-alt
          - if @project_item.voucher_id.blank?
            .d-inline
              Requested
          - else
            .d-inline
              Your voucher ID
              %br
              %span.voucher-name= @project_item.voucher_id
