- content_for :title, "#{@project_item.service.title} - #{@project.name}"
= render "projects/services/layout",
  project: @project, projects: @projects, project_item: @project_item do

  = render "messages/messages", messages: @messages

  .question-box.mt-3.pt-4.pl-5
    = simple_form_for @message,
      url: project_service_conversation_path(@project, @project_item) do |f|
      = f.input :message, label: t("conversations.message.question")
      %button.btn.btn-primary.btn-sm.mt-3{ type: "submit" } Send message
