- cards.each do |card|
  - next unless card.present?
  .col-6.col-lg-4
    .branch-box
      = link_to url.call(card), "data-e2e": "branch-link" do
        -# this if should be removed after moving Research activities into cms
        - if card.is_a?(Hash)
          .branch-icon
            = image_tag(card[:logo], alt: "#{card[:name]}")
          .branch-name
            = card[:name]
        - else
          .branch-icon
            - if card.logo.attached? && card.logo.variable?
              = image_tag card.logo.variant(resize: "84x84"), alt: card.name
            - else
              = image_tag(default_logo, alt: "#{card.name}")
          .branch-name
            = card.name
