- cards.each do |card|
  .col-6.col-lg-4
    .branch-box
      = link_to url.call(card) do
        .branch-icon
          - if card.logo.attached?
            = image_tag card.logo, alt: card.name
          - else
            = image_pack_tag(default_logo, alt: "#{card.name}")
        .branch-name
          = card.name
