- other_settings = %w[scientific_domains categories platforms vocabularies]
= render "layouts/navbar/sections"

.breadcrumbs-backoffice-wrapper
  .container
    = render "layouts/breadcrumb"

.container
  %nav.navbar.navbar-expand-lg.navbar-light.backoffice-nav

    %button.navbar-toggler.backoffice-menu{ "aria-controls" => "navbar-supported-content",
                            "aria-expanded" => "false", "aria-label" => "Toggle navigation",
                            "data-target" => "#navbar-supported-content",
                            "data-toggle" => "collapse",
                             type: "button" }
      %span.navbar-toggler-icon
    - c = controller
    - if policy([:backoffice, :backoffice]).show? && c.action_name == "index" && c.controller_name != "offers"
      #navbar-supported-content.collapse.navbar-collapse
        %ul.navbar-nav
          = nav_link controller: :services, html_options: { class: "nav-item" } do
            = link_to _("Services"), backoffice_services_path, class: "nav-link", data: { e2e: "owned-services" }
          - if policy([:backoffice, Provider]).index?
            = nav_link controller: :providers, html_options: { class: "nav-item" } do
              = link_to _("Providers"), backoffice_providers_path(page: nil), class: "nav-link", data: { e2e: "providers" }
          - if policy([:backoffice, Catalogue]).index?
            = nav_link controller: :catalogues, html_options: { class: "nav-item" } do
              = link_to _("Catalogues"), backoffice_catalogues_path(page: nil), class: "nav-link", data: { e2e: "catalogues" }
          = nav_link controller: :statistics, html_options: { class: "nav-item" } do
            = link_to _("Statistics"), backoffice_statistics_path, class: "nav-link", data: { e2e: "statistics" }
          - if current_user&.service_portfolio_manager?
            = nav_link controller: :scientific_domains,
            html_options: { class: "nav-item #{"active" if controller.controller_name.in? other_settings}" } do
              = link_to _("Other settings"), backoffice_scientific_domains_path,
              class: "nav-link", data: { e2e: "other_settings" }
