.container
  %nav.navbar.navbar-expand-lg.navbar-light.bg-light
    = link_to backoffice_path, class: 'navbar-brand' do
      %strong EOSC
      Portal Backoffice
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent",
       "aria-expanded" => "false", "aria-label" => "Toggle navigation",
       "data-target" => "#navbarSupportedContent",
       "data-toggle" => "collapse", type: "button"}
      %span.navbar-toggler-icon

    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto.pt-2
        = nav_link controller: :backoffices do
          = link_to "Getting Started", backoffice_path, class: "nav-link px-3 py-1"
        = nav_link controller: :services do
          = link_to "Owned Services", backoffice_services_path, class: "nav-link px-3 py-1"
        = nav_link controller: :home do
          = link_to "EOSC Portal", root_path, class: "nav-link px-3 py-1"
        %li.nav-item
          = link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link px-3 py-1"

