= render "layouts/sections", section: :backoffice
.container
  %nav.navbar.navbar-expand-lg.navbar-light
    = link_to root_path, class: "navbar-brand col-12 col-lg-3 pl-0" do
      = image_pack_tag "eosc-logo-color-backoffice.png"

    %button.navbar-toggler{ "aria-controls" => "navbar-supported-content",
                            "aria-expanded" => "false", "aria-label" => "Toggle navigation",
                            "data-target" => "#navbar-supported-content",
                            "data-toggle" => "collapse",
                             type: "button" }
      %span.navbar-toggler-icon

    #navbar-supported-content.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto.pt-2
        = nav_link controller: :backoffices, html_options: { class: "nav-item" } do
          = link_to "Getting Started", backoffice_path, class: "nav-link px-2 py-1"
        = nav_link controller: :services, html_options: { class: "nav-item" } do
          = link_to "Owned Services", backoffice_services_path, class: "nav-link px-2 py-1"
        - if policy([:backoffice, ResearchArea]).index?
          = nav_link controller: :research_areas, html_options: { class: "nav-item" } do
            = link_to "Research Areas", backoffice_research_areas_path, class: "nav-link px-2 py-1"
        - if policy([:backoffice, Category]).index?
          = nav_link controller: :categories, html_options: { class: "nav-item" } do
            = link_to "Categories", backoffice_categories_path, class: "nav-link px-2 py-1"
        - if policy([:backoffice, Provider]).index?
          = nav_link controller: :providers, html_options: { class: "nav-item" } do
            = link_to "Providers", backoffice_providers_path, class: "nav-link px-2 py-1"
        - if policy([:backoffice, Platform]).index?
          = nav_link controller: :platforms, html_options: { class: "nav-item" } do
            = link_to "Platforms", backoffice_platforms_path, class: "nav-link px-2 py-1"
        %li.nav-item
          = link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link px-2 py-1"

