= link_to _("Scientific Domains"), backoffice_other_settings_scientific_domains_path,
  class: "#{"active" if controller.controller_name == "scientific_domains"}", data: { e2e: "scientific_domains" }
= link_to _("Categories"), backoffice_other_settings_categories_path,
  class: "#{"active" if controller.controller_name == "categories"}", data: { e2e: "categories" }
= link_to _("Platforms"), backoffice_other_settings_platforms_path,
  class: "#{"active" if controller.controller_name == "platforms"}", data: { e2e: "platforms" }
= link_to _("Vocabularies"), backoffice_other_settings_vocabularies_path,
  class: "#{"active" if controller.controller_name == "vocabularies"}", data: { e2e: "vocabularies" }
