Dear #{@user.full_name},
\
Your order #{@project_item.service.name} is approved.
\
This is to inform you that the service order #{@project_item.service.name}
has been accepted and is currently being processed. We will notify you when the service order is ready.
\
You can always track your order details using this link - #{project_service_url(@project, @project_item)}.
\
In the meantime, if you have any questions, you can send a message via Marketplace platform
to a service provider using this link - #{project_service_conversation_url(@project, @project_item)}.
\
Please note that you can’t reply to this message.
