%p Dear #{@user.full_name},
%p
  Your service #{link_to @project_item, project_service_url(@project, @project_item)} status was changed from
  "#{@previous_status}" to "#{@current_status}".
%p You can check your project_item details using this #{link_to "link", project_service_url(@project, @project_item)}.


