Dear #{@user.full_name},
\
Your service #{@project_item} status was changed from "#{@previous_status}" to "#{@current_status}".
\
You can check your project_item details using this #{project_service_url(@project, @project_item)} link.
