= f.input :values, input_html: { data: { choice: true }, value: parameter.values&.join(",") }
.row
  .col
    = f.input :value_type, collection: %w[string integer]
  .col
    = f.input :unit
.row
  .col
    = f.input :min, label: "Minimum items to choose"
  .col
    = f.input :max, label: "Maximum items to choose"
