= f.input :unit
.row
  .col
    = f.input :min
  .col
    = f.input :max
.row
  .col
    = f.input :exclusive_min, as: :boolean, include_hidden: true
  .col
    = f.input :exclusive_max, as: :boolean, include_hidden: true
