.modal-info.mb-4
  %p
    We will send your question to our customer service.
    %br
    You will receive an answer to your email address.
= simple_form_for report, remote: true, url: reports_path,
  html: { role: "form", id: "modal-form",
        data: { action: "submit" } }  do |f|
  - unless current_user
    = f.input :author, label: t("simple_form.labels.question.author")
    = f.input :email, as: :email
  = f.input :text, as: :text, input_html: { rows: 6 },
                label: t("simple_form.labels.report.text"),
                hint: t("simple_form.hints.report.text", email: current_user&.email || "your")
  #recaptcha= recaptcha_tags
