.container
  - breadcrumb :profile

  %h1 Profile

  = render "basic_information"

  .row
    .col-6
      %h2
        %span Additional information
        %span= link_to "Edit", edit_user_path, class: "btn btn-secondary"
      %h5 Categories of interests
      %ul
        - current_user.categories.each do |category|
          %li= category.name

      %h5 Research areas of interests
      %ul
        - current_user.research_areas.each do |ra|
          %li= ra.name
    .col-6
      %h2
        %span Email notifications
        %span= link_to "Edit", edit_user_path, class: "btn btn-secondary"
      %h5 You are signed up to receive an updates about new EOSC Services in your:
      %ul
        - if current_user.categories_updates
          %li Category of interests
        - if current_user.research_areas_updates
          %li Research area of interests
      %p.small
        You can add or remove notification channel
        at any time by editing your subscribe preferences.
