= simple_form_for raid_project, remote: local_assigns[:show_as_modal],
    html: { role: "form", id: "modal-form", "data-controller" => "raid-project",
            "data-raid-project-target": "form", "data-raid-project-url-value": ror_autocomplete_url } do |f|
  %div{ data: {"raid-form-target": "section", section: "project-details" } }
    = render "raid_projects/form/step_one", f: f, raid_project: raid_project
  %div{ data: {"raid-form-target": "section", section: "contributors" } }
    = render "raid_projects/form/step_two",  f: f, raid_project: raid_project
  %div{ data: {"raid-form-target": "section", section: "organisations" } }
    = render "raid_projects/form/step_three",  f: f, raid_project: raid_project
  %div{ data: {"raid-form-target": "section", section: "access" } }
    = render "raid_projects/form/step_four", f: f, obj: raid_project.raid_access
