- content_for :title, _("Your RAID Project")
.container
  .mb-4.pb-4.border-header
    %h1.mr-auto.my-auto= _("Your RAID Project")

  %div
    %strong Main title:
    %p
      = @raid_project&.main_title&.text
      = @raid_project&.main_title&.start_date
      = @raid_project&.main_title&.end_date
  - if @raid_project.alternative_titles.present?
    %div
      %strong Alternative Titles:
      - @raid_project.alternative_titles.each do |title|
        %p
          = title.text
          = title.start_date
          = title.end_date
  %div
    %strong Duration:
    = @raid_project.start_date
    - if @raid_project.end_date
      \- #{@raid_project.end_date}
  - if @raid_project.main_description.present?
    %div
      %strong Description: #{@raid_project.main_description.text}
  %div
    %strong
    - @raid_project.contributors.each do |contributor|
      %p
        = contributor.pid_type
        = contributor.pid
      %p Contact: #{contributor.contact}
      %p Leader: #{contributor.leader}
      %p
        %strong Position: #{contributor.position&.pid}
      %div
        Roles:
        - contributor.roles.each do |role|
          %p= role
      %hr
  %div
    %strong
      Organisations
    - @raid_project.raid_organisations.each do |organisation|
      %p
        = organisation&.pid
        %strong Position:
        = organisation&.position&.pid
  = link_to "View All", raid_projects_path
  = link_to "Update", edit_raid_project_path(@raid_project.id)
  = link_to "Delete", @raid_project, data: { "turbo-confirm": "Are you sure?", "turbo-method": :delete }, class: "btn btn-danger"
