%h5.font-weight-bold.projects-title.text-uppercase My projects
- if projects.active.any?
  %ul.nav.flex-column.project-menu.pb-2
    - projects.active.each do |project|
      %li.nav-item.text-break.project-listing-item
        = link_to project.name,
          [project, :services],
          class: "nav-link #{"active" if project == current}"
        - if project.user_has_new_messages? || project.items_have_new_messages?
          = image_pack_tag "ico_message.svg", class: "new-message-icon"

= link_to (("Create new project")), new_project_path, class: "btn btn-sm btn-primary mt-3 text-center w-100",
  "data-e2e" => "goToNewProjectFormBtn"

- if projects.archived.any?
  %h5.mt-5.font-weight-bold.projects-title.text-uppercase My archived projects
  %ul.nav.flex-column.project-menu.pb-2
    - projects.archived.each do |project|
      %li.nav-item
        = link_to project.name, [project, :services],
          class: "nav-link #{"active" if project == current}"
