%footer.footer.pt-3.pb-3
  - portal_base = Mp::Application.config.portal_base_url
  .container
    %a.arrow-up{ href: "#top" }
    .row.h-100
      .col-md-3.my-auto
        %a.eosc-logo-mono.d-block{ href: portal_base }
          = image_tag "white-label-logo.png"
      .col-md-9.my-auto.copyright
        %span.copy-text
          = _("Copyright 2024 - All rights reserved")
        %a.ml-4.text-uppercase{ href: "https://eosc-portal.eu/privacy-policy-summary" }
          = _("privacy policy")
    %hr.mb-4
    .row
      .col-md
        %ul
          %li
            .title
              %a{ href: "#{portal_base}/about-eosc-portal" }
                = _("About")
          %li.mb-1
            %a{ href: "#{portal_base}/about/eosc" }
              = _("EOSC")
          %li.mb-1
            %a{ href: "#{portal_base}/about-eosc-portal" }
              = _("EOSC Portal")
          %li.mb-1
            %a{ href: "#{portal_base}/about/eosc-doers" }
              = _("EOSC Doers")
          %li.mb-1
            %a{ href: "#{portal_base}/glossarry" }
              = _("EOSC Glossary")
          %li.mb-1
            %a{ href: "#{portal_base}/about/eosc-projects" }
              = _("EOSC Projects")
          %li.mb-1
            %a{ href: "#{portal_base}/governance" }
              = _("EOSC Governance")
          %li.mb-1
            %a{ href: "#{portal_base}/about/faqs" }
              = _("EOSC Portal FAQs")
          %li.mb-1
            %a{ href: "#{portal_base}" }
              = _("EOSC Association")
          %li.mb-1
            %a{ href: "#{portal_base}/enhance" }
              = _("EOSC Enhance")
      .col-md.resources
        %ul
          %li
            .title
              %a{ href: "#{portal_base}/services-resources" }
                = _("Services & Resources")
          - Category.roots.partition { |sd|  sd.name != "Other" }.flatten(1).each do |category|
            %li.mb-1
              = link_to category.name, category_path(category)
          %li.mb-1
            %a{ href: "#{portal_base}/helpdesk" }
              = _("Help Desk")
      .col-md
        %ul
          %li
            .title
              = _("Policy")
          %li.mb-1
            %a{ href: "#{portal_base}/policy/europe" }
              = _("Europe")
          %li.mb-1
            %a{ href: "#{portal_base}/policy/eu-member-states" }
              = _("Member States")
      .col-md
        %ul
          %li
            .title
              = _("Use Cases")
          %li.mb-1
            %a{ href: "#{portal_base}/eosc-in-practice/use-cases" }
              = _("Community Use Cases")
          %li.mb-1
            %a{ href: "#{portal_base}/eosc-in-practice/open-call" }
              = _("Submit Use Case")
          %li.mb-1
            %a{ href: "#{portal_base}/industry-use-cases" }
              = _("Industry Use Case")
      .col-md
        %ul
          %li
            .title
              = _("Media")
          %li.mb-1
            %a{ href: "#{portal_base}/media/news" }
              = _("News")
          %li.mb-1
            %a{ href: "#{portal_base}/media/events" }
              = _("Forthcoming events")
          %li.mb-1
            %a{ href: "#{portal_base}/media/past-events" }
              = _("Past Events")
          %li.mb-1
            %a{ href: "#{portal_base}/contribute-to-eosc" }
              = _("Submit your News/Event")
          %li.mb-1
            = _("Documents")
          %li.mb-1
            %a{ href: "#{portal_base}/documents/ec-documents" }
              = _("European Commission")
          %li.mb-1
            %a{ href: "#{portal_base}/documents/community" }
              = _("Community")
          %li.mb-1
            %a{ href: "#{portal_base}/documents/member-states" }
              = _("Member States")
      .col-md
        %ul
          %li.mb-1
            .title
              %a{ href: "#{portal_base}/for-providers" }
                = _("For providers")
          %li.mb-1
            %a{ href: "#{portal_base}/providers-documentation" }
              = _("Providers Documentation")
      .col-md
        %ul
          %li.mb-1
            .title
              %a{ href: "#{portal_base}/subscribe" }
                = _("Subscribe")
      .col-md
        %ul
          %li.mb-1
            .title
              %a{ href: "#{portal_base}/using-the-portal" }
                = _("Using the Portal")

    .row.mt-4.socials
      .col-md-6
        %a.social-logo.twitter-logo.d-inline-block.mr-2{ href: "https://twitter.com/EoscPortal" }
        %a.social-logo.yt-logo.d-inline-block{ href: "https://www.youtube.com/channel/UCHsaUFy5LJ3rJ28qDg2StGA" }

.eu-information.p-4
  .container
    %p.mb-1
      -# haml-lint:disable MultilinePipe
      = _("The EOSC Portal is operated by the EOSC Enhance (Grant Agreement no. 871160), " + |
          "EOSC-hub (Grant Agreement no. 777536), and OpenAIRE-Advance (Grant Agreement no. 777541) " + |
          "projects funded by the European Union’s Horizon 2020 research and innovation programme." + |
          "For a complete list of contributors, visit the ") |
      -# haml-lint:enable MultilinePipe
      = link_to _("About EOSC Portal"), "https://www.eosc-portal.eu/about-eosc-portal"
