%footer.footer.pt-5.pb-3
  - portal_base = Mp::Application.config.portal_base_url
  .container
    .row
      .col-md-4
        .egi-logo-mono.d-block{ href: portal_base }
          = image_tag "egi-footer-logo.png"
      .col-md-2
        %ul
          %li
            .title= _("Information")
          %li
            %a{ href: "#" }= _("Contact us")
          %li
            %a{ href: "#" }= _("Terms and conditions")
          %li
            %a{ href: "#{root_url}about" }= _("About us")
          %li
            %a{ href: "#" }= _("SLA")
          %li
            %a{ href: "#" }= _("Sitemap")


      .col-md-2
        %ul
          %li
            .title= _("My account")
          %li
            %a{ href: "#" }= _("My orders")
          %li
            %a{ href: "#" }= _("My credit slips")
          %li
            %a{ href: "#" }= _("My addresses")
          %li
            %a{ href: "#" }= _("My personal info")
      .col-md-4
        %ul.contact-list
          %li
            .title= _("Store information")
          %li
            %i.fas.fa-map-marker
            = _("EGI Foundation, Science Park 140 1098 XG Amsterdam The Netherlands")
          %li
            %i.fas.fa-phone-alt
            = _("Phone number: +31 (0)20 89 32 007")
          %li
            %i.fas.fa-envelope
            = _("E-mail: marketplace-support@mailman.egi.eu")


    %hr.mb-4
    .row.h-100
      .col-md-3.my-auto.socials-box
        %a.social-logo.twitter-logo.d-inline-block.mr-2{ href: "https://twitter.com/egi_einfra" }
        %a.social-logo.linkedin-logo.d-inline-block{ href: "https://www.linkedin.com/company/egi-foundation" }
      .col-md-9.my-auto.copyright
        %span.copy-text
          = _("Copyright 2024 - All rights reserved")
        %a.ml-4{ href: "https://eosc-portal.eu/privacy-policy-summary" }
          = _("Privacy policy")


.eu-information.p-4
  .container
    %p.mb-1
      = image_tag "egi-ue-info.png"
