%footer.footer.pt-5.pb-3
  - portal_base = Mp::Application.config.portal_base_url
  .container
    .row
      .col-md-2
        %ul
          %li
            .title= _("Support")
          %li
            %a{ href: "#" }= _("Contact support")
      .col-md-2
        %ul
          %li
            .title= _("About")
          %li
            %a{ href: "#" }= _("EGI Marketplace")
          %li
            %a{ href: "#" }= _("EGI Foundation")
      .col-md-3.border-right
      .col-md-3
        %ul
          %li
            .row
              .col-3.mr-0
                = image_tag "eu-logo.png", size: "70x40", class: "border"
              .col-9.ml-0
                %h3.text-left= _("Co-funded by the European Union")
          %li.funder-links
            Marketplace is an EGI service provided by
            %a{ href: "https://www.cyfronet.pl/" } Cyfronet
            co-funded by
            %a{ href: "https://www.egi.eu/" } EGI.eu
            and
            %a{ href: "https://www.egi.eu/project/egi-ace/" } EGI-ACE
            under Grant Agreement No. 101017567
      .col-md-2
        .egi-logo-mono.text-center.d-block.mb-4{ href: portal_base }
          = image_tag "egi-footer-logo.png", size: "90x75"
        .my-auto.text-center
          %a.social-logo.d-inline-block.mr-2{ href: "https://twitter.com/egi_einfra" }
            %i.fab.fa-twitter
          %a.social-logo.d-inline-block{ href: "https://www.linkedin.com/company/egi-foundation" }
            %i.fab.fa-linkedin
          %a.social-logo.d-inline-block{ href: "https://www.youtube.com/c/EGIFederation/" }
            %i.fab.fa-youtube

    .mb-4
    .row.h-100
      .col-md-4.my-auto.socials-box
        %a.pr-3.border-right{ href: "#" }= _("terms of use")
        %a.pl-2.pr-3.border-right{ href: "#" }= _("data protection")
        %a.pl-2{ href: "#" }= _("certifications")
