%head
  %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }/
  %meta{ charset: "utf-8" }/
  %meta{ content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport" }/
  %title= _("EGI Marketplace")
  = csrf_meta_tags
  = csp_meta_tag
  = favicon_link_tag "favicon.ico"
  = favicon_link_tag "favicon-180x180.png", rel: "apple-touch-icon", type: "image/png"
  = stylesheet_link_tag "application"
  = javascript_include_tag "application"
  = yield :custom_scripts if content_for?(:custom_scripts)
  -# if Rails.env.production?
    = render "layouts/version"
    = render "layouts/matomo"
    = render "layouts/google_analytics"
    = render "layouts/hotjar_trackingcode"
