= render "layouts/sections"

#mynav.overlay
  %a.closebtn{ "href": "javascript:void(0)", "onclick": "closeNav()" }
  .overlay-content
    .mobile-links
      %ul
        - if !user_signed_in?
          %li
            = link_to user_checkin_omniauth_authorize_path, class: "btn btn-primary" do
              Login to EOSC marketplace
        - else
          %li
            %a.simple-item{ href: "/projects" } My projects
          %li
            %a.simple-item{ href: "/profile" } Profile
          %li
            = link_to "Logout", destroy_user_session_path, method: :delete,
            class: "btn btn-primary font-weight-bold mt-5 logout-link"

    .bottom-links
      .container
        %ul.list-inline.mb-0
          %li.list-inline-item.ml-2
            %a{ href: "https://www.eosc-portal.eu/contact-us" } Contact us
          %li.list-inline-item.ml-2
            %a{ href: Mp::Application.config.portal_base_url } Portal Home
          %li.list-inline-item.ml-2
            = link_to "Catalogue & Marketplace", root_path,
              class: "#{"active" if local_assigns[:section] == nil}"
          %li.list-inline-item.ml-2
            %a{ href: Mp::Application.config.providers_dashboard_url } Providers Dashboard
          - if policy([:backoffice, :backoffice]).show?
            %li.list-inline-item.ml-2
              = link_to "Backoffice", backoffice_path,
                class: "#{"active" if local_assigns[:section] == :backoffice}"
          - if policy([:admin, :admin]).show?
            %li.list-inline-item.ml-2
              = link_to "Admin", admin_path, section: "admin",
                class: "#{"active" if local_assigns[:section] == :admin}"

.container
  %section.header
    .logo
      = link_to root_path do
        = image_tag "eosc-logo-color.png", class: "eosc-hub-logo-main"
        .logo-bg


    = render "services/search", categories: categories

    .menu.dropdown

      - if !user_signed_in?
        = link_to user_checkin_omniauth_authorize_path, class: "menu__label menu__label--unauth" do
          My EOSC Marketplace

      - else
        %a#dropdown-menu-button.dropdown-toggle{ "aria-expanded" => "false",
                                                      "aria-haspopup" => "true",
                                                      "data-toggle" => "dropdown",
                                                      type: "button" }
          .menu__label My EOSC Marketplace
        .dropdown-menu
          %ul
            %li
              %a.dropdown-item{ href: "/projects" } My projects
            %li
              %a.dropdown-item{ href: "/profile" } Profile


      .menu__hamburger{ "onclick": "openNav()" }
        %span
        %span
        %span

