= render "layouts/sections"
.container.pl-0.pr-0
  %nav.navbar.navbar-expand-lg.pl-0.pr-0
    = link_to root_path, class: "navbar-brand col-12 col-lg-3 pl-0" do
      = image_tag "eosc-logo-color.png"
      .logo-bg
    .col-10.col-lg-6.pr-0
      = render "services/search", categories: categories

    %button.navbar-toggler.col-2{ "aria-controls" => "main-navbar",
                           "aria-expanded" => "false",
                           "aria-label" => "Toggle navigation",
                           "data-target" => "#main-navbar",
                           "data-toggle" => "collapse",
                           type: "button" }
      %i.fas.fa-bars

    #main-navbar.collapse.navbar-collapse.col-3.pl-0.main-nav
      %ul.navbar-nav.ml-auto.pt-2.d-flex.flex-wrap.d-sm-none.d-xs.none.d-md-none.d-lg-block
        - if !user_signed_in?
          %li.nav-item.ml-1
            = link_to user_checkin_omniauth_authorize_path, class: "nav-link d-block mb-2" do
              %i.fas.fa-lock
              Login
        - else
          %li.nav-item.ml-1.dropdown
            %a.nav-link.px-2.py-1.dropdown-toggle{ "data-toggle": "dropdown", "aria-expanded": "false" }
              %i.fas.fa-chevron-down.d-lg-none.mr-2
              %i.fas.fa-chevron-up.d-lg-none.mr-2
              My EOSC Marketplace
            .dropdown-menu.ml-4.ml-lg-0.shadow
              %a.dropdown-item{ href: "/projects" } My projects
              %a.dropdown-item{ href: "/profile" } Profile

              - if user_signed_in?
                .login-link.dropdown-item
                  = link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-primary d-block mb-2"

      %ul.navbar-nav.ml-auto.pt-2.d-flex.flex-wrap.d-md-block.d-lg-none
        - if !user_signed_in?
          %li.nav-item.ml-1
            = link_to "Login", user_checkin_omniauth_authorize_path, class: "nav-link d-block mb-2"
        - else
          %li.nav-item.ml-1
            %a.dropdown-item{ href: "/projects" } My projects
          %li.nav-item.ml-1
            %a.dropdown-item{ href: "/profile" } Profile
          %li.nav-item.ml-1
            - if user_signed_in?
              .login-link.dropdown-item
                = link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-primary d-block mb-2"
