%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  = link_to root_path, class: 'navbar-brand' do
    %strong EOSC
    Portal
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent",
    "aria-expanded" => "false", "aria-label" => "Toggle navigation",
    "data-target" => "#navbarSupportedContent",
    "data-toggle" => "collapse", type: "button"}
    %span.navbar-toggler-icon

  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.ml-auto
      = nav_link controller: :home do
        = link_to "Getting Started", root_path, class: "nav-link"
      = nav_link controller: [:services, :categories] do
        = link_to "Services", services_path, class: "nav-link"
      %li.nav-item
        = link_to "Data", root_path, class: "nav-link"
      %li.nav-item
        = link_to "Policies", root_path, class: "nav-link"
      %li.nav-item
        = link_to "Partners", root_path, class: "nav-link"
      %li.nav-item
        = link_to "Support", root_path, class: "nav-link"
      - if user_signed_in?
        = nav_link controller: :orders do
          = link_to "My Services", orders_path, class: "nav-link"
        = nav_link controller: :profiles do
          = link_to "My profile", profile_path, class: "nav-link"
      %li.nav-item
        - if user_signed_in?
          = link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link"
        - else
          = link_to "Login/Sign-up", user_checkin_omniauth_authorize_path, class: "nav-link"
      %li.nav-item
        = link_to root_path, class: "nav-link" do
          %i.fas.fa-shopping-cart
