.container
  %nav.navbar.navbar-expand-lg.navbar-light.bg-light
    = link_to root_path, class: "navbar-brand" do
      %strong EOSC
      Portal
    %button.navbar-toggler{ "aria-controls" => "navbar-supported-content",
                           "aria-expanded" => "false",
                           "aria-label" => "Toggle navigation",
                           "data-target" => "#navbar-supported-content",
                           "data-toggle" => "collapse",
                           type: "button" }
      %span.navbar-toggler-icon

    #navbar-supported-content.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto.pt-2
        = nav_link controller: :home do
          = link_to "Getting Started", root_path, class: "nav-link px-3 py-1"
        = nav_link controller: [:services, :categories] do
          = link_to "Services", services_path, class: "nav-link px-3 py-1"
        %li.nav-item
          = link_to "Data", root_path, class: "nav-link px-3 py-1"
        %li.nav-item
          = link_to "Policies", root_path, class: "nav-link px-3 py-1"
        %li.nav-item
          = link_to "Partners", root_path, class: "nav-link px-3 py-1"
        %li.nav-item
          = link_to "Support", root_path, class: "nav-link px-3 py-1"
        - if user_signed_in?
          = nav_link controller: :project_items do
            = link_to "My Services", project_items_path, class: "nav-link px-3 py-1"
          = nav_link controller: :profiles do
            = link_to "My profile", profile_path, class: "nav-link px-3 py-1"
        - if policy([:backoffice, :backoffice]).show?
          %li.nav-item
            = link_to "Backoffice", backoffice_path, class: "nav-link px-3 py-1"
        %li.nav-item
          - if user_signed_in?
            = link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link px-3 py-1"
          - else
            = link_to "Login/Sign-up", user_checkin_omniauth_authorize_path, class: "nav-link px-3 py-1"
