.bg-light.pt-1.pb-1
  .container.text-right.pr-1
    %ul.list-inline.mb-0.font-weight-light
      = nav_link controller: :home, html_options: { class: "list-inline-item ml-2" } do
        = link_to "Getting started", root_path
      - if user_signed_in?
        = nav_link controller: :orders, html_options: { class: "list-inline-item ml-2" } do
          = link_to "My Services", projects_path
        = nav_link controller: :profiles, html_options: { class: "list-inline-item ml-2" } do
          = link_to "Profile", profile_path
        - if policy([:backoffice, :backoffice]).show?
          %li.list-inline-item.ml-2
            = link_to "Backoffice", backoffice_path
        - if policy([:admin, :admin]).show?
          %li.list-inline-item.ml-2
            = link_to "Admin", admin_path
        %li.list-inline-item.ml-2
          = link_to "Logout", destroy_user_session_path, method: :delete
      - else
        %li.list-inline-item.ml-2
          = link_to "Login/Sign-up", user_checkin_omniauth_authorize_path
.container.pl-0.pr-0
  %nav.navbar.navbar-expand-lg.pl-0.pr-0
    = link_to root_path, class: "navbar-brand mr-3" do
      = image_tag "eosc-logo-color.png"
    %button.navbar-toggler{ "aria-controls" => "main-navbar",
                           "aria-expanded" => "false",
                           "aria-label" => "Toggle navigation",
                           "data-target" => "#main-navbar",
                           "data-toggle" => "collapse",
                           type: "button" }
      %i.fas.fa-bars

    #main-navbar.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto.pt-2.d-flex.flex-wrap
        %li.nav-item.ml-1.dropdown
          %a.nav-link.px-2.py-1.dropdown-toggle{ "data-toggle": "dropdown", "aria-expanded": "false" }
            %i.fas.fa-chevron-down.d-lg-none.mr-2
            %i.fas.fa-chevron-up.d-lg-none.mr-2
            About
          .dropdown-menu.ml-4.ml-lg-0.shadow-sm
            %a.dropdown-item{ href: "https://eoscportal.trust-itservices.com/about/eosc" } EOSC
            %a.dropdown-item{ href: "https://eoscportal.trust-itservices.com/about/eosc-projects" } EOSC Projects
            %a.dropdown-item{ href: "https://eoscportal.trust-itservices.com/about/eosc-members" } EOSC Members
            %a.dropdown-item{ href: "https://eoscportal.trust-itservices.com/about/funding-opportunities" }
              Funding Opportunities
            %a.dropdown-item{ href: "https://eoscportal.trust-itservices.com/about/faqs" } FAQs
            %a.dropdown-item{ href: "https://eoscportal.trust-itservices.com/contact-us" } Contact us
        %li.nav-item.ml-1.dropdown
          %a.nav-link.px-2.py-1.dropdown-toggle{ "data-toggle": "dropdown", "aria-expanded": "false" }
            %i.fas.fa-chevron-down.d-lg-none.mr-2
            %i.fas.fa-chevron-up.d-lg-none.mr-2
            Governance
          .dropdown-menu.ml-4.ml-lg-0.shadow-sm
            %a.dropdown-item{ href: "https://eoscportal.trust-itservices.com/governance" } EOSC Governance
            %a.dropdown-item{ href: "https://eoscportal.trust-itservices.com/governance/rules-participation" }
              Rules of participation
            %a.dropdown-item{ href: "https://eoscportal.trust-itservices.com/governance/best-practices" } Best Practices
        %li.nav-item.ml-1.dropdown
          %a.nav-link.px-2.py-1.dropdown-toggle{ href: url_for(services_path), "aria-expanded": "true" }
            %i.fas.fa-chevron-up.d-lg-none.mr-2
            Services & Resources
          .dropdown-services.dropdown-menu.ml-4.ml-lg-0.shadow-sm
            %small.text-uppercase.font-weight-bold.pl-2 Portal
            %a.dropdown-item{ href: "http://eoscportal.trust-itservices.com/services-resources/sharing-discovery" }
              Sharing & Discovery
            %a.dropdown-item{ href: "http://eoscportal.trust-itservices.com/services-resources/processing-analysis" }
              Processing & Analysis
            %a.dropdown-item{ href: "http://eoscportal.trust-itservices.com/services-resources/data-management" }
              Data Management
            %a.dropdown-item{ href: "http://eoscportal.trust-itservices.com/services-resources/compute" } Compute
            %a.dropdown-item{ href: "http://eoscportal.trust-itservices.com/services-resources/storage" } Storage
            %a.dropdown-item{ href: "http://eoscportal.trust-itservices.com/services-resources/networking" } Networking
            %a.dropdown-item{ href: "http://eoscportal.trust-itservices.com/services-resources/training" } Training
            %a.dropdown-item{ href: "http://eoscportal.trust-itservices.com/services-resources/security-operations" }
              Security & Operations
            %a.dropdown-item{ href: "http://eoscportal.trust-itservices.com/services-resources/thematic-services" }
              Thematic Services

            %small.text-uppercase.font-weight-bold.pl-2 Marketplace
            - @root_categories.each do |root_category|
              = link_to root_category.name, root_category, class: "dropdown-item"
        %li.nav-item.ml-1.dropdown
          %a.nav-link.px-2.py-1.dropdown-toggle{ "data-toggle": "dropdown", "aria-expanded": "false" }
            %i.fas.fa-chevron-down.d-lg-none.mr-2
            %i.fas.fa-chevron-up.d-lg-none.mr-2
            Policy
          .dropdown-menu.ml-4.ml-lg-0.shadow-sm
            %a.dropdown-item{ href: "https://eoscportal.trust-itservices.com/policy/ec-documents" } EC Documents
            %a.dropdown-item{ href: "https://eoscportal.trust-itservices.com/policy/europe" } Europe
            %a.dropdown-item{ href: "https://eoscportal.trust-itservices.com/policy/eu-member-states" } Member States
        %li.nav-item.ml-1.dropdown
          %a.nav-link.px-2.py-1.dropdown-toggle{ "data-toggle": "dropdown", "aria-expanded": "false" }
            %i.fas.fa-chevron-down.d-lg-none.mr-2
            %i.fas.fa-chevron-up.d-lg-none.mr-2
            EOSC in Practice
          .dropdown-menu.ml-4.ml-lg-0.shadow-sm
            %a.dropdown-item{ href: "https://eoscportal.trust-itservices.com/eosc-in-practice/use-cases" } Use Cases
            %a.dropdown-item{ href: "https://eoscportal.trust-itservices.com/eosc-in-practice/open-call" } Open Call
        %li.nav-item.ml-1.dropdown
          %a.nav-link.px-2.py-1.dropdown-toggle{ "data-toggle": "dropdown", "aria-expanded": "false" }
            %i.fas.fa-chevron-down.d-lg-none.mr-2
            %i.fas.fa-chevron-up.d-lg-none.mr-2
            Media
          .dropdown-menu.ml-4.ml-lg-0.shadow-sm
            %a.dropdown-item{ href: "https://eoscportal.trust-itservices.com/media/news" } News
            %a.dropdown-item{ href: "https://eoscportal.trust-itservices.com/media/events" } Forthcoming Events
            %a.dropdown-item{ href: "https://eoscportal.trust-itservices.com/media/past-events" } Past Events
        %li.nav-item.ml-1
          %a.nav-link.pl-2.py-1.pr-1{ href: "https://eoscportal.trust-itservices.com/for-providers" } For providers
