.bg-light.pt-1.pb-1
  .container.text-right.pr-1.top-row
    %ul.list-inline.mb-0.font-weight-light
      %li.list-inline-item.ml-2
        %a{ href: "https://eoscportal.trust-itservices.com/" } EOSC Portal
      %li.list-inline-item.ml-2
        %a.active{ href: "/" } EOSC Marketplace
.container.pl-0.pr-0
  %nav.navbar.navbar-expand-lg.pl-0.pr-0
    = link_to root_path, class: "navbar-brand col-3 pl-0" do
      = image_tag "eosc-logo-color.png"
    %button.navbar-toggler{ "aria-controls" => "main-navbar",
                           "aria-expanded" => "false",
                           "aria-label" => "Toggle navigation",
                           "data-target" => "#main-navbar",
                           "data-toggle" => "collapse",
                           type: "button" }
      %i.fas.fa-bars

    = render "services/search"

    #main-navbar.collapse.navbar-collapse.col-3.pl-0
      %ul.navbar-nav.ml-auto.pt-2.d-flex.flex-wrap
        %li.nav-item.ml-1.dropdown
          %a.nav-link.px-2.py-1.dropdown-toggle{ "data-toggle": "dropdown", "aria-expanded": "false" }
            %i.fas.fa-chevron-down.d-lg-none.mr-2
            %i.fas.fa-chevron-up.d-lg-none.mr-2
            My EOSC Marketplace
          .dropdown-menu.ml-4.ml-lg-0.shadow
            %a.dropdown-item{ href: "/projects" } My services
            %a.dropdown-item{ href: "/profile" } Profile

            - if user_signed_in?
              .login-link.dropdown-item
                = link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-primary d-block mb-2"
            - else
              .login-link.dropdown-item
                = link_to "Login/Sign-up", user_checkin_omniauth_authorize_path, class: "btn btn-primary d-block mb-2"
