.modal-dialog.favourites-popup{ role: "document", "data-e2e": "favourites-popup" }
  .modal-content

    #form-modal-body.modal-body
      .row
        .col-4
          = image_tag "gfx_heart.svg", class: "img-fluid"
        .col-8
          %h3#popup-modal-title.modal-title
            = popup_title
          = popup_text
          .buttons-row
            - unless logged
              %button#popup-modal-btn.btn-sm.btn-primary.mr-3{ type: "button" }
                = link_to _("Sign in"), user_checkin_omniauth_authorize_path
            %button#popup-modal-action-btn.btn-sm.btn-primary{ type: "button", data: { dismiss: "modal",
            e2e: "favourites-popup-button-ok" } }
              = _("Ok")
