%nav.top
  .container
    %ul
      %li
        %a{ href: "https://www.eosc-portal.eu/contact-us" } Contact us
      %li
        %a{ href: Mp::Application.config.portal_base_url } Portal Home
      %li
        = link_to "Catalogue & Marketplace", root_path,
          class: "#{"active" if local_assigns[:section] == nil}"
      %li
        %a{ href: Mp::Application.config.providers_dashboard_url } Providers Dashboard
      - if policy([:backoffice, :backoffice]).show?
        %li
          = link_to "Backoffice", backoffice_path,
            class: "#{"active" if local_assigns[:section] == :backoffice}"
      - if policy([:admin, :admin]).show?
        %li
          = link_to "Admin", admin_path, section: "admin",
            class: "#{"active" if local_assigns[:section] == :admin}"
      - if policy([:executive, :executive]).show?
        %li
          = link_to "Executive", executive_path, section: "admin",
            class: "#{"active" if local_assigns[:section] == :executive}"
      - if !user_signed_in?
        %li
          %strong= link_to "Login", user_checkin_omniauth_authorize_path
      - else
        %li
          %i.fas.fa-user.mr-1
          #{"%s %s" % [current_user.first_name, current_user.last_name]}
        %li
          %strong= link_to "Logout", destroy_user_session_path, method: :delete
