.social-wrapper
  %ul
    %li
      = link_to "https://www.linkedin.com/company/eosc-beyond/" do
        = image_tag "socials-linkedin.svg", alt: "Linkedin"
    %li
      = link_to "https://www.youtube.com/channel/UCWj5vLL8OJ7I8fRPW3eTzDQ" do
        = image_tag "socials-youtube.svg", alt: "youtube"
    %li
      = link_to "https://bsky.app/profile/eosc-beyond.bsky.social" do
        = image_tag "socials-bsky.svg", alt: "bsky"
    %li
      = link_to "https://zenodo.org/communities/eoscbeyond" do
        = image_tag "socials-zenodo.svg", alt: "zenodo"
    %li
      = mail_to "eosc-beyond-po@mailman.egi.eu", subject: "EOSC Portal" do
        = image_tag "socials-mail.svg", alt: "email"
%nav
  = link_to "logout",
            destroy_user_session_path,
            data: { turbo_method: :delete, e2e: "logout" },
            id: "hidden-logout",
            class: "#{"d-none" unless Rails.env.test?}"
  %eosc-common-main-header.common-header{ username: current_user.present? ? current_user.full_name : "",
                                          "profile-links": eosc_commons_profile_links,
                                          "show-eosc-links": "true",
                                          "login-url": user_checkin_omniauth_authorize_url,
                                          "(on-logout)": "document.getElementById('hidden-logout').click()" }
