%nav.top
  .container
    %ul
      %li
        %a{ href: "https://www.egi.eu/about/egi-foundation/how-to-reach-the-egi-foundation/", target: "_blank" }
          = _("Contact us")
      - if policy([:backoffice, :backoffice]).show?
        %li
          = link_to _("Backoffice"), backoffice_path,
            class: "#{"active" if local_assigns[:section] == :backoffice}"
      - if policy([:admin, :admin]).show?
        %li
          = link_to _("Admin"), admin_path, section: "admin",
            class: "#{"active" if local_assigns[:section] == :admin}"
      - if policy([:executive, :executive]).show?
        %li
          = link_to _("Executive"), executive_path, section: "admin",
            class: "#{"active" if local_assigns[:section] == :executive}"
      - if user_signed_in?
        %li
          %i.fas.fa-user.mr-1
          = current_user.first_name
          = current_user.last_name
        %li
          %strong= link_to _("Logout"), destroy_user_session_path, method: :delete,
          data: { turbo_method: :delete, e2e: "logout" }
      - else
        %li
          %strong= link_to _("Login"), user_checkin_omniauth_authorize_path
