.bg-light.pt-1.pb-1
  .container.text-right.pr-1.top-row
    %ul.list-inline.mb-0
      %li.list-inline-item.ml-2
        %a{ href: "https://eosc-portal.eu" } EOSC Portal
      %li.list-inline-item.ml-2
        = link_to "EOSC Marketplace", root_path,
          class: "#{"active" if local_assigns[:section] == nil}"
      - if policy([:backoffice, :backoffice]).show?
        %li.list-inline-item.ml-2
          = link_to "Backoffice", backoffice_path,
            class: "#{"active" if local_assigns[:section] == :backoffice}"
      - if policy([:admin, :admin]).show?
        %li.list-inline-item.ml-2
          = link_to "Admin", admin_path, section: "admin",
            class: "#{"active" if local_assigns[:section] == :admin}"
