
%nav.backoffice
  .commons-header
    .eosc-common.top.white-label
      .container
        .left-links
          %a.header-logo-whitelabel{ href: root_path }
        %ul.menu.center-links
        %ul.right-links
          - if user_signed_in?
            %li
              %a#dropdown-menu-button.dropdown-toggle{ "aria-expanded" => "false",
                                                          "aria-haspopup" => "true",
                                                          "data-e2e" => "my-eosc-button",
                                                          "data-toggle" => "dropdown",
                                                          type: "button" }
                %i.fas.fa-user.mr-1
                #{current_user.first_name} #{current_user.last_name}
              .dropdown-menu
                %ul
                  %li
                    %a.dropdown-item.dropdown-projects{ href: "/projects" }
                      = _("My projects")
                  %li
                    %a.dropdown-item.dropdown-profile{ href: "/favourites", "data-e2e": "favourites" }
                      = _("Favourite services")
                  %li
                    %a.dropdown-item.dropdown-profile{ href: "/profile", "data-e2e": "profile" }
                      = _("Profile")
                  %li
                    %a.dropdown-item.dropdown-profile{ href: "/api_docs", "data-e2e": "marketplace-api" }
                      = _("Marketplace API")
                  - if policy([:backoffice, :backoffice]).show?
                    %li
                      %a.dropdown-item.dropdown-profile{ href: backoffice_path, "data-e2e": "backoffice" }
                        = _("Backoffice")
                  - if policy([:admin, :admin]).show?
                    %li
                      %a.dropdown-item.dropdown-profile{ href: admin_path }
                        = _("Admin")
            %li
              %strong= link_to _("Logout"), destroy_user_session_path, id: "logout-btn",
              data: { turbo_method: :delete, e2e: "logout" }
          - else
            %li
              %strong= link_to _("Login"), user_checkin_omniauth_authorize_path, "data-e2e": "login-btn"
