!!!
%html{ lang: "en" }
  = render "layouts/head"
  %body
    %header.pb-2
      - if ENV["MP_INSTANCE"]
        = render "layouts/badge"
      = render "layouts/admin/navbar"
      = render "layouts/flash"
    %main
      = render "layouts/breadcrumb"
      .container
        = yield

  %eosc-common-main-footer
  %eocs-common-eu-information

  - file_base = Mp::Application.config.eosc_commons_base_url + "index." + Mp::Application.config.eosc_commons_env
  %script{ src: file_base + ".min.js" }
  %link{ rel: "stylesheet", href: file_base + ".min.css" }
