!!!
%html{ lang: "en" }
  = render "layouts/head"
  %body
    %header.pb-2.white-bg
      = render "layouts/badge" if ENV["MP_INSTANCE"]
      = render "layouts/admin/navbar"
      = render partial: "layouts/flash"
    %main
      = render "layouts/breadcrumb"
      .container
        = yield
  = render "layouts/footer", root_categories: @root_categories
