!!!
%html{ lang: "en" }
  = render "layouts/head"
  %body
    %header.pb-2.white-bg
      = render "layouts/badge" if ENV["MP_INSTANCE"]
      = render "layouts/admin/navbar"
      = render partial: "layouts/flash"
      = render "layouts/confirm_modal"
    %main

      .container.backoffice
        = yield

  = render "layouts/eosc_commons_footer"

  - file_base = Mp::Application.config.eosc_commons_base_url + "index." + Mp::Application.config.eosc_commons_env
  %script{ src: file_base + ".min.js" }
  %link{ rel: "stylesheet", href: file_base + ".min.css" }
