!!!
%html{ lang: "en" }
  = render "layouts/head"
  %body
    %header.pb-2
      - if ENV["MP_INSTANCE"]
        = render "layouts/badge"
      = render "layouts/admin/navbar"
      = render "layouts/flash"
    %main
      = render "layouts/breadcrumb"
      .container
        = yield
  = render "layouts/footer", root_categories: @root_categories


