!!!
%html{lang: "en"}
  = render "layouts/head"
  %body
    %header.pt-2.pb-2
      = render "layouts/navbar"
      = render "layouts/flash"
      = render "services/search"
    %main
      = render "layouts/breadcrumb"
      = yield
  = render "layouts/footer"
