!!!
%html{ lang: "en" }
  = render "layouts/head"
  %body
    = render "layouts/flash"
    %header.pb-2
      = render "layouts/navbar",
        search_submit_path: @search_submit_path,
        categories: @siblings || @root_categories
    %main
      = render "layouts/breadcrumb"
      = yield
  = render "layouts/footer", root_categories: @root_categories
