!!!
%html{ lang: "en", class: "#{Rails.env}" }
  = render "layouts/head"
  .spinner-background
    .spinner
      %div
      %div
      %div
      %div
  %body{ class: ("main" if current_page?("/")) }
    - if current_page?("/")
      .main-elements
    - if ENV["MP_INSTANCE"]
      = render "layouts/badge"
    = render "layouts/flash"
    = render "layouts/welcome_modal"
    %header
      = render "layouts/navbar",
        categories: @siblings || @root_categories


    %main
      = render "layouts/breadcrumb"
      = yield

  = render "layouts/report", report: @report
  = render "layouts/modal"
  %eosc-common-main-footer
  = render "layouts/jira_collector"
  = tour @show_popup
  = render "layouts/recommendation"

  %script{ src: "https://s3.cloud.cyfronet.pl/eosc-portal-common/index.production.min.js" }
  %link{ rel: "stylesheet", href: "https://s3.cloud.cyfronet.pl/pr-105/eosc-portal-common/index.production.min.css" }

