!!!
%html{lang: "en"}
  = render "layouts/head"
  %body
    .container-fluid
      = render "layouts/navbar"
      %main
        = render "layouts/flash"
        = render "services/search"
        = render "layouts/breadcrumb"
        = yield
    = render "layouts/footer"
