!!!
%html{lang: "en"}
  = render "layouts/head"
  %body
    = render "layouts/navbar"
    %main
      .container-fluid
        = render "layouts/flash"
        = render "services/search"
        = render "layouts/breadcrumb"
        = yield
    = render "layouts/footer"
