!!!
%html{ lang: "en" }
  = render "layouts/head"
  %body
    %header.pb-2
      = render "layouts/backoffice/navbar"
      = render "layouts/flash"
    %main
      .container
        = render "layouts/breadcrumb"
        = yield
  = render "layouts/footer", root_categories: @root_categories

