!!!
%html{ lang: "en" }
  = render "layouts/head"
  %body
    %header.pt-2.pb-2
      = render "layouts/backoffice/navbar"
      = render "layouts/flash"
    %main
      = render "layouts/breadcrumb"
      = yield
  = render "layouts/footer", root_categories: @root_categories

