!!!
%html{ lang: "en" }
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }/
    %meta{ charset: "utf-8" }/
    %meta{ content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport" }/
    %title EOSC Marketplace - design system
    = csrf_meta_tags
    = csp_meta_tag
    = favicon_link_tag asset_path("favicon.ico")
    = favicon_link_tag asset_path("favicon-180x180.png"), rel: "apple-touch-icon", type: "image/png"
    = stylesheet_pack_tag "designsystem"
    = javascript_pack_tag "designsystem"
  %body
    = yield


