!!!
%html{ lang: "en" }
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }/
    %meta{ charset: "utf-8" }/
    %meta{ content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport" }/
    %title
      = _("Designsystem")
    = csrf_meta_tags
    = csp_meta_tag
    = favicon_pack_tag "favicon.ico"
    = favicon_pack_tag "favicon-180x180.png", rel: "apple-touch-icon", type: "image/png"
    = stylesheet_pack_tag "designsystem"
    = javascript_include_tag "designsystem"
  %body
    = yield
