!!!
%html{ lang: "en" }
  = render "layouts/head"
  %body
    %header.container
      %nav.navbar.navbar-expand-lg
        = link_to root_path, class: "navbar-brand mr-3" do
          = image_tag "eosc-logo-color.png"
        .text-right.flex-grow-1
          = link_to t("service.#{@service.service_type}.order.cancel"),
            service_cancel_path(@service),
            method: :delete, class: "text-uppercase align-middle"
          .ml-3.d-inline
            = yield :next_button
      = render "layouts/flash"
    %main.container.order-container
      %h1.font-weight-bold.mt-4
        = @service.title
      %p.summary= @service.tagline
      = yield
      %hr.bottom-hr.mt-5.mb-4
      .navbar.pr-0.pl-0
        .text-left.flex-grow-1
          = yield :back_link
        .ml-3.d-inline
          = yield :next_button

  = render "layouts/footer", root_categories: @root_categories
  = render "layouts/modal"

