!!!
%html{ lang: "en" }
  = render "layouts/head"
  %body
    %header.container
      %nav.navbar.navbar-expand-lg
        = link_to root_path, class: "navbar-brand mr-3" do
          = image_tag "eosc-logo-color.png"
        .text-right.flex-grow-1
          = yield :cancel_button
          = yield :next_button
      = render "layouts/flash"
    %main.container.order-container
      %h1
        = @service.title
      %p.summary= @service.tagline
      = yield
      %hr.bottom-hr
      .navbar.justify-content-end
        = yield :next_button

  = render "layouts/footer", root_categories: @root_categories

