!!!
%html{ lang: "en" }
  = render "layouts/head"
  %body
    = render "layouts/badge" if ENV["MP_INSTANCE"]
    %header.container.white-bg
      %nav.navbar.navbar-expand-lg
        = link_to root_path, class: "navbar-brand col-7 col-lg-3 pl-0" do
          = image_tag "eosc-logo-color.png", class: "eosc-hub-logo-main"
        .text-right.flex-grow-1.order-top-nav
          -# TODO: refactor dynamic translation
          = link_to @offer&.orderable? ? _("Cancel order and quit") : _("Cancel and quit"),
            service_cancel_path(@service),
            class: "text-uppercase align-middle", data: { probe: "",
                                                          "service-id": @service.id,
                                                          "turbo-method": :delete }
          .ml-3.d-inline
            %button.btn.btn-primary{ form: "order-form", onclick: go_to_next_step }= next_title
      #flash-messages.flash
        = render "layouts/flash"
      = turbo_frame_tag "modal"
    %main.container.order-container
      = render "layouts/order/nav", service: @service, wizard: @wizard
      = yield
      %hr.bottom-hr.mt-5.mb-4
      .navbar.pr-0.pl-0.order-bottom-nav
        .text-left.flex-grow-1
          = link_to prev_title, url_for([@service, prev_visible_step_key]),
          class: "text-uppercase", "data-probe": "" if prev_visible_step_key
        .ml-3.d-inline
          %button.btn.btn-primary{ form: "order-form", onclick: go_to_next_step }= next_title

  = render "layouts/eosc_commons_footer"
  = render "layouts/recommendation"

  - file_base = Mp::Application.config.eosc_commons_base_url + "index." + Mp::Application.config.eosc_commons_env
  %script{ src: file_base + ".min.js" }
  %link{ rel: "stylesheet", href: file_base + ".min.css" }
