.card.parameter-form.mb-2
  .card-body
    .card-title
      = t(".#{parameter.type}.title")
      .float-right
        %a{ "data-action": "offer#up" }
          %i.fas.fa-angle-up
        %a.mr-3{ "data-action": "offer#down" }
          %i.fas.fa-angle-down
        %a{ "data-action": "offer#remove" }
          %i.fas.fa-times
    .card-text
      = form.simple_fields_for :parameters, parameter, child_index: parameter.id do |f|
        = f.hidden_field :type
        = f.input :name
        = f.input :hint
        = render "parameters/template/#{parameter.type}", parameter: parameter, f: f
