.card.parameter-form
  .card-body
    .card-title
      = t("parameters.#{parameter.type}.title")
      .card-controls
        %a{ "data-action": "offer#remove" }
          %i.icon-remove
        %a.multi-collapse{ "data-toggle": "collapse", "data-target": ".multi-collapse",
        "aria-expanded": "true" }
          %i.icon-collapse
        %a{ "data-action": "offer#down" }
          %i.icon-down
        %a{ "data-action": "offer#up" }
          %i.icon-up

    .card-text.multi-collapse.show
      = form.simple_fields_for :parameters, parameter, child_index: parameter.id do |f|
        = f.hidden_field :type
        .row
          .col-6
            = f.input :name
          .col-6
            = f.input :hint, as: :text
        = render "parameters/template/#{parameter.type}", parameter: parameter, f: f
  .card-separator
